.domain .left, .domain .right {
    float: left;
}

.domain .left {
    text-align: center;
}

.domain .right {
    margin-left: 30px;
}

.domain {
    width: 720px;
    margin: 10px auto;
    padding: 10px;
    border: 1px solid #DFE6ED;
}

.domain .logo img {
    width: 60px;
    height: 60px;
}

.domain .status img {
    width: 22px;
    height: 22px;
}

.domain .action img {
    width: 22px;
    height: 22px;
}