html, body {
    background: none repeat scroll 0 0 #FFFFFF;
}


/* Begin system-info */
#system-info {
    margin: 10px auto;
    padding: 5px 50px 15px;
    /*border-top: 1px solid #DFE6ED;*/
    /*border-bottom: 1px solid #DFE6ED;*/
    width: 480px;
    /*background-color: #EDF5FF;*/
}
/* End system-info */




/* Begin luoyun-info */

#luoyun-info {
    margin: 0 auto;
    padding: 10px auto;
    /*border: 1px solid #DFE6ED;*/
    width: 760px;
}

#luoyun-info a {
    text-decoration: none;
}

#image, #node, #domain {
    float: left;
    padding: 5px;
    margin: 5px;
    width: 220px;
    height: 220px;
    text-align: center;
    border: 1px solid transparent;
    _border-color:tomato; /*For IE6-*/
    _filter:chroma(color=tomato);/*For IE6-*/
}

#luoyun-info .hover {
    border-top: 1px solid #DFE6ED;
    border-left: 1px solid #DFE6ED;
    border-right: 1px solid #DFE6ED;
    /*
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    */
}

#images-total, #nodes-total, #domains-total {
    font: 1.3em Helvetica;
    /*text-align: center;*/
    /*vertical-align: 100px;*/
}

#nodes-running, #domains-running {
    font-size: 1.2em;
    /*vertical-align: -1em;*/
}


#images-total:hover,
#nodes-total:hover,
#domains-total:hover,
#nodes-running:hover,
#domains-running:hover {
    /*font-size: 48px;*/
    background-color: #EDF5FF;
}

.zoneimage {
    height: 120px;
    width: 100px;
}

.zoneimage-in {
    height: 130px;
    width: 110px;
}

/* End luoyun-info */





/* Begin zone-info */

#zone-info {
    margin: 0 auto 10px;
    padding: 10px auto;
    border-top: 1px dotted lightblue;
    width: 760px;
    height: 200px;
    /*background-color: #EDF5FF;*/
}

/* End zone-info */