body {
    background-color: transparent;
    color: #333333;
    font: 13px/18px "DejaVu Sans", "Microsoft YaHei", 宋体, "Lucida Grande","Lucida Sans Unicode",Helvetica,Arial,Verdana,sans-serif;
    /*background: url("/media/img/bg.png") repeat-y scroll center top #ECECEC;*/
    background: url("/media/img/sidebar_bg2.png") repeat;
}

html, body, div, ul, ol, li, dl, dt, dd, h1, h2, h3, h4, h5, h6, pre, form, p, blockquote, fieldset, input, abbr, article, aside, command, details, figcaption, figure, footer, header, hgroup, mark, meter, nav, output, progress, section, summary, time {
    margin: 0;
    padding: 0;
}


h2, h3, h4, h5, h6 {
    color: indigo;
}

h1 {
    font-size: 1.3em;
}

h2 {
    font-size: 1.2em;
}

a {
    outline:none;
    blr:expression(this.onFocus=this.blur()); /* for IE6, IE7 */
}

table {
    border-collapse:collapse;
}

thead {
    background-color: #EDF5FF;
}

th {
    border:#ccc solid 1px;
    padding: 5px;
}

td {
    border:#ccc solid 1px;
    padding:10px;
}

tr:hover {
    background-color: lightblue;
}

input:focus {
    background-color: lightblue;
    /*font-weight: bold;*/
}

/*
input:active {
    background-color: yellow;
}*/



img {
    border: 0 none;
    margin: 0px 5px 0px 2px;
}

ul {
    list-style: none outside none;
}

.clearfix:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}
/* Hides from IE-mac \*/
* html .clearfix {height: 1%;}
/* End hide from IE-mac */



/* Begin Pager */

#pager {
    margin: 0 auto;
    width: 980px;
}

/* End Pager */






/* Begin Header */

#header {
    margin: 5px -15px 0 -15px;
    padding: 13px 15px 0px 30px;
    height: 56px;
    /*font: 12px/18px "Lucida Grande","Lucida Sans Unicode",Helvetica,Arial,Verdana,sans-serif;*/
    /*text-align: left;*/
    background: url("/media/img/home_header_bg.png") no-repeat scroll 0 0 transparent;
    _filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(enabled=true, sizingMethod=scale, src="/media/img/home_header_bg.png"); /* For IE6, transparent suppor of PNG */
    _background-image: none; /* IE6 */
}

#header a, #header input {
    position: relative; /* For IE6: work with "_filter: progid:DXImageTransform.Microsoft.AlphaImageLoader" */
}


#welcome-info {
    float: left;
}

#welcome-info a {

    /*color: white;*/
    font-family: "DejaVu Sans", "Microsoft YaHei", 宋体, "Hiragino Sans GB",STHeiti,Tahoma,SimHei,sans-serif;
    font-style: italic;
    font-size: 1.2em;
    text-shadow: 5px 5px 10px black;
    text-decoration: none;
}

#navigator {
    float: left;
    /*line-height: 2em;*/
    /*-moz-border-radius: 20px;*/
    padding: 0 20px 0 20px;
}

#navigator li {
    /*display: table-cell;*/
    display:inline-block;    /* firefox等标准浏览器识别*/
    *display:inline;      /* 只有ie6和ie7识别*/
    zoom:1;               /* 触发ie6和ie7下的haslayout */
    overflow: hidden;
}
#navigator a:link,
#navigator a:visited,
#navigator a:hover,
#navigator a:active {
    color: #59218D;
}

#navigator a {
    margin: 2px 5px;
    padding: 5px;
    /*border: 1px solid transparent;*/
    /*color: snow;*/
    text-decoration: none;
}

#navigator a:hover {
    color: darkblue;
    background-color: snow;
    /*text-decoration: none;*/
}

#select-language {
    float: right;
    margin-right: 30px;
}

#login {
    text-align: right;
}

/* End Header */




/* Begin Main */

#main {
    margin: 0;
    padding: 0;
    /*border: 1px solid #DFE6ED;*/
    /*background-color: #c4d8e8;*/ /*#6897bc;*/
    /*background: url("/media/img/close_main_bg.png") repeat-x;*/
}

/* End Main */





/* Begin Footer */

#footer {
    padding: 15px 0;
    border-top: 1px solid #DFE6ED;
    text-align: center;
    /*background-color: #EDF5FF;*/
}

#footer span {
    margin: 2px 5px 2px 5px;
}

/* End Footer */




/* Start form style */
.lyform {
    margin: 50px auto;
    padding: 10px;
    text-align: center;
    width: 780px;
    border: solid 1px #b7ddf2;
    /*background: #ebf4fb;*/
}

.lyform button {
    width:160px;
    height:80px;
    border: none;
    background:url(/media/img/submit_button.png) no-repeat;
    color: white;
    font-size: 22px;
    padding-bottom: 28px;
}

.form-header {
    margin: 0 auto 50px;
    border-bottom: solid 1px #b7ddf2;
    width: 80%;
}

.form-element {
    clear: both;
    /*margin: 15px auto;*/
    padding: 10px;
    /*border: 1px solid #DFE6ED;*/
}

.form-element .small {
    display: block;
    font-size: 0.9em;
    color: gray;
}

.form-element .left {
    float: left;
    text-align: right;
    margin-right: 20px;
    width: 40%;
}

.form-element .right {
    float: left;
    text-align: left;
}

.field-error {
    clear: both;
    color: red;
}

.form-footer {
    margin: 50px auto 10px;
    width: 125px;
}

.submit-error {
    clear: both;
    border: 1px solid #DFE6ED;
    background-color: red;
}
.submit-error p {
    color: white;
}

/* End form style */




/* Common style */
.error-msg {
    color: red;
}

.box {
      background-color: white;
                border: 1px solid #C0C0C0;
/*
    -moz-border-radius: 10px;
 -webkit-border-radius: 10px; 
*/
         border-radius: 10px;
              position: relative;
               z-index: 2;
              behavior: url(/media/themes/ie-css3.htc);
}

.box5 {
      background-color: white;
                border: 1px solid #C0C0C0;
         border-radius: 5px;
              position: relative;
               z-index: 1;
              behavior: url(/media/themes/ie-css3.htc);
}

/* inner navigator (or call sitemap) of luoyun */
.luoyun-inner-nav {

}
.luoyun-inner-nav li {
    padding: 5px 10px;
    display:inline-block;    /* for standart */
    *display:inline;      /* for ie */
    zoom:1;               /* haslayout under ie */
    overflow: hidden;
    background-color: #EDF5FF;
}
.luoyun-inner-nav .current {
    background: none;
}


.ly-notexist-error {
    margin: 100px auto;
    width: 600px;
    color: red;
    padding: 20px;
}

.add-button {
    height: 60px;
    width: 120px;
    margin-left: 15px;
    background: url("/media/img/add_button2.png") no-repeat;
    text-align: center;
}

.add-button a {
    line-height: 42px;
    color: white;
    font-weight: 900px;
    font-size: 1.2em;
    text-decoration: none;
}

#login {
    float: right;
    /*width: 300px;*/
    /*margin: 5px 0 15px auto; */
    padding-right: 15px;
}

#lyinner-nav {
    background: none repeat scroll 0 0 transparent;
    clear: both;
    color: #666666;
    float: none;
    font-size: 14px;
    font-weight: bold;
    height: 2em;
    line-height: 2em;
    list-style: none outside none;
    margin: 0;
    text-shadow: 0 1px 0 #FFFFFF;
    border-bottom: 1px solid #DFE6ED;
}

#lyinner-nav li {
    /*display: table-cell;*/
    display:inline-block;    /* firefox等标准浏览器识别*/
    *display:inline;      /* 只有ie6和ie7识别*/
    zoom:1;               /* 触发ie6和ie7下的haslayout */
    overflow: hidden;

    background: none repeat scroll 0 0 transparent;
    float: left;
    margin: 0;
    padding: 0 0 0 1em;
}

#lyinner-nav li a {
    background: url("/media/img/lyinner_nav_separator.png") no-repeat scroll 100% 50% transparent;
    color: #666666;
    float: left;
    margin-left: 0;
    padding: 0 1.75em 0 0;
    text-decoration: none;
}

#lyentry {
    clear: both;
}

#lyentry .float-left {
    float: left;
}

#lyentry .float-rigth {
    float: right;
}

#lyentry .sidebar {
    width: 160px;
    margin: 0;
    padding: 30px 0 30px 10px;
    border-right: 1px solid #DFE6ED;
    border-bottom: 1px solid #DFE6ED;
    border-radius: 0 0 5px 0;
}

#lyentry .close-main {
    margin-left: 0;
    float: right;
    /*border-left: 1px solid #DFE6ED;*/
    width: 780px;
    /*background-color: #EDF5FF;*/
    /*background: url("/media/img/close_main_bg2.png") repeat;*/
    min-height:800px;/*IE7/FF/Chrome ...*/
    height:100%;/*IE6/IE7/FF*/
    _height:800px;/*IE6*/
}

#lyentry .first-warning {
    margin: 100px auto;
    width: 400px;
    color: red;
}



#lyentry .sidebar .menu {

}

#lyentry .sidebar .menu .normal {
    display: block;
    margin: 10px 0;
    padding: 10px 30px 10px 0;
    border-top: 1px solid #DFE6ED;
    border-bottom: 1px solid #DFE6ED;
    border-left: 1px solid #DFE6ED;
    text-align: right;
    cursor: pointer;
    /*height: 30px;*/
    border-radius: 6px 0 0 6px;
    font-size: 1.1em;
    background-color: #EDF5FF;
}

#lyentry .sidebar .menu .normal .small {
    display: block;
    font-size: 0.9em;
    color: gray;
}

#lyentry .sidebar .menu .hover {
    background-color: #DFE6ED;
    /*border-right: 1px solid #fff;*/
}

#lyentry .sidebar .menu .current {
    background: none repeat scroll 0 0 #FFFFFF;
    /*border-right: 1px solid #EDF5FF;*/
    border-right: 1px solid #FFF;
    position: relative;
    /*background-color: #EDF5FF;*/
    margin-right: -2px;
    /*background: url("/media/img/sidebar_bg2.png") repeat;*/
}

#lyentry .sidebar .menu a {
    font-size: 1.1em;
    text-decoration: none;
}

