.pop {
  position: absolute;
  display: inline; }
  .pop .pop_menu {
    display: none;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px; }
  .pop .pop_toggle {
    background-image: url(/media/themes/icons/other/arrow-down.png);
    background-repeat: no-repeat;
    background-position: center center;
    width: 20px;
    height: 20px;
    overflow: hidden;
    cursor: pointer; }

.active .pop_menu {
  display: block;
  background-color: #F594A2;
  color: #fff;
  position: absolute;
  padding: .6em;
  width: 12em; }
  .active .pop_menu a {
    color: #fff; }
.active .pop_toggle {
  z-index: 2000;
  position: absolute;
  top: 0;
  left: 0;
  background-image: url(/images/arrow-up.gif); }
