<%inherit file="home_base.html"/>

<%block name="main">

<div id="banner">

  % if current_user:
  <div id="create-instance">
    <a class="button qtiplink" 
       title="${ _('Create a new instance') }" 
       href="${ reverse_url('instance:create') }">${ _("Create New Instance") }</a>
  </div>

  <div class="info-list">

    <div class="info">
      <div class="c1">${ _("Appliance") }</div>
      <div class="c2">${ TOTAL_APPLIANCE }</div>
    </div>

    <div class="info">
      <div class="c1">${ _("Instance") }</div>
      <div class="c2">
        <span class="count">${ USED_INSTANCE }/${ TOTAL_INSTANCE }</span>
      </div>
    </div>

    <div class="info">
      <div class="c1">${ _("CPUs") }</div>
      <div class="c2"><span class="count">
          ${ USED_CPU }/${ TOTAL_CPU }</span>
      </div>
    </div>

    <div class="info">
      <div class="c1">${ _("Memory(MB)") }</div>
      <div class="c2">
        <div class="count">${ USED_MEMORY }/${ TOTAL_MEMORY }</div>
<div class="total"><div class="used" 
% if TOTAL_MEMORY:
style="width: ${ (100 * USED_MEMORY)/TOTAL_MEMORY }%"
% else:
style="width: 0%"
% endif
></div></div>
      </div>
    </div>

  </div>

  % else:
  <div>${ _("Welcome, guest !") }</div>
  % endif
</div>

% if current_user:
<div class="view-method">
  <div class="single-choice">
    ${ _("View") }
    <input type='checkbox' value="self" />${ _("myself") }
    <input type='checkbox' value="all" />${ _("all") }
  </div>
</div>
% endif

<div id="instance-list" class="clearfix">

  % if not INSTANCE_LIST.count():
  <p>${ _("No instance found!") }</p>
  % endif

  % for I in INSTANCE_LIST:
  <div class="instance">

    <div class="logo">
      <a href="/instance/${I.id}">
        <img src="${ I.logourl }" /></a>
      <span class="count instance-id">${ I.id }</span>
      <span class="instance-status">
        <img src="${ THEME_URL }icons/InstanceStatus/${ I.status }.png"  alt="Stauts Image"/>
        <span class="status-string" style="display: none;">${ locale.translate(I.status_string) }</span>
      </span>
    </div>

    <div class="title">
      <span class="name">${ I.name }</span>
      % if I.status in [4, 5]:
      <span class="ip">
        <a href="${ I.home_url(current_user) }" title="${ _('Service is running') }" target="_blank">${ I.ip }</a>
      </span>
      % endif
    </div>

    <div class="hide" style="display: none;">
      <h2>${ _("Instance ") }${ I.id }</h2>

      <table>
        <tbody>
          <tr>
            <td>${ _("Name") }</td>
            <td>${ I.name }</td>
          </tr>
          <tr>
            <td>${ _("Owner") }</td>
            <td>${ I.user.username }</td>
          </tr>
          <tr>
            <td>${ _("Status") }</td>
            <td>${ locale.translate(I.status_string) }</td>
          </tr>
          <tr>
            <td>${ _("IP") }</td>
            <td>${ I.ip }</td>
          </tr>
        </tbody>
      </table>

    </div>


  </div>
  % endfor

  ${ page_html }

</div>


<script type="text/javascript">
  InstanceLogoHover();
  InstanceStatusHover();
  instance_view_method();
</script>

</%block>
