<%inherit file="/base.html"/>

<%block name="rowmain">
% if mainbody:
${ mainbody }

% else:
<div class="hero-unit text-center">
  <p>${ _("Administator have not set the home page yet.") }</p>
  <p>${ _("LuoYunCloud is a simple but not simple cloud platform.") }</p>
</div>
<ul class="thumbnails">
  <li>
    <div class="thumbnail">
      <img src="/static/themes/default/img/opensource_300_200.png?v=eec63" alt="">
      <h3>${ _("Open Source") }</h3>
      <p>${ _("Visit code at: ") } <a href="https://github.com/luoyun/LuoYunCloud" target="_blank">github</a></p>
    </div>
  </li>
  <li>
    <div class="thumbnail">
      <img src="/static/themes/default/img/simple_use_300_200.png?v=77c83" alt="">
      <h3>${ _("Simple Install & Use") }</h3>
      <p>${ _("Step by step guide.") }</p>
    </div>
  </li>
  <li>
    <div class="thumbnail">
      <img src="/static/themes/default/img/demo_300_200.png?v=23d8b" alt="">
      <h3>${ _("Online Demo") }</h3>
      <p>${ _("Visit demo: ") } <a href="http://www.LuoYunCloud.com" target="_blank">www.LuoYunCloud.com</a></p>
    </div>
  </li>
</ul>
% endif
</%block>
