<%inherit file="home_base.html"/>

<%block name="main">


<div id="banner">

  % if current_user:
  <div id="create-instance">
    <a class="button qtiplink" 
       title="${ _('Create a new instance') }" 
       href="/appliance">${ _("Create New Instance") }</a>
  </div>
  % endif

  <div class="info-list">

    <div class="info">
      <div class="c1">${ _("Appliance") }</div>
      <div class="c2">
        <a class="qtiplink"
           title="${ _('View all appliance') }" 
           href="/appliance"><span class="count">
            ${ TOTAL_APPLIANCE }</span></a>
      </div>
    </div>

    <div class="info">
      <div class="c1">${ _("Instance") }</div>
      <div class="c2">
        <span class="count">${ TOTAL_INSTANCE }/${ RUNNING_INSTANCE }</span>
      </div>
    </div>

    <div class="info">
      <div class="c1">${ _("CPUs") }</div>
      <div class="c2"><span class="count">
          ${ TOTAL_CPU }</span>
      </div>
    </div>

    <div class="info">
      <div class="c1">${ _("Memory(KB)") }</div>
      <div class="c2">
        <div class="count">${ TOTAL_MEMORY }/${ USED_MEMORY }</div>
<div class="total"><div class="used" style="width: ${ (100 * USED_MEMORY)/TOTAL_MEMORY }%"></div></div>
      </div>
    </div>

  </div>

</div>


<div id="instance-list" class="clearfix">
  <h2>${ _("Instances List") }</h2>
<%doc>
  <div class="sort-method">
    <span>${ _("Current instances, sorted by") }</span>
    <span><a href="/">${ _("Default") }</a></span>
    <span>
      <a title="${ _('Sorted by updated') }" 
         href="/?by=updated">${ _("Updated") }</a></span>
  </div>
</%doc>

  % for I in INSTANCE_LIST:
  <div class="instance">

    <div class="logo">
      <a href="/instance/${I.id}">
        <img src="${ instance_logo_url(I.logo) }" /></a>
    </div>

    <div class="info">

      <span class="id">${ I.id }</span>
      <span class="status">
        % if I.status not in [0, 1, 2, 4, 5, 9, 245, 255]:
        <img src="${ THEME_URL }icons/InstanceStatus/running.gif"/>
        % else:
        <img src="${ THEME_URL }icons/InstanceStatus/${ I.status }.png"  alt="Stauts Image"/>
        % endif
        <span class="status-string" style="display: none;">${ instance_status(I.status) }</span>
      </span>

      % if I.status in [4, 5]:
      <span class="ip">
        <a href="/proxy?host=${ I.ip }&port=8080" title="${ _('Service is running') }">${ I.ip }</a>
##        <a href="http://${ I.ip }:8080" title="${ _('Service is running') }">${ I.ip }</a>
      </span>
      % endif

    </div>

    <div class="hide" style="display: none;">
      <h2>${ _("Instance ") }${ I.id }</h2>

      <table>
        <tbody>
          <tr>
            <td>${ _("Name") }</td>
            <td>${ I.name }</td>
          </tr>
          <tr>
            <td>${ _("Owner") }</td>
            <td>${ I.user.username }</td>
          </tr>
          <tr>
            <td>${ _("Status") }</td>
            <td>${ instance_status(I.status) }</td>
          </tr>
          <tr>
            <td>${ _("IP") }</td>
            <td>${ I.ip }</td>
          </tr>
        </tbody>
      </table>

    </div>


  </div>
  % endfor

  ${ page_html }

</div>


<script type="text/javascript">
  InstanceLogoHover();
  InstanceStatusHover();
</script>

</%block>
