<%inherit file="/site_notice_base.html"/>

<%block name="submain">

<div id="ly-notification-large">

  % if REASON:
  <div class="notification-title">
	<img src="${ theme_url('img/error.png') }" />
    <span>${ REASON }</span>
  </div>
  % endif

  <div class="notification-body">
	<% profile = current_user.profile %>

	% if profile:
	<table class="table table-striped table-bordered">
      <thead>
		<tr>
		  <th>${ _("Resource Name") }</th>
		  <th>${ _("Total") }</th>
		  <th>${ _("Used") }</th>
		</tr>
      </thead>
      <tbody>
		<tr>
		  <td>${ _("Memory") }</td>
		  <td>${ profile.memory_total } M</td>
		  <td>${ profile.memory_used } M</td>
		</tr>
		<tr>
		  <td>${ _("CPUs") }</td>
		  <td>${ profile.cpu_total } core</td>
		  <td>${ profile.cpu_used } core</td>
		</tr>
		<tr>
		  <td>${ _("Instances") }</td>
		  <td>${ profile.instance_total }</td>
		  <td>${ profile.instance_used }</td>
		</tr>
		<tr>
		  <td>${ _("Storage") }</td>
		  <td>${ profile.storage_total } G</td>
		  <td>${ profile.storage_used } G</td>
		</tr>
      </tbody>
	</table>
	% endif
  </div>

</div>

</%block>
