<%inherit file="node_base.html"/>

<%block name="main">


<div class="main-wrap">
  <div class="inner-navigator">
    <span><a href="/">${ _("Home") }</a></span>&gt;
    <span><a href="/admin">${ _("Admin") }</a></span>&gt;
    <span><a href="/node">${ _("Nodes") }</a></span>&gt;
    <span><a href="/node/${ node.id }">${ node.ip }</a></span>
  </div>
</div>


<div class="main-wrap">
  <p>Hostname: ${ node.hostname }</p>
  <p>Node IP: ${ node.ip }</p>
</div>


% if INSTANCE_LIST:
<div class="main-wrap">
  <h2>${ _("All running instance list") }</h2>
  <table>
    <tbody>
      % for I in INSTANCE_LIST:
      <tr>
        <td><span class="count">${ I.id }</span></td>
        <td><a href="/instance/${ I.id }">${ I.name }</a></td>
        <td>${ I.status }(${ instance_status(I.status) })</td>
      </tr>
      % endfor
    </tbody>
  </table>
</div>
% endif

</%block>
