<%inherit file="/admin/system.html"/>

<%block name="innav">
<li><a href="${ reverse_url('admin:job') }">${ _("Job") }</a></li>
</%block>

<%block name="content">

% if U:
<p class="subtitle">${ _("All jobs excute by ") } "${ U.username }"</p>
% endif
<script type="text/javascript" src="${ static_url('js/url.js') }"></script>

% if JOB_LIST.count():
<div class="ly-table">
  ${ page_html }
  <table class="ly-table">
    <thead>
      <tr>
        <th onclick="ly_url_orderby('id')">${ _("ID") }</th>
        <th onclick="ly_url_orderby('user')">${ _("User") }</th>
        <th>${ _("Status") }</th>
        <th>${ _("Target Type") }</th>
        <th>${ _("Target ID") }</th>
        <th>${ _("Action") }</th>
        <th>${ _("Created") }</th>
        <th>${ _("Started") }</th>
        <th onclick="ly_url_orderby('created')">${ _("Completed") }</th>
      </tr>
    </thead>
    <tbody>
      % for j in JOB_LIST:
      <tr>
        <td>${ j.id }</td>
        <td><a href="${ reverse_url('admin:user') }?id=${ j.user.id }">${ j.user.username }</a></td>
        <td class="job-status"><img src="${ theme_url('icons/JobStatus/%s.png' % j.status) }"/>${ j.status_string }</td>
        <td>${ j.target_name }</td>
        <td>${ j.target_url }</td>
        <td>${ j.action_string }</td>
        <td class="time">${ ftime(j.created) }</td>
        <td class="time">${ ftime(j.started, '%H:%M:%S') }</td>
        <td class="time">${ ftime(j.ended, '%H:%M:%S') } ( ${ htime(j.ended) } )</td>
      </tr>
      % endfor
    </tbody>
  </table>

  ${ page_html }
</div>
% else:
<div class="first-warning">
  <p>Have not found any jobs.</p>
</div>
% endif

</%block>
