<%inherit file="/admin/appliance.html" />

<%block name="innav">
<li><a href="${ reverse_url('admin:appliance') }">${ _("Appliance") }</a></li>
<li><a href="${ reverse_url('admin:appliance:catalog') }">${ _("Catalog") }</a></li>
</%block>

<%block name="content">

<p class="manage-content"><a href="${ reverse_url('admin:appliance:catalog') }?action=new">${ _("New Catalog") }</a></p>

<div class="c ly-table">
  <table>
    <thead>
      <tr>
	<th>${ _("ID") }</th>
	<th>${ _("Name") }</th>
	<th>${ _("Summary") }</th>
	<th>${ _("Description") }</th>
	<th>${ _("Created") }</th>
	<th>${ _("Updated") }</th>
	<th>${ _("Appliances") }</th>
	<th>${ _("Position") }</th>
	<th></th>
      </tr>
    </thead>
    <tbody>
      % for C in CATALOG_LIST:
      <tr>
        <td>${ C.id }</td>
        <td>${ C.name }</td>
	<td>${ C.summary }</td>
	<td>${ C.description }</td>
	<td>${ ftime(C.created) }</td>
	<td>${ ftime(C.updated) }</td>
	<td>
	  % if C.appliances:
	  <a href="${ reverse_url('admin:appliance') }?catalog=${ C.id }" title="${ _("View all appliances in this catalog") }">${ len(C.appliances) }</a>
	  % endif
	</td>
	<td><span class="number">${ C.position }</span>
	  <span class="plus-minus">
	    <a class="no-text-decoration plus" href="${ reverse_url('appliance:catalog:tune_position', C.id) }?value=1" onclick="ajaxTuneValue( this, '#catalog-tuneposition-notify', 1); return false;">+</a>
	    /
	    <a class="no-text-decoration minus" href="${ reverse_url('appliance:catalog:tune_position', C.id) }?value=-1" onclick="ajaxTuneValue( this, '#catalog-tuneposition-notify', -1); return false;">-</a></span>
	</td>
	<td>
	  <a href="${ reverse_url('admin:appliance:catalog') }?id=${ C.id }&action=edit">${ _("Edit") }</a>
	</td>
      </tr>
      % endfor
    </tbody>
  </table>
</div>

<div id="catalog-tuneposition-notify" style="display:none">
  <div id="basic-template">
    <a class="ui-notify-cross ui-notify-close" href="#">x</a>
    <p>${ _("Toggle Instance isprivate status Success") }</p>
  </div>
  <div id="error-template">
    <a class="ui-notify-cross ui-notify-close" href="#">x</a>
    <h1>${ _("Toggle Instance isprivate status Failed") }</h1>
    <p>#{text}</p>
  </div>
</div>

</%block>
