<%inherit file="/admin/appliance.html" />

<%block name="innav">
<li><a href="${ reverse_url('admin:appliance') }">${ _("Appliance") }</a></li>
<li><a href="${ reverse_url('admin:appliance:catalog') }">${ _("Appliance Catalog") }</a></li>
<li>${ _("Create a new catalog") }</li>
</%block>

<%block name="main">

<div class="small-left-right-form c">
  <form method="POST">${ xsrf_form_html() }
    ${ form.name.label } ${ form.name() }<br/>
    ${ form.html_errors( form.name.errors ) }

    ${ form.summary.label } ${ form.summary() }<br/>
    ${ form.html_errors( form.summary.errors ) }

    ${ form.description.label } ${ form.description() }<br/>
    ${ form.html_errors( form.description.errors ) }

    <label>&nbsp;</label><input type="submit" value="${ _('Create') }"/>
  </form>
</div>

</%block>
