<%inherit file="/admin/appliance.html" />

<%block name="innav">
<li><a href="${ reverse_url('admin:appliance') }">${ _("Appliance") }</a></li>
<li><a href="${ reverse_url('admin:appliance:catalog') }">${ _("Catalog") }</a></li>
<li>${ _("Edit catalog") }</li>
</%block>

<%block name="content">

<div class="main-wrap small-left-right-form">
  <form method="POST">
    ${ form.name.label } ${ form.name() }<br/>
    ${ form.html_errors( form.name.errors ) }

    ${ form.summary.label } ${ form.summary() }<br/>
    ${ form.html_errors( form.summary.errors ) }

    ${ form.description.label } ${ form.description() }<br/>
    ${ form.html_errors( form.description.errors ) }

    <label>&nbsp;</label><input type="submit" value="${ _('Save') }"/>
  </form>
</div>


</%block>
