<%inherit file="appliance_base.html" />

<%block name="innav">
<li><a href="${ reverse_url('admin:appliance') }">${ _("Appliance") }</a>
  <span class="divider">/</span></li>
<li><a href="${ reverse_url('admin:appliance') }?id=${ APPLIANCE.id }">${ APPLIANCE.name }</a>
  <span class="divider">/</span></li>
<li>${ _("Change Appliance User") }</li>
</%block>


<%block name="submain">

<div class="container-fluid">
  <form class="form-horizontal" method="POST">${ xsrf_form_html() }
    <div class="control-group">
      <label class="control-label" for="user">${ _("User") }</label>
      <div class="controls">
        <input id="user" name="user" type="text">
        <div class="muted">${ _("Input a user name or user id.") }</div>
      </div>
	</div>

    <div class="control-group">
      <label class="control-label" for="reason">${ _("Reason") }</label>
      <div class="controls">
        <textarea id="reason" name="reason"></textarea>
        <div class="muted">${ _("Why change the owner ?") }</div>
        <div class="text-error">${ show_error( ERROR ) }</div>
        <button type="submit" class="btn">${ _("Submit") }</button>
      </div>
    </div>
  </form>
</div>

</%block>
