<%inherit file="/admin/admin_base.html" />

<%block name="innav">
<li><a href="${ reverse_url('admin:appliance') }">${ _("Appliance") }</a></li>
</%block>

<%block name="sidemain">

<h2 class="title">${ _("Appliance Management") }</h2>

<div class="c catalog-list">
  <ul>
    <li><a href="${ reverse_url('admin:appliance') }">${ _("All") }</a></li>
    % for C in CATALOG_LIST:
    <li
       % if CID and C.id == CID:
       class="current"
       % endif
       ><a href="${ reverse_url('admin:appliance') }?catalog=${ C.id }">${ C.name }</a></li>
    % endfor
  </ul>
</div>

<p>${ _("Total Appliance :") } ${ TOTAL_APPLIANCE }</p>

% if USER:
<p>${ _("Filter by user: ") }<a href="${ reverse_url('admin:user') }?id=${ USER.id }">${ USER.username }</a></p>
% endif

<div class="c ly-table">
  <table>
    <thead>
      <tr>
	<th>${ _("ID") }</th>
	<th>${ _("Name") }</th>
	<th>${ _("Owner") }</th>
	<th>${ _("Catalog") }</th>
	<th>${ _("Instances") }</th>
	<th>${ _("Updated") }</th>
	<th>${ _("Management") }</th>
      </tr>
    </thead>
    <tbody>
      % for A in APPLIANCE_LIST:
      <tr>
	<td>${ A.id }</td>
	<td><a href="${ reverse_url('admin:appliance') }?id=${ A.id }">${ A.name }</a></td>
	<td>
	  <div class="a-owner">
	    <span class="link"><a href="${ reverse_url('admin:user') }?id=${ A.user.id }">${ A.user.username }</a></span>
	    <span class="uid" style="display:none;">${ A.user.id }</span>
	  </div>
	</td>
	<td>${ A.catalog.name }</td>
	<td>
	  % if A.instances:
	  <a href="${ reverse_url('admin:instance') }?aid=${ A.id }">${ len(A.instances) }</a>
	  % endif
	</td>
	<td>${ lytime(A.updated) }</td>
	<td><a class="ly-btn2 small blue" href="${ reverse_url('admin:appliance:delete', A.id) }">${ _("Delete") }</a></td>
      </tr>
      % endfor
    </tbody>
  </table>
</div>

${ PAGE_HTML }

<script type="text/javascript">
  var HTML_TEMP = "<div class=\"hover-content\"><a class='ly-btn2 small blue' href=\"${ reverse_url('admin:appliance') }?uid=SELECT\">${ _('Appliances owner by Me') }</a></div>";
  lyAdminSortByHover( HTML_TEMP, '.a-owner', '.uid' );
</script>

</%block>
