<%inherit file="/admin/appliance.html" />

<%block name="innav">
<li><a href="${ reverse_url('admin:appliance') }">${ _("Appliance") }</a></li>
</%block>

<%block name="content">

<table class="sortby-module">
  <tbody>
    <tr>
      <td nowrap="nowrap">${ _("Appliance Catalog") }</td>
      <td>
	<a class="${ b2s(CID <= 0) }" href="${ reverse_url('admin:appliance') }">${ _("All") }</a>
	% for C in CATALOG_LIST:
	<a class="${ b2s(CID == C.id) }" href="${ urlupdate({'catalog': C.id, 'p': 1 }) }">${ C.name }</a>
	% endfor
      </td>
    </tr>
  </tbody>
</table>

<p>${ _("Total Appliance :") } ${ TOTAL_APPLIANCE }</p>

% if USER:
<p>${ _("Filter by user: ") }<a href="${ reverse_url('admin:user') }?id=${ USER.id }">${ USER.username }</a></p>
% endif

<div>
  <table class="table table-bordered table-striped">
    <thead>
      <tr>
	<th>${ _("ID") }</th>
	<th>${ _("Name") }</th>
	<th>${ _("Owner") }</th>
	<th>${ _("Size") }</th>
	<th>${ _("Instances") }</th>
	<th>${ _("Updated") }</th>
        <th>${ _("Islocked") }</th>
	<th>${ _("Management") }</th>
      </tr>
    </thead>
    <tbody>
      % for A in APPLIANCE_LIST:
      <tr>
	<td>${ A.id }</td>
	<td><a href="${ reverse_url('admin:appliance') }?id=${ A.id }">${ A.name }</a></td>
	<td><a href="${ reverse_url('admin:user') }?id=${ A.user.id }" target="_blank">${ A.user.username }</a></td>
	<td>${ human_size(A.filesize) }</td>
	<td>
	  % if A.instances:
	  <a href="${ reverse_url('admin:instance') }?aid=${ A.id }">${ len(A.instances) }</a>
	  % endif
	</td>
	<td>${ ftime(A.updated) }</td>
	<td><input type="checkbox"
		   % if A.islocked:
		   checked="checked"
		   % endif
		   onclick="simpleToggleCheckbox( this, '${ reverse_url('appliance:islocked', A.id) }', '#islocked-notify')" />
	</td>
	<td>
	  <a href="${ reverse_url('appliance:delete', A.id) }" onclick="deleteApplianceConfirm( this ); return false;">${ _("Delete") }</a>
	  <div class="show" style="display:none;">
	    <p class="ywarn">${ _("Would you want to delete appliance %s") % A.id }</p>
	  </div>
	</td>
      </tr>
      % endfor
    </tbody>
  </table>
  ${ PAGE_HTML }
</div>



<p class="manage-content"><a class="ly-btn2 medium blue" href="${ reverse_url('appliance:upload') }">${_("Upload Appliance")}</a></p>

<script type="text/javascript">
function deleteApplianceConfirm( obj ) {

    var $obj = $(obj);

    $obj.parent().find('.show').dialog({
	title: "${ _('Are you sure ?') }",
	resizable: false,
	height: "auto",
	minWidth: 420,
	modal: true,
	buttons: {
	    "${ _('Cancel') }": function() {
		$( this ).dialog( "close" );
	    },
	    "${ _('Delete Appliance !') }": function() {
		$.ajax({
		    url: $obj.attr("href"),
		    type: "GET",
		    success: function(data) {
			$(data).dialog({
			    show: "slow",
			    minWidth: 520,
			    modal: true
			});
                        $obj.parents('tr').remove();
		    }
		});
		$( this ).dialog( "close" );
	    }
	},
        close:function(){
            $( this ).dialog("destroy");
        }
    });

    return false;

}
</script>


<div id="islocked-notify" style="display:none">
  <div id="basic-template">
    <a class="ui-notify-cross ui-notify-close" href="#">x</a>
    <p>${ _("Toggle Appliance islocked status Success") }</p>
  </div>
  <div id="error-template">
    <a class="ui-notify-cross ui-notify-close" href="#">x</a>
    <h1>${ _("Toggle Appliance islocked status Failed") }</h1>
    <p>#{text}</p>
  </div>
</div>

</%block>
