{% extends "image/image_base.html" %}
{% load i18n %}

{% block lymain %}

<div class="lyform">
  <form action="{% url image:add %}" method="post" enctype="multipart/form-data">{% csrf_token %}
    <div class="form-header">
      <h1>{% trans "Add a new appliance" %}</h1>
      <p>{% trans "This the common func" %}</p>
    </div>

    <div class="form-element">
      <div class="left">
        <label for="id_addmethod">{% trans "From" %}</label>
        <select name="addmethod" id="id_addmethod">
          <option value="1" selected="selected">{% trans "Local System" %}</option>
          <option value="2">{% trans "LuoYun System" %}</option>
        </select>
        {% if addmethod_error %}<div class="field-error">{{ addmethod_error }}</div>{% endif %}
      </div>
      <div class="right">
        <div id="addmethod1">
          <input type="file" name="file" />
        </div>
        <div id="addmethod2" style="display: none;">
          <select name="filename" id="id_filename">
            {% for f in IMAGE_LIST %}
            <option value="{{ f }}" {% ifequal f filename %}selected="selected"{% endifequal %}>{{ f }}</option>
            {% endfor %}
          </select>
          {% if filename_error %}<div class="field-error">{{ filename_error }}</div>{% endif %}
        </div>
      </div>
    </div>

    <div class="form-element">
      <div class="left">
        <label for="id_name">{% trans "Image Name:" %}<span class="small">{% trans "Any name you want." %}</span></label>
      </div>
      <div class="right">
        <input id="id_name" type="text" name="name" maxlength="30" value="{{ name }}"/>
        {% if name_error %}<div class="field-error">{{ name_error }}</div>{% endif %}
      </div>
    </div>

    <!--
    <div class="form-element">
      <div class="left">
        <label for="id_filetype">{% trans "Image filetype:" %}<span class="small">{% trans "upload your images to /opt/LuoYun/upload" %}</span></label>
      </div>
      <div class="right">
        <select name="filetype" id="id_filetype">
          {% for k, v in IMAGE_TYPE %}
          {% ifnotequal k 0 %}
          <option value="{{ k }}" {% ifequal k filetype %}selected="selected"{% endifequal %}>{{ v }}</option>
          {% endifnotequal %}
          {% endfor %}
        </select>
      </div>
    </div>
    -->

    <!--
    <div class="form-element">
      <div class="left">
        <label for="id_filename">{% trans "Filename:" %}<span class="small">{% trans "Select the image." %}</span></label>
      </div>
      <div class="right">
        <select name="filename" id="id_filename">
          {% for f in IMAGE_LIST %}
          <option value="{{ f }}" {% ifequal f filename %}selected="selected"{% endifequal %}>{{ f }}</option>
          {% endfor %}
        </select>
        {% if filename_error %}<div class="field-error">{{ filename_error }}</div>{% endif %}
      </div>
    </div>
    -->

    <div class="form-element">
      <div class="left">
        <label for="id_catalog">{% trans "Image catalog:" %}<span class="small">{% trans "The catalog" %}</span></label>
      </div>
      <div class="right">
        <select name="catalog" id="id_catalog">
          {% for c in catalogs %}
          <option value="{{ c.id }}" {% ifequal c.id catalog %}selected="selected"{% endifequal %}>{{ c }}</option>
          {% endfor %}
        </select>
        {% if catalog_error %}<div class="field-error">{{ catalog_error }}</div>{% endif %}
      </div>
      <div class="addon">
        <a href="{% url image:add_catalog %}">{% trans "Add New Catalog" %}</a>
      </div>
    </div>

    <div class="form-element">
      <div class="left">
        <label for="id_origin">{% trans "Image origin:" %}<span class="small">{% trans "The origin" %}</span></label>
      </div>
      <div class="right">
        <select name="origin" id="id_origin">
          {% for o in origins %}
          <option value="{{ o.id }}" {% ifequal o.id origin %}selected="selected"{% endifequal %}>{{ o }}</option>
          {% endfor %}
        </select>
        {% if origin_error %}<div class="field-error">{{ origin_error }}</div>{% endif %}
      </div>
      <div class="addon">
        <a href="{% url image:add_origin %}">{% trans "Add New Origin" %}</a>
      </div>
    </div>

    {% if submit_error %}
    <div class="submit-error">
      <p>{{ submit_error }}</p>
    </div>
    {% endif %}

    <div class="form-footer">
      <button type="submit">{% trans "Submit" %}</button>
    </div>
  </form>
</div>

<script type="text/javascript">
  {% if addmethod %}
  //lyImageDefaultSelectUploadFile({{ addmethod }});
  {% endif %}

  lyImageSelectUploadFile();
</script>
{% endblock %}
