{% extends "image/image_base.html" %}
{% load i18n %}

{% block lymain %}


{% if DoesNotExist %}

<div class="error">
  <p>{% trans "Appliance does not exist !" %}</p>
</div>

{% else %}

<div class="action-return">
  
  {% if delete_error %}
  <div class="error">{{ delete_error }}</div>

  {% if domains %}
  <ul>
    {% for d in domains %}
    <li><a href="{% url domain:view d.id %}">{{ d }}</a></li>
    {% endfor %}
  </ul>
  {% endif %}

  {% else %}

  <p>{% trans "Delete success !" %}</p>

  {% endif %}
</div>
{% endif %}

{% endblock %}
