{% extends "base.html" %}

{% block main %}
{% if image %}
<table>
  <thead>
    <tr>
      <td>Item</td>
      <td>Detail</td>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>ID</td>
      <td>{{ image.id }}</td>
    </tr>

    <tr>
      <td>Image Name</td>
      <td>{{ image.name }}</td>
    </tr>

    <tr>
      <td>Checksum</td>
      <td>{{ image.checksum_value }}</td>
    </tr>

    <tr>
      <td>Path</td>
      <td>{{ image.path }}</td>
    </tr>

    <tr>
      <td>Status</td>
      <td>{{ image.get_status_display }}</td>
    </tr>

    <tr>
      <td>Size</td>
      <td>{{ image.size }}</td>
    </tr>

    <tr>
      <td>Update Time</td>
      <td>{{ image.updated|date:"Y-m-d H:i" }}</td>
    </tr>

    <tr>
      <td>Download</td>
      <td><a href="{{ image.url_path }}">{{ image.url_path }}</a></td>
    </tr>
    <tr>




    </tr>
  </tbody>
</table>
{% else %}
<p>Have not found the image !</p>
{% endif %}
<p>You can <a href="{% url image:add %}">add</a> a new image.</p>
{% endblock %}
