{% extends "image/image_base.html" %}
{% load i18n %}

{% block lymain %}

<div id="image-main" class="clearfix">

  <div class="sidebar float-left">
    <div class="add-button"><a href="{% url image:add %}">Upload</a></div>

    <div class="menu">
      <span class="normal current" id="c0">{% trans "All" %}<span class="small">Total: {{ total }}</span></span>
      {% for c, n in catalogs %}
      <span class="normal" id="c{{ c.id }}">{{ c.name }}<span class="small">Total: {{ n }}</span></span>
      {% endfor %}
    </div>

    <div class="addon">
      <ul>
        <li><a href="{% url image:add_catalog %}">{% trans "Add Catalog" %}</a></li>
        <li><a href="{% url image:add_origin %}">{% trans "Add Origin" %}</a></li>
      </ul>
    </div>
  </div>

  <div class="close-main float-right">
    {% for i in images %}
    <div class="image">
      <span class="name">{{ i.name }}</span>
      <div class="image-logo">
        <a href="{% url image:view i.id %}"><img src="{{ i.logo_uri }}"  alt="Image Picture" /></a>
      </div>
      <div class="image-desc">
        <div class="image-action">
          <span><a href="{{ i.url_path }}"><img src="/media/img/action_download.gif" alt="Download" /></a></span>
          <span><a href="{% url image:edit i.id %}"><img src="/media/img/action_config.png" alt="Edit" /></a></span>
          <span><a href="{% url image:delete i.id %}"><img src="/media/img/action_delete.png" alt="Delete" /></a></span>
          <span><a href="{% url domain:add_from_image i.id %}"><img src="/media/img/action_create.png" alt="Create Instance" /></a></span>
        </div>
      </div>
    </div>
    {% endfor %}

    {% if not images %}
    <div class="first-warning">
      <p>Have not found any images in default catalog.</p>
    </div>
    {% endif %}

  </div>
</div>


<script>
  //lyImageCatalogEvent(catalogs);
  lyImageMenuElementSwitch();
  lyHover("#lyentry .sidebar .menu .normal");
  //lyHover("#lyentry .close-main .image");
  lyImageHover("#lyentry .close-main .image");
</script>

{% endblock %}
