{% extends "image/base.html" %}
{% load i18n %}

{% block main %}

{% if popularity_images %}
<div id="popular">
  <p>Popular Image List</p>
</div>
{% endif %}

{% if image_catalogs %}
<div id="catalogs">
  <ul>
  {% for c in image_catalogs %}
  <li>
    <p><a href="{% url image:catalog c.id %}">{{ c.name }}</a></p>
  </li>
  {% endfor %}
  <ul>
</div>
{% else %}
<p>{% trans "Have not found any appliance on this cloud ! Please register appliance first ." %}</p>
{% endif %}

{% if images %}
<div id="images">
  <ul>
  {% for i in images %}
  <li>
    <p><a href="{% url image:view i.id %}">{{ i.name }}</a></p>
  </li>
  {% endfor %}
  <ul>
</div>
{% endif %}

<p>You can <a href="{% url image:add %}">add</a> a new image.</p>
{% endblock %}
