{% extends "image/image_base.html" %}
{% load i18n %}

{% block lymain %}

{% if error %}
<div class="error">{{ error }}</div>
{% else %}
<div id="origin">
  <ul>
    <li>ID: {{ origin.id }}</li>
    <li>Name: {{ origin.name }}</li>
    <li>Home: {{ origin.home }}</li>
    <li>Summary: {{ origin.summary }}</li>
    <li>Description: {{ origin.description }}</li>
    <li>Created Time: {{ origin.created }}</li>
    <li>Updated Time: {{ origin.uupated }}</li>
  </ul>
</div>
{% endif %}
{% endblock %}
