{% extends "image/image_base.html" %}
{% load i18n %}

{% block lyentry-nav %}
<li><a href="{% url image:view_catalog image.catalog.id %}">{{ image.catalog }}</a></li>
<li>{{ image }}</li>
{% endblock %}


{% block lymain %}

{% if DoesNotExist %}

<div class="ly-notexist-error">
  <p>The image (id = {{ ID }}) does not exist !</p>
</div>

{% else %}

<div id="image-desc" class="clearfix">
  <div id="image-desc-logo">
    <div class="image-logo">
      <a href="{% url image:view image.id %}"><img src="{{ image.logo_uri }}"  alt="Image Picture" /></a>
    </div>
  </div>
  <div id="image-desc-detail">
    <h2>{{ image.name }}</h2>
    <p>{{ image.summary }}</p>
    <ul>
      <li>ID: {{ image.id }}</li>
      <li>Checksum: {{ image.checksum_value }}</li>
      <li>Path: {{ image.path }}</li>
      <li>Status: {{ image.get_status_display }}</li>
      <li>Size: {{ image.size }}</li>
      <li>Update Time: {{ image.updated|date:"Y-m-d H:i" }}</li>
    </ul>
    <div class="image-action">
      <span><a href="{{ image.url_path }}"><img src="/media/img/action_download.gif" alt="Download" /></a></span>
      <span><a href="{% url image:edit image.id %}"><img src="/media/img/action_config.png" alt="Edit" /></a></span>
      <span><a href="{% url image:delete image.id %}"><img src="/media/img/action_delete.png" alt="Delete" /></a></span>
      <span><a href="{% url domain:add_from_image image.id %}"><img src="/media/img/action_create.png" alt="Create Instance" /></a></span>
    </div>
  </div>
</div>
<div id="image-about">
  <div id="image-about-tab">
    <ul>
      <li id="description" class="element hover">Description</li>
      <li id="instances" class="element">Instances</li>
    </ul>
  </div>
  <div id="image-about-content">
    <div id="description-content">
      <p>Image About Content</p>
    </div>
    <div id="instances-content" style="display: none">
      <p>How many instances have used this image</p>
    </div>
  </div>
</div>

{% endif %} {# End DoesNotExist #}


<script>
$("#image-about-tab li").hover(
  function () {

    var cur = $(this).attr("id");

    $("#" + cur).addClass("hover");
    $("#" + cur + "-content").css("display", "inline");

    var ele = new Array();
    ele[0] = "description";
    ele[1] = "instances";
    for ( i = 0; i < ele.length; i++)
    { 
      if ( cur != ele[i] ) {
        $("#" + ele[i]).removeClass("hover");
        $("#" + ele[i] + "-content").css("display", "none");
      }
    }
  },
  function () {
    //action for move out
  }
);
</script>

{% endblock %}
