<%inherit file="appliance_base.html" />

<%block name="main">

<div class="inner-navigator">
  <span><a href="/">${ _("Home") }</a></span>&gt;
  <span><a href="/appliance">${ _("Appliances") }</a></span>&gt;
  <span>${ _("Edit") } ${ appliance.name }</span>
</div>

<div class="lrform edit-appliance">
  <h2>${_("Edit appliance")}</h2>
  <form method="POST" enctype="multipart/form-data">

    % if ERROR:
    <ol>
      % for e in ERROR:
      <li>${ e }</li>
      % endfor
    </ol>
    % endif

    <div class="item">
      <div class="c1">
        <label for="id_name">${ _("Appliance Name") }</label>
      </div>
      <div class="c2">
        <input id="id_name" type="text" name="name" maxlength="30" value="${ name }"/>
      </div>
    </div>

    <div class="item">
      <div class="c1">
        <label for="id_catalog">${ _("Catalog") }</label>
      </div>
      <div class="c2">
        <select name="catalog" id="id_catalog">
          %for c in catalogs:
          <option value="${ c.id }" 
                  %if c.id == catalog_id:
                  selected="selected"
                  %endif
                  >${ c.name }</option>
          %endfor
        </select>
      </div>
    </div>

    <div class="item">
      <div class="c1">
        <label for="id_logo">${ _("Logo Image") }</label>
      </div>
      <div class="c2">
        <input name="logo" type="file"/>
      </div>
    </div>


    <div class="submit">
      <input type="submit" value="${ _('Submit') }"/>
    </div>

  </form>
</div>

</%block>
