<%inherit file="myun_base.html" />

<%block name="sidemain">

<div class="myun-user-action">
  <a class="ly-btn2 medium blue" href="${ reverse_url('appliance:upload') }">${_("Upload Appliance")}</a>
  <a class="ly-btn2 medium blue" 
     title="${ _('Create a new instance') }"
     href="${ reverse_url('instance:create') }">
    ${ _("Create New Instance") }</a>
</div>

% if hasattr(current_user, 'profile'):
<div id="myun-pie-show" class="c">
  <div class="pie" id="myun-cpu-pie"></div>
  <div class="pie" id="myun-mem-pie"></div>
  <div class="pie" id="myun-instance-pie"></div>
  <div class="pie" id="myun-storage-pie"></div>

  <script src="${ static_url('js/highcharts/highcharts.js') }"></script>
  <script type="text/javascript">
	draw_used({
        container: '#myun-cpu-pie',
        title: '${ _("CPU USED INFO") }',
        subtitle: '${ _("Total") } : ${ current_user.profile.cpus } ${ _("core") }',
        series_name: '${ _("Percentage") }',
        used_text: '${ _("Used") }<br/>${ USED_CPU } ${ _("core") }',
	    unused_text: '${ _("Unused") }<br/>${ current_user.profile.cpus - USED_CPU } ${ _("core") }',
        used: ${ USED_CPU },
        total: ${ current_user.profile.cpus },
	    pie_size: 150,
    });

	draw_used({
        container: '#myun-mem-pie',
        title: '${ _("MEMORY USED INFO") }',
        subtitle: '${ _("Total") } : ${ current_user.profile.memory }M',
        series_name: '${ _("Percentage") }',
        used_text: '${ _("Used") }<br/>${ USED_MEMORY }M',
	    unused_text: '${ _("Unused") }<br/>${ current_user.profile.memory - USED_MEMORY }M',
        used: ${ USED_MEMORY },
        total: ${ current_user.profile.memory },
	    pie_size: 150,
    });

	draw_used({
        container: '#myun-instance-pie',
        title: '${ _("INSTANCE USED INFO") }',
        subtitle: '${ _("Total") } : ${ current_user.profile.instances }',
        series_name: '${ _("Percentage") }',
        used_text: '${ _("Used") }<br/>${ USED_INSTANCE }',
	    unused_text: '${ _("Unused") }<br/>${ current_user.profile.instances - USED_INSTANCE }',
        used: ${ USED_INSTANCE },
        total: ${ current_user.profile.instances },
	    pie_size: 150,
    });

	draw_used({
        container: '#myun-storage-pie',
        title: '${ _("STORAGE USED INFO") }',
        subtitle: '${ _("Total") } : ${ current_user.profile.storage }G',
        series_name: '${ _("Percentage") }',
        used_text: '${ _("Used") }<br/>${ USED_STORAGE }G',
	    unused_text: '${ _("Unused") }<br/>${ current_user.profile.storage - USED_STORAGE }G',
        used: ${ USED_STORAGE },
        total: ${ current_user.profile.storage },
	    pie_size: 150,
    });
  </script>
</div>

% else:
<p class="ywarn">${ _("Get your profile data failed.") }</p>
% endif

</%block>
