<%inherit file="/admin/account/base.html" />

<%block name="innav">
<li>${ _("Create New User") }</li>
</%block>

<%block name="submain">

<div>
  <form method="POST">${ xsrf_form_html() }
    <fieldset>
      <legend>${ _("Create New User") }</legend>
      ${ form.username.label } ${ form.username() }
      ${ form.html_errors(form.username.errors) }

      ${ form.email.label } ${ form.email() }
      ${ form.html_errors(form.email.errors) }

      ${ form.password.label } ${ form.password() }
      ${ form.password_confirm.label } ${ form.password_confirm() }

      ${ form.html_errors(form.password.errors) }
      <br>
      <button type="submit" class="btn">${ _("Submit") }</button>
    </fieldset>
  </form>

</div>

</%block>
