<%inherit file="/admin/account/base.html"/>

<%block name="innav">
<li><a href="${ reverse_url('admin:user') }">${ _("User") }</a> <span class="divider">/</span></li>
<li>${ _("Add Resource For All User") }</li>
</%block>

<%block name="submain">

<div>
  <form method="POST">${ xsrf_form_html() }
	<fieldset>
	  <legend>${ _("Add Resource For All User") }</legend>
      ${ form.cpu.label } ${ form.cpu() }
      ${ form.html_errors(form.cpu.errors) }

      ${ form.memory.label } ${ form.memory() }
      ${ form.html_errors(form.memory.errors) }

      ${ form.storage.label } ${ form.storage() }
      ${ form.html_errors(form.storage.errors) }

      ${ form.instance.label } ${ form.instance() }
      ${ form.html_errors(form.instance.errors) }

      ${ form.effect_date.label } ${ form.effect_date() }
      ${ form.html_errors(form.effect_date.errors) }

      ${ form.expired_date.label } ${ form.expired_date() }
      ${ form.html_errors(form.expired_date.errors) }

	  <button type="submit" class="btn">${ _("Save") }</button>
	</fieldset>
  </form>
</div>


</%block>
