<%inherit file="/admin/account/base.html"/>

<%block name="innav">
<li><a href="${ reverse_url('admin:user') }">${ _("User") }</a> <span class="divider">/</span></li>
<%block name="userinnav" />
</%block>

<%block name="submain">
<div class="row-fluid">
  <div class="span3">
    <a href="${ reverse_url('admin:user:view') }?id=${ USER.id }"><img class="ly-logo-large" src="${ USER.avatar_url }" /></a>

    <p><a class="btn" href="${ reverse_url('message:new') }?userid=${ USER.id}" target="_blank">${ _("Send Message") }</a></p>
    <p><a class="btn" href="${ reverse_url('admin:job') }?user=${ USER.id }" target="_blank">${ _("View All Job") }</a></p>
    <p><a class="btn" href="${ reverse_url('user:view') }?id=${ USER.id }" target="_blank">${ _("Home Page") }</a></p>
    <p><a class="btn" href="${ reverse_url('admin:user:resetpass') }?id=${ USER.id }">${ _("Reset Password") }</a></p>

  </div>

  <div class="span9">
    <%block name="usermain"/>
  </div>
</div>

</%block>
