<%inherit file="/admin/account/base.html" />

<%block name="innav">
<li><a href="${ reverse_url('admin:user') }?id=${ USER.id }">${ USER.username }</a></li>
<li>${ _("Edit Resources") }</li>
</%block>

<%block name="main">

<% DESC = USER.description if USER.description else '' %>

<script type="text/javascript" src="${ static_url('markitup/jquery.markitup.js') }"></script>
<script type="text/javascript" src="${ static_url('markitup/sets/markdown/set.js') }"></script>

<div>
  <form method="POST">${ xsrf_form_html() }
    <textarea name="description" id="description">${ DESC }</textarea>
	<button type="submit" class="btn">${ _("Save") }</button>
  </form>
</div>

<script type="text/javascript" >
   mySettings.previewParserPath = "/t/preview?markup_language=markdown&_xsrf=${ xsrf_cookie }";
   $(document).ready(function() {
      $("#description").markItUp(mySettings);
   });
</script>

</%block>
