<%inherit file="/admin/account/base.html" />

<%block name="innav">
<li><a href="${ reverse_url('admin:user') }">${ _("User") }</a> <span class="divider">/</span></li>
<li><a href="${ reverse_url('admin:user') }?id=${ USER.id }">${ USER.username }</a> <span class="divider">/</span></li>
<li>${ _("Edit Resources") }</li>
</%block>

<%block name="main">

<div>
  <form method="POST">${ xsrf_form_html() }
	<fieldset>
	  <legend>${ _("Edit User Resources") }</legend>
      ${ form.memory.label } ${ form.memory() }<br/>
      ${ form.html_errors(form.memory.errors) }

      ${ form.cpus.label } ${ form.cpus() }<br/>
      ${ form.html_errors(form.cpus.errors) }

      ${ form.instances.label } ${ form.instances() }<br/>
      ${ form.html_errors(form.instances.errors) }

      ${ form.storage.label } ${ form.storage() }<br/>
      ${ form.html_errors(form.storage.errors) }

	  <button type="submit" class="btn">${ _("Save") }</button>
	</fieldset>
  </form>
</div>


</%block>
