<%inherit file="user_base.html" />

<%block name="usernav">
<li><a href="${ reverse_url('admin:user') }?id=${ USER.id }">${ USER.username }</a></li>
<li>${ _("Edit Resources") }</li>
</%block>

<%block name="sidemain">

<h2 class="title">${ _("Edit User Resources") }</h2>

<div class="small-left-right-form c">
  <form method="POST">
    ${ form.memory.label } ${ form.memory() }<br/>
    ${ form.html_errors(form.memory.errors) }

    ${ form.cpus.label } ${ form.cpus() }<br/>
    ${ form.html_errors(form.cpus.errors) }

    ${ form.instances.label } ${ form.instances() }<br/>
    ${ form.html_errors(form.instances.errors) }

    ${ form.storage.label } ${ form.storage() }<br/>
    ${ form.html_errors(form.storage.errors) }

    <label>&nbsp;</label><input type="submit" value="${ _('Save') }"/>
  </form>
</div>


</%block>
