<%inherit file="/admin/account.html" />

<%block name="innav">
<li><a href="${ reverse_url('admin:user') }">${ _("User") }</a></li>
</%block>

<%block name="content">

<table class="sort-list-table">
  <tbody>
    <tr>
      <td>${ _("Group") }</td>
      <td>
	<div id="user-group-list" class="c">
	  <ul class="hmenu">
	    <li><a class="current" href="${ reverse_url('admin:user') }">${ _("All") }</a></li>
	    % for G in GROUP_LIST:
	    <li><a id="user-group${ G.id }" href="${ urlupdate({'gid': G.id, 'p': 1 }) }">${ G.name }</a></li>
	    % endfor
	  </ul>
	</div>
      </td>
    </tr>

    <tr>
      <td>${ _("Page Size") }</td>
      <td>
	<ul class="hmenu c">
	  %for s in [30, 50, 100]:
	  <% current = 'current' if PAGE_SIZE == s else '' %>
	  <li><a class="${ current }" href="${ urlupdate({'sepa': s, 'p': 1}) }">${ s }</a></li>
	  %endfor
	</ul>
      </td>
    </tr>
  </tbody>
</table>

% if GID > 0:
<script type="text/javascript">
  $("#user-group-list a").removeClass("current");
  $("#user-group${ GID }").addClass("current");
</script>
% endif

<p class="desc-title">${ _('Total : ') }${ TOTAL_USER }</p>

<div class="m-item"><span class="k">${ _("Search") }</span><span id="search"><input type="text" title="${ _('Input text to search matched user.') }"/></span></div>

<div id="aul" class="ly-table">

  <table>
    <thead>
      <tr>
        <th><a href="${ sort_by('id') }">${ _("ID") }</a></th>
        <th><a href="${ sort_by('username') }">${ _("Name") }</a></th>
        <th><a href="${ sort_by('islocked') }">${ _("Islocked") }</a></th>
	<th>${ _("Group") }</th>
        <th>${ _("Appliance") }</th>
        <th>${ _("Instance") }</th>
	<th>${ _("Email") }</th>
        <th><a href="${ sort_by('date_joined') }">${ _("Date Joined") }</a></th>
	<th><a href="${ sort_by('last_active') }">${ _("Last Active") }</a></th>
      </tr>
    </thead>
    <tbody>
      % for U in USER_LIST:
      <tr>
        <td>${ U.id }</td>
        <td class="username">
	  <img src="${ static_url( U.avatar_mini_url ) }" />
	  <a class="action" href="${ reverse_url('admin:user') }?id=${ U.id }">${ U.username }</a>
	</td>
	<td><input type="checkbox"
		   % if U.islocked:
		   checked="checked"
		   % endif
		   onclick="simpleToggleCheckbox( this, '${ reverse_url('account:islocked', U.id) }', '#islocked-notify')" />
	</td>
	<td>
	  % for G in U.groups:
	  <a href="${ reverse_url('admin:group') }?id=${ G.id }">${ G.name }</a>
	  % endfor
	</td>
	<td>
	  % if U.appliances:
	  <a href="${ reverse_url('admin:appliance') }?uid=${ U.id }">${ len(U.appliances) }</a>
	  % endif
	</td>
	<td>
	  % if U.instances:
	  <a href="${ reverse_url('admin:instance') }?uid=${ U.id }">${ len(U.instances) }</a>
	  % endif
	</td>
	<td><a href="${ reverse_url('system:sendmail') }?totype=user&idlist=${ U.id }" target="_blank">${ U.email }</a></td>
	<td class="time">${ ftime(U.date_joined) }</td>
	<td class="time">${ htime(U.last_active) }</td>
      </tr>
      % endfor
    </tbody>
  </table>
  ${ PAGE_HTML }

</div>

<div class="manage-content">
  <a class="blue-submit" href="${ reverse_url('admin:user') }?action=add">${ _("Create New User") }</a>
  <a class="red-submit" href="${ sort_by('description') }">${ _("Users Have Remark") }</a>
</div>

<script charset="utf-8" src="${ STATIC_URL }js/instance.js"></script>

<script type="text/javascript">
  // usersearch
  $("#search input").keyup(function(){
    txt=$("#search input").val();

    var url = lyurl_update_arg(location.href, 'search', txt);
    url = lyurl_update_arg(url, 'ajax', 'True');
    url = lyurl_update_arg(url, 'p', '1');

    clearTimeout($(this).data('timeId'));

    var timeoutId = setTimeout(function() {
      $.get(url,function(result){
        $("#aul").html(result);
      }); }, 300);

    $(this).data('timeId', timeoutId);
  });
</script>


<div id="islocked-notify" style="display:none">
  <div id="basic-template">
    <a class="ui-notify-cross ui-notify-close" href="#">x</a>
    <p>${ _("Toggle Account islocked status Success") }</p>
  </div>
  <div id="error-template">
    <a class="ui-notify-cross ui-notify-close" href="#">x</a>
    <h1>${ _("Toggle Account islocked status Failed") }</h1>
    <p>#{text}</p>
  </div>
</div>

</%block>
