<%inherit file="/admin/admin_base.html" />

<%block name="sidemain">

<div class="main-wrap">
  <div class="inner-navigator">
    <span><a href="/admin">${ _("Admin") }</a></span>&gt;
    <span><a href="/admin/user">${ _("User") }</a></span>
  </div>
</div>

<div class="main-wrap">
  <span><a class="button" href="${ reverse_url('admin:user') }?action=add">${ _("Create New User") }</a></span>
</div>

<div class="main-wrap admin-user-list">
  <table>
    <thead>
      <tr>
        <th>${ _("ID") }</th>
        <th>${ _("Username") }</th>
        <th>${ _("Edit") }</th>
        <th>${ _("Info") }</th>
      </tr>
    </thead>
    <tbody>
      % for U in USER_LIST:
      <tr>
        <td>${ U.id }</td>
        <td><a class="action" href="${ reverse_url('admin:user') }?id=${ U.id }&action=view">${ U.username }</a></td>

        <td>
          <a class="action" href="${ reverse_url('admin:user') }?id=${ U.id }&action=reset_password"><img src="${ THEME_URL }img/reset_password.gif" title="${ _('Reset Password') }"/></a>
          <a class="action" href="${ reverse_url('admin:user') }?id=${ U.id }&action=edit_resources"><img src="${ THEME_URL }img/resources.png" title="${ _('Edit Resources') }"/></a>
        </td>

        <td>

          % if U.groups:
          <a class="action" href="${ reverse_url('admin:user') }?id=${ U.id }&action=groups"><img src="${ THEME_URL }img/group.png" title="${ _('Groups') }"/></a>
          % endif

          % if U.permissions or U.groups:
          <a class="action" href="${ reverse_url('admin:user') }?id=${ U.id }&action=permissions"><img src="${ THEME_URL }img/permission.png" title="${ _('Permissions') }"/></a>
          % endif

          % if U.instances:
          <a class="action" href="${ reverse_url('admin:user') }?id=${ U.id }&action=instances"><img src="${ THEME_URL }img/instances.gif" title="${ _('Instances') }"/></a>
          % endif
        </td>
      </tr>
      % endfor
    </tbody>
  </table>
</div>


</%block>
