<%inherit file="/admin/admin_base.html" />

<%block name="sidemain">

<div class="main-wrap">
  <div class="inner-navigator">
    <span><a href="/admin">${ _("Admin") }</a></span>&gt;
    <span><a href="/admin/user">${ _("User") }</a></span>&gt;
    <span><a href="${ reverse_url('admin:user') }?id=${ user.id }&action=view">${ user.username }</a></span>&gt;
    <span>${ _("reset password") }</span>
  </div>
</div>

<div class="small-left-right-form">
  <form method="POST">
    ${ form.password.label } ${ form.password() }<br/>
    ${ form.password_confirm.label } ${ form.password_confirm() }<br/>
    ${ form.html_errors( form.password.errors ) }

    <label>&nbsp;</label><input type="submit" value="${ _('Submit') }" class="button" />
  </form>
</div>

</%block>
