<%inherit file="base.html" />

<%block name="userinnav">
<li><a href="${ reverse_url('admin:user:view') }?id=${ USER.id }">${ USER.username }</a> <span class="divider">/</span></li>
<li>${ _("Reset Password") }</li>
</%block>

<%block name="usermain">

<div>
  <form method="POST">${ xsrf_form_html() }
	<fieldset>
	  <legend>${ _("Reset Password") }</legend>
      ${ form.password.label } ${ form.password() }<br/>
      ${ form.password_confirm.label } ${ form.password_confirm() }<br/>
      ${ form.html_errors( form.password.errors ) }
	  <button type="submit" class="btn">${ _("Submit") }</button>
	</fieldset>
  </form>
</div>

</%block>
