<%inherit file="/admin/admin_base.html" />

<%block name="innav">
<li><a href="${ reverse_url('admin:user') }">${ _("User") }</a></li>
<li>${ _("Reset Password Apply History") }</li>
</%block>

<%block name="sidemain">

<h2 class="title">${ _("User Reset Password History") }</h2>

<p>${ _("Total: ") } ${ len(APPLY_LIST) }</p>

% if APPLY_LIST:
<div class="ly-table">
  <table>
    <thead>
      <tr>
        <th>${ _("ID") }</th>
        <th>${ _("User") }</th>
##	<th>${ _("Email") }</th>
	<th>${ _("Key") }</th>
	<th>${ _("Created") }</th>
	<th>${ _("Completed") }</th>
      </tr>
    </thead>
    <tbody>
      % for A in APPLY_LIST:
##      <% EMAIL = A.user.profile.email %>
      <tr>
	<td>${ A.id }</td>
	<td><a href="${ reverse_url('admin:user') }?id=${ A.user.id }">${ A.user.username }</a></td>
##	<td><a href="mailto:${ EMAIL }">${ EMAIL }</a></td>
	<td>${ A.key }</td>
	<td>${ lytime(A.created, '%Y-%m-%d %H:%M:%S') }</td>
	<td>${ lytime(A.completed, '%Y-%m-%d %H:%M:%S') }</td>
      </tr>
      % endfor
    </tbody>
  </table>
</div>
% endif

</%block>
