<%inherit file="/admin/account/base.html" />

<%block name="innav2">
<li><a href="${ reverse_url('admin:user') }">${ _("User") }</a></li>
<li>${ _("Reset Password Apply History") }</li>
</%block>

<%block name="main">

<p>${ _("Total: ") } ${ len(APPLY_LIST) }</p>

% if APPLY_LIST:
<div>
  <table class="ly-table">
    <thead>
      <tr>
        <th>${ _("ID") }</th>
        <th>${ _("User") }</th>
	<th>${ _("Key") }</th>
	<th>${ _("Created") }</th>
	<th>${ _("Completed") }</th>
      </tr>
    </thead>
    <tbody>
      % for A in APPLY_LIST:
      <tr>
	<td>${ A.id }</td>
	<td><a href="${ reverse_url('admin:user') }?id=${ A.user.id }">${ A.user.username }</a></td>
	<td>${ A.key }</td>
	<td>${ ftime(A.created) }</td>
	<td>${ htime(A.completed) }</td>
      </tr>
      % endfor
    </tbody>
  </table>
</div>
% endif

</%block>
