<%inherit file="base.html" />

<%block name="innav">
<li><a href="${ reverse_url('admin:user') }">${ _("User") }</a> <span class="divider">/</span></li>
<li><a href="${ reverse_url('admin:user:view') }?id=${ USER.id }">${ USER.username }</a> <span class="divider">/</span></li>
<li>${ _("Add Resource") }</li>
</%block>

<%block name="usermain">

<div>
  <form method="POST">${ xsrf_form_html() }
	<fieldset>
	  <legend>${ _("Add Resource") }</legend>
      ${ form.type.label } ${ form.type() }
      ${ form.html_errors(form.type.errors) }

      ${ form.size.label } ${ form.size() }
      ${ form.html_errors(form.size.errors) }

      ${ form.effect_date.label } ${ form.effect_date() }
      ${ form.html_errors(form.effect_date.errors) }

      ${ form.expired_date.label } ${ form.expired_date() }
      ${ form.html_errors(form.expired_date.errors) }

	  <button type="submit" class="btn">${ _("Save") }</button>
	</fieldset>
  </form>
</div>


</%block>
