<%inherit file="base.html" />

<%block name="userinnav">
<li>${ _("View User ") } ${ USER.username }</li>
</%block>

<%block name="usermain">
<h2>${ _("Baseinfo") }</h2>
<table class="table table-striped">
  <tbody>
	<tr>
	  <td>${ _("Username") }</td>
	  <td>${ USER.username }</td>
	</tr>
	<tr>
	  <td>${ _("ID") }</td>
	  <td>${ USER.id }</td>
	</tr>
	<tr>
	  <td>${ _("Date Joined") }</td>
	  <td>${ ftime(USER.date_joined) }</td>
	</tr>
	<tr>
	  <td>${ _("Last Login") }</td>
	  <td>${ ftime(USER.last_login) }</td>
	</tr>
	<tr>
	  <td>${ _("Last Active") }</td>
	  <td>${ htime(USER.last_active) }</td>
	</tr>
	<tr>
	  <td>${ _("Email") }</td>
	  <td>${ USER.email }</td>
	</tr>
	<tr>
	  <td>${ _("Language") }</td>
	  <td>${ USER.language.name }</td>
	</tr>
	<tr>
	  <td>${ _("Appliances") }</td>
	  <td>
		% if USER.appliances:
		<a href="${ reverse_url('admin:appliance') }?uid=${ USER.id }">${ len(USER.appliances) }</a>
		% endif
	  </td>
	</tr>

	<tr>
	  <td>${ _("Instances") }</td>
	  <td>
		% if USER.instances:
		<a href="${ reverse_url('admin:instance') }?uid=${ USER.id }">${ len(USER.instances) }</a>
		% endif
	  </td>
	</tr>
  </tbody>
</table>


<h2>${ _("Resources") }</h2>
<p>
  <a class="btn btn-primary" href="${ reverse_url('admin:user:resource:simple_add') }?id=${ USER.id }"><i class="icon-plus-sign"></i> ${ _("Simple Add Resource") }</a>
  <a class="btn" href="${ reverse_url('admin:user:resource:add') }?id=${ USER.id }"><i class="icon-plus-sign"></i> ${ _("Add Resource") }</a>
</p>

<table class="table table-condensed table-bordered">
  <thead>
	<tr>
	  <th colspan="2">${ _("CPU") }</th>
	  <th colspan="2">${ _("Memory") }</th>
	  <th colspan="2">${ _("Storage") }</th>
	  <th colspan="2">${ _("Instance") }</th>
	</tr>
  </thead>
  <tbody>
	<tr>
	  <td>${ USER.profile.cpu_total } ${ _("core") }</td>
	  <td>${ USER.profile.cpu_used } ${ _("core") }</td>
	  <td>${ USER.profile.memory_total } M</td>
	  <td>${ USER.profile.memory_used } M</td>
	  <td>${ USER.profile.storage_total } G</td>
	  <td>${ USER.profile.storage_used } G</td>
	  <td>${ USER.profile.instance_total }</td>
	  <td>${ USER.profile.instance_used }</td>
	</tr>
  </tbody>
</table>

% if USER.resources:
<table class="table table-bordered">
  <thead>
	<tr>
	  <th>ID</th>
	  <th>${ _("Type") }</th>
	  <th>${ _("Size") }</th>
	  <th>${ _("Effect Date") }</th>
	  <th>${ _("Expired Date") }</th>
	  <th></th>
	</tr>
  </thead>
  <tbody>
	% for R in USER.resources:
	<tr class="${ R.contextual_class }">
	  <td>${ R.id }</td>
	  <td>${ R.type_str }</td>
	  <td>${ R.size_str }</td>
	  <td>${ ftime(R.effect_date) }</td>
	  <td>${ ftime(R.expired_date) }</td>
	  <td>
		<i class="icon-star"></i> <a href="${ reverse_url('admin:resource:view') }?id=${ R.id }">${ _("View") }</a>
		<i class="icon-edit"></i> <a href="${ reverse_url('admin:resource:edit') }?id=${ R.id }&next_url=${ reverse_url('admin:user:view') }?id=${ USER.id }">${ _("Edit") }</a>
		<i class="icon-trash"></i> <a href="${ reverse_url('admin:resource:delete') }?id=${ R.id }&next_url=${ reverse_url('admin:user:view') }?id=${ USER.id }">${ _("Delete") }</a>
	  </td>
	</tr>
	% endfor
  </tbody>
</table>
% endif


<h2>${ _("Group & Permission") }</h2>

<p><i class="icon-edit"></i> <a href="${ reverse_url('admin:user:group:edit') }?id=${ USER.id }">${ _("Edit Groups") }</a></p>

% if USER.groups:
<table class="table">
  <thead>
	<tr>
	  <th>${ _("Group") }</th>
	  <th>${ _("Permissions") }</th>
	</tr>
  </thead>
  <tbody>
	% for G in USER.groups:
	<tr>
	  <td><a href="${reverse_url('admin:group') }?id=${ G.id }">${ G.name }</a></td>
	  <td>
		<ul>
		  % for P in G.permissions:
		  <li><a href="${ reverse_url('admin:permission') }?id=${ P.id }">${ P.codename }</a></li>
		  % endfor
		</ul>
	  </td>
	</tr>
	% endfor
  </tbody>
</table>
% else:
<p>${ _("User has no group!") }</p>
% endif


<p><a class="btn btn-danger" href="${ reverse_url('admin:user:delete') }?id=${ USER.id }"><i class="icon-trash"></i> ${ _("Delete This User") }</a></p>

</%block>
