#appliance-catalog-list {
    margin: 30px 0;
}

#appliance-catalog-list a.current {
    border-radius: 3px;
    border: 1px solid #DFE6ED;
    background-color: #467AA7;
    color: #FFF;
}

#a-logo img.medium {
    border: 1px solid #DFE6ED;
    border-radius: 3px;
}

.plus, .minus {
    display: inline-block;
    border-radius: 2px;
    border: 1px solid #DFE6ED;
    padding: 3px 5px;
}