#account-delete {
    margin: 100px 160px;
    border-radius: 3px;
    border: 1px solid #DEDEDE;
}
#account-delete h2 {
    font-size: 22px;
    color: #FFF;
    text-align: center;
    padding: 15px 0;
    margin: -1px;
    margin-bottom: 15px;
    background-color: #3B5998;
    border-radius: 3px 3px 0 0;
}
#account-delete .body {
    padding: 15px;
}
#account-delete h3 {
    font-size: 18px;
    color: #2A3539;
    margin-bottom: 20px;
}
#account-delete ul, #account-delete ol {
    margin: 15px 0 25px 30px;
}
#account-delete .errors {
    color: red;
}