#inst-status .status img {
    width: 18px;
    height: 18px;
}

#ly-instance-main {
    margin-top: 30px;
}
#ly-instance-main .island {
    padding: 0;
    border-radius: 5px;
    /*background-image: -moz-linear-gradient(#FFFFFF, #ECF1F7);*/
}
#create-instance {
    margin: 15px auto 35px;
}
.section {
    width: 740px;
    float: left;
}
.aside {
    width: 200px;
    float: right;
}

.i {
    position: relative;
    width: 123px;
    /*z-index: 0;*/
}
.i {
    float: left;
    margin: 2px 12px 30px;
}
/*
.i-logo {
    background: none repeat scroll 0 0 #FFFFFF;
    border-radius: 3px;
    border: 1px solid #D9D9D9;
}*/
.i-logo img {
    width: 120px;
    height: 120px;
    border-radius: 3px;
    border: 1px solid #D9D9D9;
}
.i_name {
    font-size: 0.9em;
    padding: 5px 0;
    text-align: center;
    margin-bottom: 10px;
}
.i_name a {
    text-decoration: none;
    /* Following is a */
    display: block;  
    width: 120px;  
    margin: 0px 0px 0px 3px;  
    white-space: nowrap;  
    overflow: hidden;  
    float: left;  
    -o-text-overflow: ellipsis;    /**//* for Opera */  
    text-overflow: ellipsis;        /**//* for IE */  

}
.i_name:after{ content: ""; }/**//* for Firefox */

.i_status {
    position: absolute;
    top: -10px;
    left: -10px;
    color: #494D52;
    font-size: 0.9em;
    font-weight: 600;
/*    background-color: #F7FAFC;*/
    border-radius: 5px 0 5px 0;
    padding: 3px 5px;
}
.i_status img {
    width: 16px;
    height: 16px;
}
li.i_id:hover {
    padding: 5px 10px;
    font-size: 1.1em;
}
.i .t {
    padding: 2px 5px 2px 0;
    font-weight: 600;
    font-size: 0.9em;
/*    width: 60px;
    display: inline-block;*/
}
.i li {
    color: #909090;
    font-size: 0.9em;
}

.sort-select {
    margin: 10px 2px 20px;
}
.sort-select h3 {
    font-size: 0.9em;
    font-weight: 600;
}
.sort-select li {
    font-size: 0.9em;
}


/* Start Instance Logo Hover */
.i-logo-hover {
    position: absolute;
    top: 120px;
    /*left: 100px;*/
    padding: 10px;
    width: 204px;
    z-index: 3;

    font-size: 0.9em;
    color: #313231;
    margin-top: 12px;

    background: none repeat scroll 0 0 #FFF;
    border: 1px solid #C6CFDD;
    border-radius: 3px;
    height: auto;
    padding: 0 10px 10px;
}
.i-logo-hover .arrowBox {
    background: url("http://mat1.gtimg.com/news/imgcss_article_qq/tit_info_mb.png") no-repeat scroll 0 0 transparent;
    font-size: 1px;
    height: 7px;
    line-height: 1px;
    margin: -7px 0 0 20px;
    position: absolute;
    width: 14px;
}
.i-logo-hover .title {
    font-size: 16px;
    font-weight: bold;
    color: #E2A105;
    margin: 10px 0;
}
.i-logo-hover .owner {
    font-size: 13px;
    padding-left: 10px;
}
.i-logo-hover .summary {
    padding: 10px;
    border-bottom: 1px solid #ccc;
    margin-bottom: 10px;
}
.i-logo-hover table {
    *border-collapse: collapse; /* IE7 and lower */
    border-spacing: 0;
    width: 100%;
}
.i-logo-hover tr {
    -o-transition: all 0.1s ease-in-out;
    -webkit-transition: all 0.1s ease-in-out;
    -moz-transition: all 0.1s ease-in-out;
    -ms-transition: all 0.1s ease-in-out;
    transition: all 0.1s ease-in-out;		
}
.i-logo-hover td {
    padding: 5px;
    font-size: 12px;
}
.i-logo-hover td:first-child {
    font-weight: bold;
}
/* End Instance Logo Hover */

