.subtitle {
    font-size: 18px;
    font-weight: bold;
    color: #4C4C4E;
    margin: 25px 0 15px;
}
.management {
    text-align: right;
}
#message-center {
}

#message-center-sidebar {
    width: 160px;
    border-left: 1px solid #ECECEC;
    float: right;
}
#message-center-sidemain {
    float: left;
    width: 760px;
    padding-left: 20px;
}
#message-center-sidebar .action {
    margin: 80px 0 30px;
}
#message-center-sidebar .action li {
    text-align: left;
}
#message-center-sidebar .new {
    text-align: left;
    padding: 20px 10px;
}
#message-center-sidebar .button {
    float: right;
}

#message-home-sidemenu a {
    display: inline-block;
    padding: 8px 16px;
    margin-top: 12px;
    text-decoration: none;
}
#message-home-sidemenu .current {
    background-color: #3B5998;
    border-radius: 0 3px 3px 0;
    color: white;
}

/* Start message body show style */
.ly-view-message .body {
    padding: 10px;
    width: 600px;
}
.ly-view-message .body p {
    line-height: 2em;
}
.ly-view-message .body pre {
    margin: 10px;
    white-space: pre-wrap;       /* css-3 */
    white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
    white-space: -pre-wrap;      /* Opera 4-6 */
    white-space: -o-pre-wrap;    /* Opera 7 */
    word-wrap: break-word;       /* Internet Explorer 5.5+ */
    display: block;
    overflow: auto;
    background: #f4f4f4;
    padding: 5px 10px;
    border: 1px solid #eee;
    word-wrap:break-word; /* Internet Explorer 5.5+ */
    white-space: pre-wrap; /* Firefox */
}
.ly-view-message .body blockquote {
    font-size: 0.9em;
    color: #447251;
    margin: 10px 0 20px 20px;
    border: 1px solid #CEDBE1;
    border-radius: 3px;
    padding: 10px;
}
.ly-view-message .body ol,
.ly-view-message .body ul {
    margin-left: 35px;
}
.ly-view-message .body ol {
    list-style-type: decimal;
}
.ly-view-message .body ul {
    list-style-type: circle;
}
.ly-view-message li {
    padding: 5px;
}

.ly-view-original-message {
    border-radius: 3px;
    border: 1px solid #DCDCDC;
    padding: 10px;
    background-color: #EDEDF0;
}
/* End message body show style */


/* Start message list style */
.ly-message-list {
    margin: 15px;
}
.ly-message-list table {
    color:#333333;
    border-collapse:collapse;
    /*border:1px solid #CEDBE1;*/
    width: 100%;
}
.ly-message-list thead {
    border-bottom:1px solid #CEDBE1;
    line-height: 30px;
}
.ly-message-list th {
    padding: 10px;
}
.ly-message-list td {
    padding: 10px;
    vertical-align:middle;
}
.ly-message-list tr {
    border-bottom: 1px solid #E2DFDF;
}
.ly-message-list .read .subject a {
    color: #555;
}
.ly-message-list .user img {
    width: 56px;
    height: 56px;
    border-radius: 3px;
}
.ly-message-list .user a {
    margin: 3px 4px;
    display: inline-block;
}
.ly-message-list .global-info {
    margin: 20px 0;
    font-size: 18px;
    font-weight: bold:
    color: #447251;
}
.ly-message-list a {
    text-decoration: none;
}
.ly-message-list .user {
    width: 80px;
}
.ly-message-list .other {
    width: 80px;
}
.ly-message-list .management a {
    margin: 5px;
}
.ly-message-list .new-message {
    background-color: #EDEDF9;
}
/* End message list style */

/* Start view message */
.ly-view-message .baseinfo {
    margin: 30px 0 20px;
}
.ly-view-message .baseinfo td {
    padding: 8px 10px;
}
.ly-view-message .baseinfo td:first-child {
    text-align: right;
    font-weight: bold;
}
.ly-view-message .body {
    border: 1px solid #DCDCDC;
    border-radius: 3px;
    box-shadow:1px 1px 3px #DCDCDC;
    padding: 20px 10px;
    margin: 20px 10px 30px;
}
/* End view message */

/* Start outbox view message */
.view-out-message {
    margin: 30px;
}
.view-out-message .to img {
    width: 46px;
    height: 46px;
}
.view-out-message .to a {
    display: block;
}
.view-out-message .subject {
    font-size: 18px;
    color: #303030;
}
.view-out-message .body {
    border: 1px solid #CEDBE1;
}
.view-out-message td {
    padding: 12px 10px;
}
.view-out-message td:first-child {
    font-weight: bold;
    text-align: right;
    color: #303030;
}
/* End outbox view message */

.edit-message h1 {
    font-size: 18px;
    color: #08562D;
    text-align: center;
    padding-bottom: 10px;
    border-bottom: 1px solid #CEDBE1;
    margin: 20px 10px;
}
.reply-message input[type="text"] {
    width: 100%;
}
.reply-message .title {
    margin: 20px 0;
    font-weight: bold;
}
.reply-message .title .datetime {
    color: #D1BD0A;
}
.reply-message .orig-message {
    border: 1px solid #CEDBE1;
    border-radius: 3px;
    margin: 15px 0;
    background-color: #F1F7F3;
}
.reply-message .orig-message .body {
    padding: 15px 10px;
}
.reply-message .orig-message .subject {
    font-size: 16px;
    background-color: #3B5998;
    padding: 10px;
    color: #FFF;
    border-radius: 3px 3px 0 0
    border: 1px solid #3b5998;
}



