<%inherit file="/admin/account/base.html" />

<%block name="innav">
<li><a href="${ reverse_url('admin:permission') }">${ _("Permission") }</a></li>
</%block>

<%block name="submain">

<h2 class="subtitle">${ _("Permission List") }</h2>

<div class="c">
  <table class="ly-table">
    <thead>
      <tr>
        <th>${ _("ID") }</th>
        <th>${ _("Codename") }</th>
        <th>${ _("Name") }</th>
        <th>${ _("Group") }</th>
      </tr>
    </thead>
    <tbody>
      % for P in PERMISSION_LIST:
      <tr>
        <td>${ P.id }</td>
        <td>${ P.codename }</td>
        <td>${ P.name }</td>
    <td>
      % if P.groups:
      <ul>
        % for G in P.groups:
        <li><a href="${ reverse_url('admin:group') }?id=${ G.id }">${ G.name }</a></li>
        % endfor
      </ul>
      % endif
    </td>
      </tr>
      % endfor
    </tbody>
  </table>
</div>


</%block>
