.account {
    margin-top: 50px;
}

.account .sidebar {
    width: 220px;
    float: left;
    border-right: 1px solid #DEDEDE;
}

.account .sidemain {
    width: 680px;
    float: left;
    margin-left: 15px;
    padding-left: 20px;
}

.account .account-info {
    border-bottom: 1px solid #ECECEC;
    padding: 5px 10px;
    margin: 5px 5px 25px;
}
.account .account-info .username {
    font-size: 1.2em;
}

.account .last-login {
    font-size: 0.9em;
}

.account .action ul {
    margin: 5px;
    padding: 5px;
    list-style-type: none;
}


.view-user {
    margin: 50px 0;
}

.user-profile {
    padding: 30px 5px;
}

.user-register, .login-form, .reset-password-form {
    margin: 100px auto;
    width: 380px;
}
.user-register .c1, .login-form .c1, .reset-password-form .c1 {
    width: 120px;
}
.user-register .c2, .login-form .c2, .reset-password-form .c2 {
    width: 220px;
}