.ly-table td {
    /*vertical-align: center;*/
}
img.i-logo {
    border-radius: 3px;
    width: 36px !important;
    height: 36px !important;
    margin: 0;
    padding: 0;
}


#top-header .c1, #top-header .c2 {
    float: left;
}
#top-header .c1 {
    position: relative;
    padding: 20px;
}
#top-header .c2 {
    padding: 50px 0 0 50px;
}

#i-logo {
    border-radius: 100px;
}
#i-logo img {
    width: 98px;
    height: 98px;
    border-radius: 3px;
    border: 1px solid #ECEDEF;
}

#i-is-img {
    margin-right: 10px;
    position: absolute;
    top: 13px;
    left: 13px;
}

#i-control-btn , #i-control-result {
    float: left;
}
#i-control-result {
    width: 500px;
}
#i-control-result {
    padding: 10px 0 10px 15px;
}
#i-js-img {
    margin-right: 10px;
}
#i-control-btn img {
    width: 36px;
    height: 36px;
}
#i-control-reboot img {
    width: 22px;
    height: 22px;
    margin: 6px 12px;
}

#i-baseinfo {
    font-size: 0.9em;
    border: 1px solid #ECEDEF;
    border-radius: 3px;
    padding: 10px 25px;
    margin: 6px 0 20px;
    background-color: #F4F6F9;
}
#i-baseinfo table {
    float: left;
    padding: 10px 35px;
    width: 49%;
    display: inline-block;
}
#i-baseinfo table td {
    padding: 4px 7px;
}
#i-baseinfo table td:first-child {
    padding-right: 10px;
    font-weight: bold;
    text-align: right;
    color: #27375D;
	white-space: nowrap;
}
#i-baseinfo td input {
    vertical-align:middle;
    cursor:pointer;
    color:#ffffff;
    -moz-border-radius: 10px; -webkit-border-radius: 10px;
}

.tabs {
    margin-bottom: 0;
}
.tabs ul {
    padding-left: 15px;
}

.tab-content {
    height:auto !important;
    height:380px;
    min-height:380px;
    padding: 20px 15px 50px;
}
.tab-content h2 {
    margin: 20px 0 12px;
    color: #143340;
    font-size: 16px;
}
.tab-content p {
    margin: 10px;
}

.tab-content .i-management-btn {
    margin-top: 20px;
}

.tab-content .ly-table {
    font-size: 0.9em;
    border: 1px solid #ECEDEF;
    border-radius: 6px;
}


.instance-status-select {
    margin: 15px 0;
}
.instance-status-select a {
    float: left:
    display: inline-block;
    padding: 2px 3px;
    margin: 2px;
    border-radius: 3px;
    border: 1px solid #DCDCDC;
}

.instance-status-select a.current {
    color: #FFF;
    background-color: #467AA7;
}

#ictl-cfm-dialog-wait {
    padding: 30px 10px;
}
#ictl-cfm-dialog-wait .pic,
#ictl-cfm-dialog-wait .text {
    float: left;
}
#ictl-cfm-dialog-wait .pic {
    margin: 10px 5px 10px 15px;
    width: 32px;
}
#ictl-cfm-dialog-wait .text {
    padding: 10px;
    width: 200px;
}