.sidebar {
    padding: 10px 10px 20px 0;
}

.sidebar .addon {
    text-align: right;
    font-size: 0.9em;
    color: #666;
    margin-top: 20px;
}

.appliance-home {
    padding: 60px 0 50px;
}

.sort-method {
    margin: 30px 10px;
}
.appliance-list {
    height: 320px;
}
.appliance {
    background-color: #F4F8FC;
    background: -webkit-gradient(linear, left top, left bottom, from(#FCFDFE), to(#F4F8FC));
    background: -moz-linear-gradient(#FCFDFE, #F4F8FC) repeat scroll 0 0 #FCFDFE;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FCFDFE', endColorstr='#F4F8FC');

    border: 1px solid #D9D9D9;
    border-radius: 5px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
    color: #666666;
    font-size: 14px;
}


.appliance {
    float: left;
    width: 130px;
    height: 135px;
    margin: 15px 10px;
    font-size: 0.9em;

    text-align: center;

    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.appliance .logo img {
    width: 90px;
    height: 90px;
}

.appliance {
    position: relative;
}
.appliance-base-info {
    /*position: relative;*/
    position: absolute;
    top: 0;
    left: 0;
    background-color: #FFF;
    height: 200px;
    text-align: left;
    padding: 10px 5px;
}


.inner-navigator {
    margin: 50px 0;
}
#view-appliance {
    margin: 20px 0 80px;
}

#view-appliance .side,
#view-appliance .base {
    float: left;
}

#view-appliance .side {
    width: 260px;
    text-align: center;
}

#view-appliance .base {
    background-color: #F4F8FC;
    background: -webkit-gradient(linear, left top, left bottom, from(#FCFDFE), to(#F4F8FC));
    background: -moz-linear-gradient(#FCFDFE, #F4F8FC) repeat scroll 0 0 #FCFDFE;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FCFDFE', endColorstr='#F4F8FC');

    border: 1px solid #D9D9D9;
    border-radius: 5px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);

    padding: 10px 15px;
    width: 660px;
}

#view-appliance .status {
    display: block;
    margin: 10px auto;
}

#view-appliance .action {
    clear: both;
    margin-top: 35px;
}

#view-appliance table {
    border: none;
    font-size: 0.9em;
    color: #666;
}
#view-appliance table td {
    border: none;
    padding: 2px 5px;
}
#view-appliance ul {
    list-style: none;
    margin: 10px 0;
    padding: 2px 0;
}
#view-appliance li {
    padding: 3px 0;
}

.ly-appliance-description, .ly-appliance-instance-list {
    clear: both;
    border-top: 1px solid #D9D9D9;
    margin-top: 30px;
    padding: 30px;
}


.create-instance, .edit-appliance {
    width: 480px;
    margin: 60px auto 120px;
}
.create-instance .c1, .edit-appliance .c1 {
    width: 100px;
}
.create-instance .c2, .edit-appliance .c2 {
    width: 320px;
}


/* Start progress */
.bar {
  width: 320px;
}

#progress {
  background: #eee;
  border: 1px solid #B1D632;
  padding: 2px;
  margin-top: 30px;
  margin-bottom: 10px;
}

#progressbar {
  width: 0px;
  height: 24px;
  background: #B1D632;
}
/* End progress */


.upload-appliance {
    margin: 200px auto 300px;
    width: 420px;
}
#upload, #uploading {
    margin: 10px auto;
}
#upload input {
    height: 2em;
}