h1 {
    color: #C63717;
    font: italic 24px Georgia,serif;
    margin-bottom: 16px;
}
h2 {
    color: #333333;
    font: italic 18px Georgia,serif;
}
h4 {
    font-size: 14px;
}
h5 {
    font-weight: 700;
}
.sidebar {
    padding: 10px 10px 20px 0;
}
.menu h3 {
    color: #1D306B;
    font-size: 13px;
    margin-bottom: 20px;
    padding-right: 5px;
    text-align: right;
}
.sidemain {
    background-color: white;
    border: 1px solid #E9E9E9;
    border-radius: 3px;
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.2);
}

.appliance-home {
    margin-top: 30px;
}

.sort-method {
    margin: 30px 10px;
}
.appliance-list {
    height: 320px;
}

.appliance {
    float: left;
    width: 130px;
    height: 135px;
    margin: 15px 10px;
    font-size: 0.9em;

    text-align: center;

    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.appliance .logo img {
    width: 90px;
    height: 90px;
}

.appliance {
    position: relative;
}

/* Start progress */
.bar {
  width: 320px;
}

#progress {
  background: #eee;
  border: 1px solid #B1D632;
  padding: 2px;
  margin-top: 30px;
  margin-bottom: 10px;
}

#progressbar {
  width: 0px;
  height: 24px;
  background: #B1D632;
}
/* End progress */


.upload-appliance {
    margin: 200px auto 300px;
    width: 420px;
}
#upload, #uploading {
    margin: 10px auto;
}
#upload input {
    height: 2em;
}


.inner-nav {
    margin: 30px 0 20px;
}
.section {
    width: 740px
}
.section p, .section ul {
    color: #666666;
    line-height: 1.3em;
}
.title2 {
    margin: 10px 0 20px;
}
.aside {
    width: 200px;
    float: right;
}
#app-baseinfo {
    width: 100%;
}
.app-logo {
    float: left;
    margin: 5px 20px 5px 0;
    width: 120px;
}
.app-desc {
    float: left;
    width: 600px;
}
.app-name {
    margin: 5px;
}
.app-name h1 {
    color: #333333;
}
.app-user {
    margin: 15px 5px;
    font-size: 0.9em;
    color: #6A6A6D;
}
.app-summary {
    margin: 15px 5px 30px;
    padding: 10px 0;
}
.aside table td.c1 {
    width: 80px;
}
.app-admin {
    margin: 20px;
    float: right;
}

.section h2 {
    margin-bottom: 20px;
}
/* Start instance list in appliance view */
.v-instance {
    float: left;
    margin: 15px 10px;
    width: 120px;
    text-align: center;
    position: relative;
}
.v-instance .i-logo img {
    width: 60px;
    height: 60px;
    border-radius: 5px;
}
.v-instance .i-status {
    position: absolute;
    top: 3px;
    left: 3px;
}
.v-instance .i-name {
    font-size: 0.9em;
    padding: 5px 0;
    text-align: center;
}
.v-instance .i-name a {
    text-decoration: none;
    /* Following is a */
    display:block;  
    width:120px;  
    margin: 0px 0px 0px 3px;  
    white-space: nowrap;  
    overflow: hidden;  
    float: left;  
    -o-text-overflow: ellipsis;    /**//* for Opera */  
    text-overflow: ellipsis;        /**//* for IE */  
}
.v-instance .i-name a:after{ content: ""; }/**//* for Firefox */
.v-instance .t {
    padding: 2px 5px 2px 0;
    font-weight: 600;
    font-size: 0.9em;
/*    width: 60px;
    display: inline-block;*/
}
.v-instance li {
    color: #909090;
    font-size: 0.9em;
}
/* End instance list in appliance view */

#appliance-delete-failed {
    margin: 100px 0;
}

