html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
    border: 0 none;
    font: ;
    margin: 0;
    padding: 0;
    vertical-align: baseline;
}
* {
    word-wrap: break-word;
    font-family: DejaVu Sans, Microsoft YaHei;
}
article, aside, details, figcaption, figure, footer, header, hgroup, masthead, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
    font-size: 14px;
    color: #444444;
}
ol, ul {
    list-style: none outside none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after, q:before, q:after {
    content: none;
}
table {
/*    border-collapse: collapse;
    border-spacing: 0;*/
}
b, strong {
    font-weight: 700;
}
abbr, acronym {
    border-bottom: 1px dotted;
}
.c:after {
    clear: both;
    content: ".";
    display: block;
    height: 0;
    visibility: hidden;
}
.c {
    display: inline-block;
}
* html .c {
    height: 1%;
}
.c {
    display: block;
}

pre {
 overflow: auto; overflow-y:hidden
}

a {
    outline: none;
    blr:expression(this.onFocus=this.blur()); /* for IE6, IE7 */
}



/* Start http404 error */
#http404 {
    margin: 220px auto;
    width: 360px;
}
#http404 h2 {
    color: blue;
}
#http404 p {
    margin: 10px 0;
}
#http404 .request_uri {
    color: red;
}
/* End http404 error */


.hmenu > li {
    float: left;
    list-style-type: none;
}
.hmenu li > a {
    text-decoration: none;
    float: left;
    padding: 6px 10px;
}


.vmenu {
    background-color: #FCFCFC;
    color: #B5F99E;
}

.vmenu li {
    padding: 6px 0;
}
.vmenu li a {
    text-decoration: none;
    display: inline-block;
}

.time {
    font-size: 14px;
}

img.small {
    width: 22px;
    height: 22px;
    float: left;
    margin: 5px;
}

img.medium {
    width: 100px;
    height: 100px;
}


/* Start small-left-right-form */
.small-left-right-form {
    margin: 10px;
    padding: 10px;
}
.small-left-right-form input[type="text"],
.small-left-right-form input[type="password"] {
    height: 2em;
}
.small-left-right-form label {
    display: block;
    width: 150px;
    float: left;
    /*margin: 2px 4px 6px 4px;*/
    text-align: right;
    color: #777777;
    margin: 10px 5px;
    line-height: 2em;
}
.small-left-right-form input,
.small-left-right-form select {
    background: none repeat scroll 0 0 #FFFFFF;
    border: 1px solid #DCDCDC;
    box-shadow: 0 1px 1px #DEDEDE inset;
    font-size: 14px;
    padding: 4px 5px;
    margin: 10px 5px;
}
.small-left-right-form textarea {
    width: 360px;
    height: 150px;
}
.small-left-right-form input:hover {
    background: #F0F7FE;
}
.small-left-right-form input.button {
    margin-top: 15px;
    border: none;
    box-shadow: 0 1px 1px #FFF inset;
    background: url('img/button-up.png') no-repeat top left;
    padding: 2px 8px;
}
.small-left-right-form input.button:hover {
    border: none;
    background: url('img/button-pressed.png') no-repeat top left;
    padding: 2px 8px;
}
.small-left-right-form br { clear: left; }
.small-left-right-form ul.errors {
    color: red;
}
/* End small-left-right-form */




/* Start large-left-right-form */
.large-left-right-form {
    margin: 10px;
    padding: 10px;
}
.large-left-right-form input[type="text"],
.large-left-right-form input[type="password"] {
    height: 2em;
    width: 560px;
}
.large-left-right-form label {
    display: block;
    width: 150px;
    float: left;
    /*margin: 2px 4px 6px 4px;*/
    text-align: right;
    color: #777777;
    margin: 10px 5px;
    line-height: 2em;
}
.large-left-right-form input,
.large-left-right-form select {
    background: none repeat scroll 0 0 #FFFFFF;
    border: 1px solid #DCDCDC;
    box-shadow: 0 1px 1px #DEDEDE inset;
    font-size: 14px;
    padding: 4px 5px;
    margin: 10px 5px;
}
.large-left-right-form textarea {
    width: 560px;
    height: 450px;
}
.large-left-right-form input:hover {
    background: #F0F7FE;
}
.large-left-right-form input.button {
    margin-top: 15px;
    border: none;
    box-shadow: 0 1px 1px #FFF inset;
    background: url('img/button-up.png') no-repeat top left;
    padding: 2px 8px;
}
.large-left-right-form input.button:hover {
    border: none;
    background: url('img/button-pressed.png') no-repeat top left;
    padding: 2px 8px;
}
.large-left-right-form br { clear: left; }
.large-left-right-form ul.errors {
    color: red;
}
/* End large-left-right-form */

/* Start large-tbform */
.large-tbform {
}
.large-tbform input[type="text"],
.large-tbform input[type="password"] {
    height: 2em;
    width: 65%;
}
.large-tbform label {
    display: block;
    /*margin: 2px 4px 6px 4px;*/
    color: #777777;
    margin: 5px 0;
    line-height: 2em;
}
.large-tbform input,
.large-tbform select {
    background: none repeat scroll 0 0 #FFFFFF;
    border: 1px solid #DCDCDC;
    box-shadow: 0 1px 1px #DEDEDE inset;
    font-size: 14px;
    padding: 4px 5px;
    margin: 10px 0;
}
.large-tbform textarea {
    width: 100%;
    height: 300px;
}
.large-tbform input:hover {
    background: #F0F7FE;
}
.large-tbform input.button {
    margin-top: 15px;
    border: none;
    box-shadow: 0 1px 1px #FFF inset;
    background: url('img/button-up.png') no-repeat top left;
    padding: 3px 5px;
}
.large-tbform input.button:hover {
    border: none;
    background: url('img/button-pressed.png') no-repeat top left;
    padding: 2px 8px;
}
.large-tbform br { clear: left; }
.large-tbform ul.errors {
    color: red;
}
/* End large-tbform */


/* Start tbform style (Top-Bottom Style Form)*/
.tbform {
    margin: 50px auto;
    padding: 10px;
    width: 380px;
    color: #666;
    /*background: #ebf4fb;*/
}
.tbform h2 {
    background-color: #1471B1;
    border: 1px solid #1471B1;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    box-shadow: 0 0 1px #EEEEEE inset;
    clear: both;
    color: #FFFFFF;
    font-size: 14px;
    height: 33px;
    line-height: 33px;
    padding: 0 0 0 15px;
    margin: 0;
    text-shadow: 0 -1px 0 #0B3F61;
}
.tbform .form-wrapper {
    background-color: #FFF;
    border: 1px solid #BABBBC;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    padding: 20px;
}

.tbform .form-wrapper p {
    margin: 0 0 10px;
}


.tbform label {
    display: block;
    margin: 0 0 5px;
    text-indent: 5px;
}
.tbform input {
    height: 2em;
}

.tbform ol {
    color: red;
}
/* End tbform style */

a.no-text-decoration {
    text-decoration: none;
}

/* Start small top bottom form */
.small-tbform {
    margin: 10px;
    padding: 30px 35px;
    border: 1px solid #BABBBC;
    border-radius: 3px;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.3);
    width: 320px;
    background-color: #FFF;
}
.small-tbform form > p > input[type="text"],
.small-trform form > p > input[type="password"] {
    height: 2em;
    width: 300px;
}
.small-tbform form > p > label {
    display: block;
    color: #777777;
    font-weight: bold;
    width: 300px;
    padding: 4px 5px;
}
.small-tbform form > p > input,
.small-tbform form > p > select {
    background: none repeat scroll 0 0 #FFFFFF;
    border: 1px solid #DCDCDC;
    box-shadow: 0 1px 1px #DEDEDE inset;
    font-size: 14px;
    padding: 4px 5px;
    margin: 5px 0 10px;
}
.small-tbform form > p > textarea {
    width: 300px;
    height: 150px;
    padding: 4px 5px;
    margin: 5px 0 10px;
}
.small-tbform form > input {
    margin-left: 240px;
    margin-top: 20px;
    margin-bottom: 15px;
}
.small-tbform .tips {
    font-size: 0.9em;
    color: #BBB9B9;
    display: inline-block;
    padding: 4px 10px;
    font-weight: normal;
}
/* End small top bottom form */


/* Start full top bottom form */
.full-tbform {
    margin: 10px;
    padding: 30px 35px;
    border: 1px solid #BABBBC;
    border-radius: 3px;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.3);
    background-color: #FFF;
}
.full-tbform form > p > input[type="text"],
.full-trform form > p > input[type="password"] {
    height: 2em;
    width: 300px;
}
.full-tbform form > p > label {
    display: block;
    color: #777777;
    font-weight: bold;
    width: 300px;
    padding: 4px 5px;
}
.full-tbform form > p > input,
.full-tbform form > p > select {
    background: none repeat scroll 0 0 #FFFFFF;
    border: 1px solid #DCDCDC;
    box-shadow: 0 1px 1px #DEDEDE inset;
    font-size: 14px;
    padding: 4px 5px;
    margin: 5px 0 10px;
}
.full-tbform form > p > textarea {
    width: 100%;
    height: 300px;
    padding: 4px 5px;
    margin: 5px 0 10px;
}
.full-tbform form > input {
    margin-top: 20px;
    margin-bottom: 15px;
}
.full-tbform .tips {
    font-size: 0.9em;
    color: #BBB9B9;
    display: inline-block;
    padding: 4px 10px;
    font-weight: normal;
}
.full-tbform .errors {
    color: red;
}
/* End full top bottom form */


#ly-account-menu {
    float: right;
    margin: 0;
    padding: 0;
    position: relative;
}
#ly-account-menu .hover {
    background-color: #FFF;
    border-left: 1px solid #DCDCDC;
    border-right: 1px solid #DCDCDC;
    height: 42px;
}
#ly-account-menu .show {
    padding: 0;
    cursor: pointer;
}
#ly-account-menu .text {
    float: right;
    display: inline-block;
    padding: 8px 10px 5px;
    margin: 5px;
    color: #FFF;
    font-weight: bold;
}
#ly-account-menu .hover .text {
    color: #3B5998;
}
#ly-account-menu .user-avatar {
    float: right;
    width: 32px;
    height: 32px;
    margin: 3px;
    border-radius: 100px;
    border: 1px solid #FFF;
    box-shadow:1px 1px 10px #06C;
    background-color: #FFF;
}
#ly-account-menu img.r_i {
    margin:12px 5px;
}
#ly-account-menu .add-menu {
    padding: 12px 6px;
    background: #FFF;
    border-left: 1px solid #DCDCDC;
    border-right: 1px solid #DCDCDC;
    border-bottom: 1px solid #DCDCDC;
    border-radius: 0 0 3px 3px;
/*
    box-shadow:1px 2px 5px rgba(73, 100, 172, .5);
    width: 117px;
*/
    position: absolute;
    top: 42px;
    right: 0px;
    z-index: 9;
}
#ly-account-menu .add-menu a {
    display: inline-block;
    padding: 6px 10px;
    text-decoration: none;
}

#ly-account-menu .unlogin {
    margin-top: 6px;
}


.title {
    text-align: center;
    margin: 25px 15px;
}
.section-title {
    margin: 20px 0 12px;
    color: #143340;
    font-size: 16px;
    font-weight: bold;
}
.description p {
    margin: 10px;
    line-height: 1.6em;
    /*text-indent: 2em;*/
}


.ui-notify {

}
.ui-notify .ui-notify-message-style {
    background: none repeat scroll 0 0 rgba(32, 127, 58, 0.8);
}
.ui-notify p {
    margin: 0 12px 0 5px;
}


.sortby-module {
}
.sortby-module td {
/*    vertical-align: middle;*/
    padding: 0 10px;
}
.sortby-module td:first-child {
    font-weight: bold;
    text-align: right;
    padding: 0;
    white-space: nowrap;
}
.sortby-module a {
    display: inline-block;
    padding: 4px 6px;
    text-decoration: none;
    border-radius: 2px;
}
.sortby-module a:hover, .sortby-module a.current {
    color: #333;
    background-color: #F6F044;
}

.filter-summary {
    margin: 10px 0 15px;
}

.select-module {
    margin: 10px 0;
}
.select-module li {
    margin: 6px 0;
}
.select-module .t {
    font-weight: bold;
    color: #143340;
}
