#i-main {
    margin: 10px 0;
}
.island {
    padding:0;
    margin: 0;
}
.inner-nav {
    margin: 36px 0 26px;;
}

#instance-general-info {
    padding: 10px;
}
#i-logo img {
    width: 120px;
    height: 120px;
    border-radius: 5px;
    margin: 15px 20px 8px;
}
#i-domain, #i-ip {
    text-align: center;
    margin: 2px 5px 10px;
}
#i-domain a, #i-ip a {
    font-size: 0.9em;
    padding: 5px;
    margin: 5px 5px 10px;
    text-decoration: none;
}
#i-domain a:hover, #i-ip a:hover {
    border-bottom: 2px solid #D9D9D9;
    padding-bottom: 3px;
}


#i-status {
    margin: 50px 10px 10px;
    width: 400px;
}
#job-status {
/*    border: 1px solid #D9D9D9;
    border-radius: 5px;*/
    padding: 5px;
    display: inline-block;
    width: 380px;
}
#job-result {
    color: red;
    font-size: 0.9em;
    /*display: block;*/
}

#i-status-img {
    margin-left: 15px;
    margin-bottom: 10px;
    width: 16px;
    height: 16px;
}
#job-status-value {
    font-size: 0.9em;
    color: green;
}
#job-status-desc {
    font-size: 0.8em;
    color: #D2CD9F;
}


#admin-menu ul, #admin-menu li {
    list-style:none;
    margin: 0;
    padding: 0;
    display: block;
}
#admin-menu li a {
    padding: 5px 6px;
    text-decoration: none;
    line-height: 16px;
    display: inline-block;
    /*float: left;*/
    border-bottom: 1px solid #f9f9f9;
    width: 90px;
}
#admin-menu li a:hover, #admin-menu a.current {
    color: #E2A105;
    font-weight: 600;
}
#admin-menu .head {
    background-color: #E2EDBF;
}
#admin-menu .island {
    border-radius: 0 0 5px 0;
}

#admin-config-tool {
    padding: 5px 10px;
    font-size: 14px;
    font-weight: 500px;
}


#iview-ilogo, #iview-ilogo img {
    width: 120px;
    height: 120px;
    border-radius: 3px 0 0 3px;
}

#instance-show-main {
    width: 100%;
    position: relative;
}
#instance-show-main li.c1 {
    width: 120px;
}
#instance-show-main li.c2 {
    width: 560px;
    padding-top: 15px;
}
#instance-show-main li.c3 {
    width: 300px;
    padding-top: 10px;
}
#instance-show-main #iview-ip,
#instance-show-main #iview-domain,
#instance-show-main #iview-task-result {
    margin: 5px 20px;
    padding: 5px 0;
    text-align: center;
}
#iview-task-result {
    color: #137C47;
}
#iview-task-result.shade {
    color: red;
}
#instance-show-main li.c3 td {
    padding: 2px 5px;
    font-size: 0.9em;
    color: #32703D;
}
#instance-show-main li.c3 td:first-child {
    font-weight: bold;
    text-align: right;
}
#instance-show-main ul, #instance-status-show ul {
    list-style: none outside none;
}
#instance-show-main li, #instance-status-show li {
    float: left;
}

#instance-status-show {
    padding: 5px 0;
    margin: 6px 0;
    width: 100%;
}
#instance-status-show table {
    margin: 10px;
}
#instance-status-show td {
    padding: 2px 6px;
}
#lyjob-status-img {
    width: 16px;
    height: 16px;
}
#iview-inst-control-btn {
    width: 120px;
    height: 42px;
    float: left;
    text-align: center;
}
#iview-inst-control-btn img {
    width: 36px;
    height: 36px;
    padding: 5px 0;
}
#iview-inst-control-result {
    padding: 14px 0;
}


/* start job list */
#iview-job-list table th {
    background-color: #E2EDBF;
}
#iview-job-list table td {
    padding: 5px 10px;
}
/* end job list */

#instance-show-main #i-current-status {
    padding: 10px;
    text-align: center;
}
#i-current-status {
    font-size: 0.9em;
}
#instance-show-main #i-is-img,
#iview-inst-control-result #i-js-img {
    margin: 0 5px;
}