.inner-navigator {
    margin: 50px;
}
#view-instance {
    margin: 20px;
}

#view-instance .logo,
#view-instance .base {
    float: left;
}

#view-instance .logo {
    width: 360px;
    text-align: center;
}

#view-instance .base {
    background-color: #F4F8FC;
    background: -webkit-gradient(linear, left top, left bottom, from(#FCFDFE), to(#F4F8FC));
    background: -moz-linear-gradient(#FCFDFE, #F4F8FC) repeat scroll 0 0 #FCFDFE;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FCFDFE', endColorstr='#F4F8FC');

    border: 1px solid #D9D9D9;
    border-radius: 5px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);

    padding: 10px 15px;
    width: 500px;
}

#view-instance .status {
    display: block;
    margin: 10px auto;
}

#view-instance .action {
    clear: both;
    margin-top: 35px;
}

#view-instance table {
    border: none;
    font-size: 0.9em;
    color: #666;
}
#view-instance table td {
    border: none;
    padding: 2px 5px;
}
#view-instance ul {
    list-style: none;
    margin: 10px 0;
    padding: 2px 0;
}
#view-instance li {
    padding: 3px 0;
}

.ly-instance-description, .ly-instance-job-list {
    clear: both;
    border-top: 1px solid #D9D9D9;
    margin-top: 30px;
    padding: 30px;
}


.create-instance, .edit-instance {
    width: 480px;
    margin: 60px auto 120px;
}
.create-instance .c1, .edit-instance .c1 {
    width: 100px;
}
.create-instance .c2, .edit-instance .c2 {
    width: 320px;
}