.iedit-content {
    padding: 20px;
}

.title {
    text-align: center;
    border-bottom: 1px solid #E9E9E9;
    margin-bottom: 35px !important;
    padding-bottom: 20px;
}

.iedit-content h2 {
    font-size: 18px;
    color: #27375D;
    margin: 20px 0;
}