.inner-nav {
    margin: 20px 0 25px;
}

#myun-sidebar {
    padding-top: 20px;
}
#myun-sidebar {
/*    border-right: 1px solid #D9D9D9;*/
    width: 150px;
}
#myun-sidemain {
    width: 820px;
}
#myun-account-info {
    border-bottom: 1px solid #D9D9D9;
}
#myun-account-info .username {
    font-size: 1.1em;
    text-align: center;
    margin: 10px;
}
#myun-welcome {
    margin: 10px 0 30px;
}
#myun-last-login {
    text-align: center;
    font-size: 0.9em;
    padding: 2px 0;
    color: gray;
}
#myun-sidebar-menu {
    text-align: right;
}
#myun-sidebar-menu a {
    display: inline-block;
    padding: 8px 16px;
    margin-top: 12px;
    text-decoration: none;
}
#myun-sidebar-menu .current {
    background-color: #3B5998;
    border-radius: 3px 0 0 3px;
    color: white;
}
#myun-sidebar-menu li a:hover {
    /*color: #E2A105;*/
    font-weight: 600;
}

#user-avatar {
    text-align: center;
}
#user-avatar img {
    margin-left: auto;
    margin-right: auto;
    width: 90px;
    height: 90px;
    border-radius: 5px;
}


#u-home-appliances, #u-home-instances {
    margin-left: 20px;
}
.v-appliance, .v-instance {
    padding: 15px 0;
    margin: 30px 15px;
    border-bottom: 1px dashed #DEDEDE;
    position: relative;
}
.v-appliance:last-child, .v-instance:last-child {
    border-bottom: 1px solid #FFF;
}
.i-logo {
    float: left;
}
.i-logo img {
    width: 48px;
    height: 48px;
    border-radius: 5px;
}
#i-status-img {
    position: absolute;
    top: -5px;
    left: -5px;
}
.i-other {
    float: right;
    width: 660px;
}
.i-name-summary {
    width: 360px;
    float: left;
}
.i-name {
    font-size: 16px;
    padding: 2px 0 8px;
}
.i-summary {
    padding: 5px;
    color: #545551;
}
.i-baseinfo {
    float: right;
    width: 260px;
    font-size: 0.9em;
}
.i-baseinfo td.c1 {
    padding: 2px 5px;
}


#myun-pie-show {
    margin: 100px auto;
    width: 759px;
    padding-left: 28px;
}
#myun-pie-show .pie {
    float: left;
    margin: 5px;
    border-radius: 3px;
    border: 1px solid #DCDCDC;
}

.myun-user-action {
    text-align: center;
    margin: 15px;
}
.myun-user-action a {
    margin: 15px;
}

.myun-instance-action,
.myun-appliance-action {
    margin: 15px 20px;
    text-align: right;
}

#instance-content {
    border: 1px solid #DEDEDE;
    border-radius: 3px;
    background-color: #FFF;
}