table.checklist{
    margin:10px;
    color:#333333;
    border-collapse:collapse;
}
table.checklist td{
    border:1px solid #CEDBE1;
    height:22px;
    padding: 8px 16px;
}
.checklist caption{
    text-align:center;
    font-size:12px;
    font-weight:bold;
    margin:0 auto;
}
.checklist tr td:odd {background-color:#fff;}
.checklist tr td:even {background-color:#eee;}
.checklist th, .checklist tfoot tr td{
    font-weight:bold;
    text-align:center;
    background: #BADEF4;
}
.checklist th{
    line-height:30px;
    height:30px;
}
.checklist tfoot tr td{
    background:#fff;
    line-height:26px;
    height:26px;
}
.checklist thead{
    border:1px solid #CEDBE1;
}
.checklist thead th{
    text-align:center;
}




table.kvlist {
    margin: 10px;
    color: #333333;
    /*border-collapse:collapse;*/
}
table.kvlist td {
    border: 1px solid #CEDBE1;
    border-radius: 3px;
    height: 22px;
    padding: 8px 16px;
}
table.kvlist td.c1 {
    background: #F4F8FC;
}



/* Start LuoYun Table */
.ly-table table, table.ly-table {
    *border-collapse: collapse; /* IE7 and lower */
    border-spacing: 0;
    /*width: 100%;*/
    border: 1px solid #CEDBE1;
    border-radius: 3px;
}
.ly-table tr {
    -o-transition: all 0.1s ease-in-out;
    -webkit-transition: all 0.1s ease-in-out;
    -moz-transition: all 0.1s ease-in-out;
    -ms-transition: all 0.1s ease-in-out;
    transition: all 0.1s ease-in-out;		
}
.ly-table th, .ly-table td {
    padding: 10px;
    text-align: left;
}
.ly-table td {
    border-left: 1px solid #ECF1F4;
    border-top: 1px solid #CDD8DC;
}
.ly-table th {
    background-color: #dce9f9;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#ebf3fc), to(#dce9f9));
    background-image: -webkit-linear-gradient(top, #ebf3fc, #dce9f9);
    background-image: -moz-linear-gradient(top, #ebf3fc, #dce9f9);
    background-image: -ms-linear-gradient(top, #ebf3fc, #dce9f9);
    background-image: -o-linear-gradient(top, #ebf3fc, #dce9f9);
    background-image: linear-gradient(top, #ebf3fc, #dce9f9);
    filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr=#ebf3fc, endColorstr=#dce9f9);
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient (GradientType=0, startColorstr=#ebf3fc, endColorstr=#dce9f9)";
    -webkit-box-shadow: 0 1px 0 rgba(255,255,255,.8) inset;
    -moz-box-shadow:0 1px 0 rgba(255,255,255,.8) inset;
    box-shadow: 0 1px 0 rgba(255,255,255,.8) inset;
    border-top: none;
    text-shadow: 0 1px 0 rgba(255,255,255,.5);
}
.ly-table td:first-child, 
.ly-table th:first-child {
    border-left: none;
}
.ly-table th:first-child {
    -moz-border-radius: 3px 0 0 0;
    -webkit-border-radius: 3px 0 0 0;
    border-radius: 3px 0 0 0;
}
.ly-table th:last-child {
    -moz-border-radius: 0 3px 0 0;
    -webkit-border-radius: 0 3px 0 0;
    border-radius: 0 3px 0 0;
}
.ly-table tr:last-child td:first-child {
    -moz-border-radius: 0 0 0 3px;
    -webkit-border-radius: 0 0 0 3px;
    border-radius: 0 0 0 3px;
}
.ly-table tr:last-child td:last-child {
    -moz-border-radius: 0 0 3px 0;
    -webkit-border-radius: 0 0 3px 0;
    border-radius: 0 0 3px 0;
}
.ly-table tbody > tr:hover {
    background-color: #F8F3C5;
}
.ly-table a {
    text-decoration: none;
}
/* End LuoYun Table */