.edit-topic {
    margin: 50px 10px;
}

.topic-info > span {
    margin-left: 50px;
}

#wiki-main {
    padding: 30px 5px;
}

#add-catalog {
}
#add-topic {
    float: right;
}

.catalog {
    border: 1px solid #DEDEDE;
    border-radius: 3px;
    padding: 20px 15px;
    margin: 15px 0;
}
.catalog h2 {
    font-size: 18px;
    color: #2A3539;
}

.item {
    margin: 20px 0;
}
.item .name {
    margin: 10px 0;
}
.item a {
    text-decoration: none;
}
.item .description {
    font-size: 15px;
}
.item .datetime {
    font-size: 13px;
    color: gray;
}

.view-topic {
    margin: 20px 0;
}
.view-topic .title {
    text-align: center;
    font-size: 16px;
    color: #2A3539;
    margin: 15px 0 20px;
}
.view-topic .info {
    text-align: center;
    margin-bottom: 25px;
}
.view-topic .body {
    border-top: 1px solid #DEDEDE;
/*    border-radius: 3px;*/
    padding: 10px;
    margin: 0 120px;
}