<%inherit file="/base.html"/>

<%block name="head">
<link rel="stylesheet" href="${ theme_url('css/myun-appliance.css') }" />
</%block>

<%block name="main">

<div class="min-height600 doc4 wrapper container-fluid">
  <ul class="breadcrumb">
	<li><a href="/"><i class="icon-home"></i> ${ _("Home") }</a> <span class="divider">/</span></li>
	<li><a href="${ reverse_url('myun:index') }">${ _("My LuoYun") }</a> <span class="divider">/</span></li>
	<li><a href="${ reverse_url('myun:appliance') }">${ _("Appliances") }</a> <span class="divider">/</span></li>
	<%block name="innav" />
  </ul>

  <div id="appliance-base">
	<%block name="submain"/>
  </div>
</div>

<script type="text/javascript">
  menu_entry_active ( "/myun" );
</script>

</%block>
