<%inherit file="/admin/appliance.html" />

<%block name="innav">
<li><a href="${ reverse_url('admin:instance') }">${ _("Appliance") }</a></li>
<li><a href="${ reverse_url('admin:instance') }?id=${ I.id }">${ I.name }</a></li>
<li>${ _("Change instance owner") }</li>
</%block>

<%block name="main">

<div class="a-view">

  <div class="small-tbform">
    <form method="POST">${ xsrf_form_html() }
      <p>
    <label for="user">${ _("User") }<span class="tips">${ _("Input a user name of user id.") }</span></label>
    <input id="user" name="user" type="text">
      </p>
      <p>
    <label for="reason">${ _("Reason") }<span class="tips">${ _("Why change the owner ?") }</span></label>
    <textarea id="reason" name="reason"></textarea>
      </p>
      ${ show_error( ERROR ) }
      <input class="red-submit" type="submit" value="Save"/>
    </form>
  </div>


</div>


</%block>
