<%inherit file="/admin/instance.html" />

<%block name="innav">
<li><a href="${ reverse_url('admin:instance') }">${ _("Instance") }</a></li>
</%block>

<%block name="content">

<p class="subtitle">${ _("Total instances: ") } ${ TOTAL_INSTANCE }</p>


% if SORT_USER:
<p>${ _("Sorted by") } <a href="${ reverse_url('admin:user') }?id=${ SORT_USER.id }">${ SORT_USER.username }</a></p>
% endif
% if SORT_APPLIANCE:
<p>${ _("Sorted by") } <a href="${ reverse_url('admin:appliance') }?id=${ SORT_APPLIANCE.id }">${ SORT_APPLIANCE.name }</a></p>
% endif

% if SORT_NODE:
<p>${ _("Sorted by") } <a href="${ reverse_url('admin:node') }?id=${ SORT_NODE.id }">${ SORT_NODE.hostname } ( ${ SORT_NODE.ip } )</a></p>
% endif

%if STATUS:
<p>${ _("View status") } ${ STATUS }</p>
%endif


<div class="admin-instance c">

  % if INSTANCE_LIST:
  <div class="ly-table">
    <table class="list">
      <thead>
	<tr>
	  <th></th>
          <th>${ _("ID") }</th>
          <th>${ _("Name") }</th>
          <th>${ _("Status") }</th>
          <th>${ _("IP") }</th>
	  % if not SORT_NODE:
          <th>${ _("Node") }</th>
	  % endif
          <th>${ _("Owner") }</th>
	  <th>${ _("Appliance") }</th>
          <th>${ _("Islocked") }</th>
          <th>${ _("Updated") }</th>
	</tr>
      </thead>
      <tbody>
	% for I in INSTANCE_LIST:
	<tr>
	  <td class="i-logo"><img src="${ I.logourl }" /></td>
          <td>${ I.id }</td>
          <td><a href="${ reverse_url('admin:instance') }?id=${ I.id }">${ I.name }</a></td>
          <td><img src="${ theme_url('icons/InstanceStatus/%s.png' % I.status) }" alt="${ I.status_string }"/></td>
	  <td>${ I.work_ip }</td>
	  % if not SORT_NODE:
          <td>
            % if I.node:
	    % if I.is_running:
            <a href="${ reverse_url('admin:node') }?id=${ I.node_id }">${ I.node.ip }</a>
	    % else:
	    ${ I.node.ip }
	    % endif:
            % else:
            ${ _("None") }
            % endif
          </td>
	  % endif
          <td><a href="${ reverse_url('admin:user') }?id=${ I.user.id }">${ I.user.username }</a></td>
	  <td><a href="${ reverse_url('admin:appliance') }?id=${ I.appliance_id }">${ I.appliance.name }</a></td>
	  <td><input type="checkbox"
		     % if I.islocked:
		     checked="checked"
		     % endif
		     onclick="simpleToggleCheckbox( this, '${ reverse_url('instance:islocked', I.id) }', '#islocked-notify')" />
	  </td>
          <td>${ htime(I.updated) }</td>
	</tr>
	% endfor
      </tbody>
    </table>

    ${ PAGE_HTML }

    % else:
    <p>${ _("No instances yet !") }</p>
    % endif

  </div>

</div>

<div id="islocked-notify" style="display:none">
  <div id="basic-template">
    <a class="ui-notify-cross ui-notify-close" href="#">x</a>
    <p>${ _("Toggle Instance islocked status Success") }</p>
  </div>
  <div id="error-template">
    <a class="ui-notify-cross ui-notify-close" href="#">x</a>
    <h1>${ _("Toggle Instance islocked status Failed") }</h1>
    <p>#{text}</p>
  </div>
</div>

%if STATUS:
<p><a class="orange-submit" href="${ reverse_url('admin:instance') }?status=delete">${ _("View Deleted Instance") }</a></p>
%endif

</%block>
