<div class="current-uri" style="display:none;">${ urlupdate({'ajax': 'true'}) }</div>
<div class="filter-summary">
  ${ _("Total instances: ") } ${ TOTAL_INSTANCE }
</div>

${ PAGE_HTML }
<table class="i-list ly-table">
  <thead>
    <tr>
      <th><input type="checkbox" name="all" value="all"></th>
      <th>${ _("ID") }</th>
      <th>${ _("Name") }</th>
      <th>${ _("Status") }</th>
      <th>${ _("Owner") }</th>
      <th>${ _("Appliance") }</th>
      <th>${ _("Created") }</th>
      <th>${ _("Updated") }</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    % for I in INSTANCE_LIST:
    <tr class="odd" id="i${ I.id }">
      <td><input type="checkbox" name="instance" value="${ I.id }"></td>
      <td>${ I.id }</td>
      <td><a href="${ reverse_url('admin:instance') }?id=${ I.id }">${ I.name }</a></td>
      <td><img src="${ theme_url('icons/InstanceStatus/%s.png' % I.status) }" alt="${ locale.translate(I.status_string) }"/></td>
      <td><a class="tip-ajax" href="${ reverse_url('admin:user') }?id=${ I.user.id }">${ I.user.username }</a></td>
      <td><a href="${ reverse_url('admin:appliance') }?id=${ I.appliance_id }">${ I.appliance.name }</a></td>
      <td>${ ftime(I.created) }</td>
      <td>${ htime(I.updated) }</td>
      <td class="ex" href="${ reverse_url('admin:instance') }?id=${ I.id }&ajax=True">+</td>
    </tr>
    <tr class="even"><td colspan="9" id="i${ I.id }-hide" class="ex-addons"></td></tr>
    % endfor
  </tbody>
  <tfoot>
    <tr>
      <td><input type="checkbox" name="all" value="all"></td>
      <td colspan="8">
	<a class="lyinst-control-btn green-submit stop" href="${ reverse_url('instance:life_control') }?action=stop">${ _("Stop") }</a>
	<a class="lyinst-control-btn green-submit run" href="${ reverse_url('instance:life_control') }?action=run">${ _("Run") }</a>
	<a class="lyinst-control-btn red-submit delete" href="${ reverse_url('instance:life_control') }?action=delete">${ _("Delete") }</a>
      </td>
    </tr>
  </tfoot>
</table>
${ PAGE_HTML }
<script type="text/javascript">
  lyinst_checkbox_binding();
  lyinst_control("${ xsrf_cookie }");
  //lyinst_name_hover();
  lyinst_list_binding();
  lyinst_page_view_binding();
  lytip_ajax_binding();
</script>
