<%inherit file="/admin/system.html" />

<%block name="innav">
<li><a href="${ reverse_url('system') }">${ _("System") }</a></li>
<li>${ _("Edit baseinfo of luoyun system") }</li>
</%block>

<%block name="main">

<div class="small-left-right-form c">
  <form method="POST">${ xsrf_form_html() }
    ${ form.app_dir.label } ${ form.app_dir() }<br/>
    ${ form.html_errors(form.app_dir.errors) }

    ${ form.app_url.label } ${ form.app_url() }<br/>
    ${ form.html_errors(form.app_url.errors) }

    ${ form.admin_email.label } ${ form.admin_email() }<br/>
    ${ form.html_errors(form.admin_email.errors) }

    <label>&nbsp;</label><input type="submit" value="${ _('Save') }"/>
% if saved:
<span id="saved-success">${ _("saved success") }</span>
% endif

  </form>
</div>

</%block>
