<%inherit file="/admin/admin_base.html" />

<%block name="sidemain">

<h2>${ _("Edit baseinfo of luoyun system") }</h2>

<div class="main-wrap small-left-right-form">
  <form method="POST">
    ${ form.app_dir.label } ${ form.app_dir() }<br/>
    ${ form.html_errors(form.app_dir.errors) }

    ${ form.app_url.label } ${ form.app_url() }<br/>
    ${ form.html_errors(form.app_url.errors) }

    ${ form.admin_email.label } ${ form.admin_email() }<br/>
    ${ form.html_errors(form.admin_email.errors) }

    <label>&nbsp;</label><input type="submit" value="${ _('Save') }"/>
% if saved:
<span id="saved-success">${ _("saved success") }</span>
% endif

  </form>
</div>

</%block>
