<%inherit file="/admin/system.html" />

<%block name="innav">
<li><a href="${ reverse_url('system') }">${ _("System") }</a></li>
<li>${ _("Baseinfo of luoyun system") }</li>
</%block>

<%block name="content">

<p title="subtitle">${ _("Control server") }</p>
<table>
  <tbody>
    <tr>
      <td>${ _("IP") }</td>
      <td>${ CLC['ip'] }</td>
    </tr>

    <tr>
      <td>${ _("Port") }</td>
      <td>${ CLC['port'] }</td>
    </tr>
  </tbody>
</table>

<p title="subtitle">${ _("Admin email") }</p>
<p>${ ADMIN_EMAIL }</p>

<p><a href="${ reverse_url('system:baseinfo:edit') }">${ _("Edit") }</a></p>

</%block>
