<%inherit file="/admin/system.html" />

<%block name="innav">
<li><a href="${ reverse_url('system') }">${ _("System") }</a></li>
<li>${ _("Edit DB configure") }</li>
</%block>

<%block name="content">

<div class="small-left-right-form c">
  <form method="POST">
    ${ form.dbtype.label } ${ form.dbtype() }<br/>
    ${ form.html_errors(form.dbtype.errors) }

    ${ form.dbhost.label } ${ form.dbhost() }<br/>
    ${ form.html_errors(form.dbhost.errors) }

    ${ form.dbname.label } ${ form.dbname() }<br/>
    ${ form.html_errors(form.dbname.errors) }

    ${ form.dbuser.label } ${ form.dbuser() }<br/>
    ${ form.html_errors(form.dbuser.errors) }

    ${ form.dbpass.label } ${ form.dbpass() }<br/>
    ${ form.html_errors(form.dbpass.errors) }

    <label>&nbsp;</label><input type="submit" value="${ _('Save') }"/>
% if saved:
<span id="saved-success">${ _("saved success") }</span>
% endif

  </form>
</div>

</%block>
