<%inherit file="/admin/system.html" />

<%block name="innav">
<li><a href="${ reverse_url('admin:system') }">${ _("System") }</a></li>
<li>${ _("Edit Domain") }</li>
</%block>

<%block name="content">

<div class="small-left-right-form c">
  <form method="POST" action="${ reverse_url('system:domain:edit') }">
    ${ form.topdomain.label } ${ form.topdomain() }<br/>
    ${ form.html_errors(form.topdomain.errors) }

    ${ form.prefix.label } ${ form.prefix() }<br/>
    ${ form.html_errors(form.prefix.errors) }

    ${ form.suffix.label } ${ form.suffix() }<br/>
    ${ form.html_errors(form.suffix.errors) }

    <label>&nbsp;</label><input type="submit" value="${ _('Save') }"/>
% if saved:
<span id="saved-success">${ _("saved success") }</span>
% endif

  </form>
</div>

</%block>
