<%inherit file="/admin/system.html" />

<%block name="innav">
<li><a href="${ reverse_url('system') }">${ _("System") }</a></li>
<li>${ _("Edit Nameservers") }</li>
</%block>

<%block name="content">

<div class="small-left-right-form c">
  <form method="POST" action="${ reverse_url('system:nameservers:edit') }">${ xsrf_form_html() }
    ${ form.nameservers() }
    ${ form.html_errors(form.nameservers.errors) }

    <label>&nbsp;</label><input type="submit" value="${ _('Save') }"/>
% if saved:
<span id="saved-success">${ _("saved success") }</span>
% endif

  </form>
</div>

</%block>
