<%inherit file="/admin/system.html" />

<%block name="innav">
<li><a href="${ reverse_url('system') }">${ _("System") }</a></li>
<li><a href="${ reverse_url('system:networkpool') }">${ _("Network pool") }</a></li>
<li><a href="${ reverse_url('system:networkpool:view', N.id) }">${ N }</a></li>
</%block>

<%block name="main">

<p class="title">${ _("Delete Network Pool Failed !") }</p>

<p class="ywarn">${ _("The following ip is in used.") }</p>

<div>
  <table class="ly-table">
    <thead>
      <tr>
	<th>${ _("IP") }</th>
	<th>${ _("Network") }</th>
	<th>${ _("Instance") }</th>
	<th>${ _("Created") }</th>
      </tr>
    </thead>
    <tbody>
      %for IP in FAILED_LIST:
      <tr>
	<td>${ IP.ip }</td>
	<td>${ IP.network }</td>
	<td>
	  %if IP.instance:
	  <a href="${ reverse_url('admin:instance') }?id=${ IP.instance.id }">${ IP.instance }</a>
	  %endif
	</td>
	<td>${ ftime(IP.created) }</td>
      </tr>
      %endfor
    </tbody>
  </table>
</div>

        
</%block>
