<%inherit file="/admin/system.html" />

<%block name="innav">
<li><a href="${ reverse_url('admin:system') }">${ _("System") }</a></li>
<li>${ _("Edit IP Address Pool") }</li>
</%block>

<%block name="content">

<div class="small-left-right-form c">
  <form method="POST" action="${ reverse_url('system:networkpool:edit') }">
    ${ form.start.label } ${ form.start() }<br/>
    ${ form.html_errors(form.start.errors) }

    ${ form.end.label } ${ form.end() }<br/>
    ${ form.html_errors(form.end.errors) }

    ${ form.netmask.label } ${ form.netmask() }<br/>
    ${ form.html_errors(form.netmask.errors) }

    ${ form.gateway.label } ${ form.gateway() }<br/>
    ${ form.html_errors(form.gateway.errors) }

    ${ form.nameservers.label } ${ form.nameservers() }<br/>
    ${ form.html_errors(form.nameservers.errors) }

    ${ form.exclude_ips.label } ${ form.exclude_ips() }<br/>
    ${ form.html_errors(form.exclude_ips.errors) }

    <label>&nbsp;</label><input type="submit" value="${ _('Save') }"/>
% if saved:
<span id="saved-success">${ _("saved success") }</span>
% endif

  </form>
</div>

</%block>
