<%inherit file="/admin/system.html" />

<%block name="innav">
<li><a href="${ reverse_url('system') }">${ _("System") }</a></li>
<li>${ _("Edit Nginx") }</li>
</%block>

<%block name="content">

<div>
  <form method="POST">${ xsrf_form_html() }
	<fieldset>
	  <legend>${ _("Nginx Configure") }</legend>

      ${ form.conf_path.label } ${ form.conf_path() }
      ${ form.html_errors(form.conf_path.errors) }

      ${ form.log_path.label } ${ form.log_path() }
      ${ form.html_errors(form.log_path.errors) }

      ${ form.bin_path.label } ${ form.bin_path() }
      ${ form.html_errors(form.bin_path.errors) }

      ${ form.template.label } ${ form.template() }
      ${ form.html_errors(form.template.errors) }
	  <br>
	  <button type="submit" class="btn">${ _("Submit") }</button>
	  % if saved:
	  <span class="text-success">${ _("saved success") }</span>
	  % endif
	</fieldset>
  </form>
</div>

</%block>
