<%inherit file="/admin/admin_base.html" />

<%block name="sidemain">

<h2>${ _("Registration Policy Edit") }</h2>

<p><a href="${ reverse_url('registration_protocol') }" target="_blank">${ _("Read Registration Policy") }</a></p>

<div id="registration-policy-eform" class="small-left-right-form c">
  <form method="POST" action="${ reverse_url('system:protocol:edit') }">
    ${ form.text() }<br/>
    ${ form.html_errors(form.text.errors) }
    <input type="submit" value="${ _('Save') }"/>
% if saved:
<span id="saved-success">${ _("saved success") }</span>
% endif

  </form>
</div>

</%block>
