<%inherit file="/admin/system.html" />

<%block name="innav">
<li><a href="${ reverse_url('system') }">${ _("System") }</a></li>
<li>${ _("Welcome New User Edit") }</li>
</%block>

<%block name="main">

<p><a href="${ reverse_url('welcome_new_user') }" target="_blank">${ _("Read Welcome New User") }</a></p>

<div id="welcome-new-user-eform" class="small-left-right-form c">
  <form method="POST" action="${ reverse_url('system:welcome:edit') }">${ xsrf_form_html() }
    ${ form.text() }<br/>
    ${ form.html_errors(form.text.errors) }
    <input type="submit" value="${ _('Save') }"/>
% if saved:
<span id="saved-success">${ _("saved success") }</span>
% endif

  </form>
</div>

<script charset="utf-8" src="${ static_url('kindeditor/kindeditor.js') }"></script>
<script charset="utf-8" src="${ static_url('kindeditor/lang/zh_CN.js') }"></script>


<script type="text/javascript">
    var editor;
    KindEditor.ready(function(K) {
    editor = K.create("#text", {
        width: '100%',
        height: '300px',
        uploadJson : '/ly/upload/kindeditor',
        fileManagerJson : '/ly/upload/kindeditor',
        allowFileManager : true,
            items : [
                'formatblock', 'forecolor', 'hilitecolor', 'bold', 'italic', 'underline', 'removeformat', '|',
                'undo', 'redo', '|', 'code', '|', 'justifyleft', 'justifycenter', 'justifyright',
                'insertorderedlist', 'insertunorderedlist', 'indent', 'outdent', '|',
                'image', 'insertfile', 'table', 'emoticons',
                'anchor', 'link', 'unlink', '|', 'fullscreen', 'source', 'preview', 'about'
            ],
    });
    });
</script>

</%block>
