<%inherit file="/base.html"/>

<%block name="head">
<link rel="stylesheet" href="${THEME_URL}account.css" />
<script type="text/javascript" src="${STATIC_URL}js/account.js"></script>
</%block>

<%block name="main">

<div class="inner-nav">
  <ol>
    <li><a class="home" href="/">${ _("Home") }</a></li>
    <li><a href="${ reverse_url('account:index') }">${ _("My Account") }</a></li>
    <%block name="innav"/>
  </ol>
</div>


<div class="c account luoyun-min-height">

  <div class="sidebar min-height-600">

    <div class="account-info">
      <div id="user-avatar">
	<a href="${ reverse_url('account:index') }"><img src="${ current_user.avatar_url }" alt="User Avatar" /></a>
      </div>
      <div class="username"><a href="${ reverse_url('account:index') }">${ current_user.username }</a></div>
    </div>

    <div id="u-home-side-welcome" class="c">
      <p>${ _("Welcome, ") }${ current_user.username }</p>
      <p>${ _("Last login:")}<div id="u-home-last-login">${ ftime(current_user.last_login) }</div></p>
    </div>

    <div id="u-home-side-menu">
      <ul>
        <li><a href="${ reverse_url('account:reset_password') }">${ _("Reset Password") }</a></li>
        <li><a href="${ reverse_url('account:avatar:edit') }">${ _("Change Avatar") }</a></li>
      </ul>
    </div>

  </div>

  <div class="sidemain">
    <%block name="sidemain"/>
  </div>

  <script type="text/javascript">
    HomeSideMenuClick();
    lyMenuSetCurrentEntry( "#u-home-side-menu a" );
  </script>

</div>
</%block>
