<%inherit file="account_base.html" />

<%block name="sidemain">

<div class="main-wrap instance-list">
  % if my.appliances:
  <h2>${ _("My Appliances") }</h2>
  <table class="list">
    <thead>
      <tr>
        <th>${ _("ID") }</th>
        <th>${ _("Name") }</th>
      </tr>
    </thead>
    <tbody>
      % for A in my.appliances:
      <tr>
        <td>${ A.id }</td>
        <td><a href="/appliance/${ A.id }">${ A.name }</a></td>
      </tr>
      % endfor
    </tbody>
  </table>
  % else:
  <p>${ _("Have any appliance yet !") }</p>
  % endif
</div>

</%block>
