<%inherit file="account_base.html" />

<%block name="lyentry">

<div class="lrform user-register">
  <h2>${_("LuoYun User Register")}</h2>
  <form method="POST">

    % if ERROR:
    <ol>
      % for e in ERROR:
      <li>${ e }</li>
      % endfor
    </ol>
    % endif

    <div class="item">
      <div class="c1">
        <label for="username">${_("Username")}</label>
      </div>
      <div class="c2">
        <input id="username" type="text" name="username" maxlength="30" value="${username}"/>
      </div>
    </div>

    <div class="item">
      <div class="c1">
        <label for="password">${_("Password")}</label>
      </div>
      <div class="c2">
        <input id="password" type="password" name="password" value="${password}"/>
      </div>
    </div>

    <div class="item">
      <div class="c1">
        <label for="password2">${_("Password Confirm")}</label>
      </div>
      <div class="c2">
        <input id="password2" type="password" name="password2"/>
      </div>
    </div>

    <div class="submit">
      <input type="submit" value="${ _("Register") }"/>
    </div>

  </form>
</div>

</%block>
