<%inherit file="account_base.html" />

<%block name="sidemain">

<div class="main-wrap instance-list">
  % if my.instances:
  <h2>${ _("My Instances") }</h2>
  <table class="list">
    <thead>
      <tr>
        <th>${ _("ID") }</th>
        <th>${ _("Name") }</th>
        <th>${ _("MAC") }</th>
        <th>${ _("IP") }</th>
        <th>${ _("Status") }</th>
      </tr>
    </thead>
    <tbody>
      % for I in my.instances:
      <tr>
        <td>${ I.id }</td>
        <td><a href="/instance/${ I.id }">${ I.name }</a></td>
        <td>${ I.mac }</td>
        <td>${ I.ip }</td>
        <td><span class="status"><img src="${ THEME_URL }icons/InstanceStatus/${ I.status }.png"  alt="${ I.status }"/></span></td>
      </tr>
      % endfor
    </tbody>
  </table>
  % else:
  <p>${ _("Have any instance yet !") }</p>
  % endif
</div>

</%block>
