<%inherit file="account_base.html" />

<%block name="main">


<div class="main-wrap">

  <h2>${_("Sign in LuoYun System")}</h2>

  <div class="small-left-right-form">
    <form method="POST">
      ${ form.username.label } ${ form.username() }<br/>
      % if form.username.errors:
      <ul class="errors">
        % for error in form.username.errors:
        <li>${ error }</li>
        % endfor
      </ul>
      % endif:

      ${ form.password.label } ${ form.password() }<br/>
      % if form.password.errors:
      <ul class="errors">
        % for error in form.password.errors:
        <li>${ error }</li>
        % endfor
      </ul>
      % endif

      <label>&nbsp;</label><input type="submit" value="${ _('Sign In') }"/>
    </form>
  </div>

</div>

</%block>
