<%inherit file="account_base.html" />

<%block name="sidemain">

<div class="c">
  % if not (my.permissions or my.groups):
  ${ _("No permission!") }
  % endif

  % if my.permissions:
  <h2 class="title">${ _("Single Permission List") }</h2>
  <table class="list">
    <thead>
      <th>${ _("Codename") }</th>
      <th>${ _("Name") }</th>
    </thead>
    <tbody>
      % for P in my.permissions:
      <tr>
        <td>${ P.codename }</td>
        <td>${ P.name }</a></td>
      </tr>
      % endfor
    </tbody>
  </table>
  % endif

  % if my.groups:
  <h2 class="title">${ _("Group Permission List") }</h2>
  <table class="list">
    <thead>
      <th>${ _("Group") }</th>
      <th>${ _("Permissions") }</th>
    </thead>
    <tbody>
      % for G in my.groups:
      <tr>
        <td>${ G.name }</td>
        <td>
          <ul>
            % for P in G.permissions:
            <li>${ P.codename }</li>
            % endfor
          </ul>
        </td>
      </tr>
      % endfor
    </tbody>
  </table>
  % endif

</div>



</%block>
