<%inherit file="account_base.html" />

<%block name="main">

<div class="ly-large-center c">

  <h2 class="title">${_("Create a account on LuoYun")}</h2>

  <div class="small-left-right-form">
    <form method="POST">${ xsrf_form_html() }
      ${ form.username.label } ${ form.username() }<br/>
      ${ form.html_errors(form.username.errors) }

      ${ form.email.label } ${ form.email() }<br/>
      ${ form.html_errors(form.email.errors) }

      ${ form.password.label } ${ form.password() }<br/>
      ${ form.password_confirm.label } ${ form.password_confirm() }<br/>
      ${ form.html_errors(form.password.errors) }

      ${ form.accept_rules.label }
## ${ form.accept_rules() }
      <input type="checkbox" value="y" name="accept_rules" id="accept_rules">
      <span>${ _("I accept the site rules .") }</span>
      <span id="ly-read-registration-protocol"><a href="${ reverse_url('registration_protocol') }" target="_blank">${ _("Read Registration Policy") }</a></span>
      <br/>
      ${ form.html_errors(form.accept_rules.errors) }

      <label>&nbsp;</label><input type="submit" value="${ _('Registration') }"/>
    </form>
  </div>

</div>

</%block>
