<%inherit file="account_base.html" />

<%block name="main">

<div class="lrform reset-password-form">
  <h2>${ _("Reset password") }</h2>

  <form method="POST">

    % if ERROR:
    <ol>
      % for e in ERROR:
      <li>${ e }</li>
      % endfor
    </ol>
    % endif

    <div class="item">
      <div class="c1">
        <label for="password">${ _("New Password") }</label>
      </div>
      <div class="c2">
        <input id="password" type="password" name="password"/>
      </div>
    </div>

    <div class="item">
      <div class="c1">
        <label for="password2">${ _("Password Confirm") }</label>
      </div>
      <div class="c2">
        <input id="password2" type="password" name="password2"/>
      </div>
    </div>

    <div class="submit">
      <input type="submit" value="${ _("Reset password") }"/>
    </div>

  </form>
</div>

</%block>
