<%inherit file="account_base.html" />

<%block name="sidemain">

<div class="main-wrap">
  <h2>${ _("My resources") }</h2>
  <table class="list">
    <thead>
      <td>${ _("Resource Name") }</td>
      <td>${ _("Total") }</td>
      <td>${ _("Used") }</td>
    </thead>
    <tbody>
      % if my.profile:
      <tr>
        <td>${ _("Memory") }</td>
        <td>${ my.profile.memory }</td>
        <td>${ USED_MEMORY }</td>
      </tr>
      <tr>
        <td>${ _("CPUs") }</td>
        <td>${ my.profile.cpus }</td>
        <td>${ USED_CPUS }</td>
      </tr>
      <tr>
        <td>${ _("Instances") }</td>
        <td>${ my.profile.instances }</td>
        <td>${ USED_INSTANCES }</td>
      </tr>
      % else:
      <tr>
        <td>${ _("Memory") }</td>
        <td>4096</td>
        <td>${ USED_MEMORY }</td>
      </tr>
      <tr>
        <td>${ _("CPUs") }</td>
        <td>8</td>
        <td>${ USED_CPUS }</td>
      </tr>
      <tr>
        <td>${ _("Instances") }</td>
        <td>20</td>
        <td>${ USED_INSTANCES }</td>
      </tr>
      % endif
    </tbody>
  </table>
</div>


</%block>
