<%inherit file="account_base.html" />

<%block name="lyentry">

<%

   perm = False
   if has_permission('admin'):
       perm = True
%>

%if users:
<table>
  <thead>
    <tr>
      <th>User ID</th>
      <th>User Name</th>
      <th>Date Joined</th>
      <th>Last Login</th>
% if perm:
      <th>User Manage</th>
% endif
    </tr>
  </thead>
  <tbody>
    % for u in users:
    <tr>
      <td>${ u.id }</td>
      <td><a href="/account/${ u.id }">${ u.username }</a></td>
      <td>${ fulltime(u.date_joined) }</td>
      <td>${ fulltime(u.last_login) }</td>
% if perm:
      <td>
        <a href="">${ _("Delete") }</a>
        <a href="">${ _("Edit") }</a>
      </td>
% endif
    </tr>
    % endfor
  </tbody>
</table>
%else:
<p>Have not found any users !</p>
%endif

</%block>
