<%inherit file="/base.html" />

<%block name="head">
<link rel="stylesheet" href="${ theme_url('view-user.css') }" />
</%block>

<%block name="main">

<div id="account-view" class="luoyun-min-height c">

  <div class="sidebar">

    <div class="account-info">
      <div id="user-avatar">
	<a href="${ reverse_url('account:view', USER.id) }"><img src="${ USER.avatar_url }" alt="User Avatar" /></a>
      </div>
      <div class="username"><a href="${ reverse_url('account:view', USER.id) }">${ USER.username }</a></div>
    </div>

    <p class="action"><a class="ly-btn2 small blue" href="${ reverse_url('message:new') }?user=${ USER.id}">${ _("Leave a message") }</a></p>

  </div>

  <div class="sidemain">

    <div class="baseinfo">
      <table class="kvlist">
	<tbody>
	  <tr>
            <td>${ _("ID") }</td>
            <td>${ USER.id }</td>
	  </tr>
	  <tr>
            <td>${ _("Date Joined") }</td>
            <td>${ ftime(USER.date_joined) }</td>
	  </tr>
	  <tr>
            <td>${ _("Last Login") }</td>
            <td>${ ftime(USER.last_login) }</td>
	  </tr>
	  <tr>
	    <td>${ _("Last Activate") }</td>
	    <td>${ ftime(USER.last_active) }</td>
	  </tr>
	  <tr>
	    <td>${ _("Last Entry") }</td>
	    <td>${ USER.last_entry }</td>
	  </tr>
	  <tr>
	    <td>${ _("Group") }</td>
	    <td>
	      % if USER.groups:
	      <ul>
		% for G in USER.groups:
		<li><a href="${ reverse_url('account:group:view', G.id) }">${ G.name }</a></li>
		% endfor
	      </ul>
	      % else:
	      ${ _("No group") }
	      % endif
	    </td>
	  </tr>
	</tbody>
      </table>
    </div>

    <p class="show-instances">${ _("Total public instances : ") } ${ TOTAL_INSTANCE }</p>

    % if INSTANCE_LIST:
    <div class="section c">
      <% count = 0 %>
      % for I in INSTANCE_LIST:

      <ul class="v-instance">
	<li class="i-logo">
	  <a
	     % if I.status in [4, 5]:
    	     href="${ I.home_url(current_user) }" title="${ I.ip }"
	     % else:
	     href="/instance/${I.id}" title="${ I.name }"
             % endif
	     target="_blank"><img src="${ I.logourl }" /></a>
	</li>
	<div class="c"></div>
	<li class="i-name c"><a href="${ reverse_url('instance:view', I.id) }">${ I.name }</a></li>
	<li class="i-ip">
	  % if I.status in [4, 5]:
	  <div id="i-ip">
	    <a href="${ I.home_url(current_user) }" target="_blank">${ I.ip }</a>
	  </div>
	  % endif
	</li>
	<li class="i-status"><img src="${ THEME_URL }icons/InstanceStatus/${ I.status }.png" alt="${ locale.translate(I.status_string) }"/></li>
      </ul>

      % if count % 5 == 4:
      <div class="c"></div>
      % endif
      <% count += 1 %>
      % endfor

    </div>
    % endif

  </div>
</div>


</%block>
