<%inherit file="account_base.html" />

<%block name="main">


<div class="main-wrap view-user">
  <table class="kvlist">
    <tbody>
      <tr>
        <td>${ _("Username") }</td>
        <td>${ user.username }</td>
      </tr>
      <tr>
        <td>${ _("ID") }</td>
        <td>${ user.id }</td>
      </tr>
      <tr>
        <td>${ _("Date Joined") }</td>
        <td>${ fulltime(user.date_joined) }</td>
      </tr>
      <tr>
        <td>${ _("Last Login") }</td>
        <td>${ fulltime(user.last_login) }</td>
      </tr>
    </tbody>
  </table>
</div>


% if INSTANCE_LIST:
<div class="main-wrap instance-list">
  <h2>${ _("Instance List") }</h2>
  <table class="list">
    <thead>
      <th>${ _("ID") }</th>
      <th>${ _("Name") }</th>
      <th>${ _("Status") }</th>
      <th>${ _("IP") }</th>
    </thead>
    <tbody>
      % for I in INSTANCE_LIST:
      <tr>
        <td>${ I.id }</td>
        <td><a href="/instance/${ I.id }">${ I.name }</a></td>
        <td>${ I.status_string }</td>
        <td><a href="${ I.home_url }">${ I.ip }</a></td>
      </tr>
      % endfor
    </tbody>
  </table>
</div>
% endif

</%block>
