<%inherit file="appliance_base.html" />

<%block name="main">

<div class="inner-navigator">
  <span><a href="/">${ _("Home") }</a></span>&gt;
  <span><a href="/appliance">${ _("Appliances") }</a></span>&gt;
  <span>${ _("Edit") } ${ appliance.name }</span>
</div>

<div id="appliance-edit-form" class="c">
  <form method="POST" enctype="multipart/form-data">
    <table>
      <tbody>
	<tr>
	  <td>${ form.name.label }</td>
	  <td>
	    ${ form.name() }
	    ${ form.html_errors( form.name.errors ) }
	  </td>
	</tr>
	<tr>
	  <td>${ form.summary.label }</td>
	  <td>
	    ${ form.summary() }
	    ${ form.html_errors( form.summary.errors ) }
	  </td>
	</tr>
	<tr>
	  <td>${ form.catalog.label }</td>
	  <td>
	    ${ form.catalog() }
	    ${ form.html_errors( form.catalog.errors ) }
	  </td>
	</tr>
	<tr>
	  <td><span class="logo"><a href="${ reverse_url('appliance:view', appliance.id) } "><img class="appliance-logo" src="${ appliance.logourl }" alt="Image Picture" /></a></span></td>
	  <td class="select-new-logo">
	    <h3>${ _("Select a new logo") }</h3>
	    ${ form.logo() }
	    ${ form.html_errors( form.logo.errors ) }
	  </td>
	</tr>
	<tr>
	  <td>${ form.description.label }</td>
	  <td class="app-description">
	    ${ form.description() }
	    ${ form.html_errors( form.description.errors ) }
	  </td>
	</tr>
	<tr>
	  <td></td>
	  <td><input type="submit" value="${ _('Save') }" class="button" /></td>
	</tr>
      </tbody>
    </table>
  </form>
</div>

<script charset="utf-8" src="${ STATIC_URL }kindeditor/kindeditor.js"></script>
<script charset="utf-8" src="${ STATIC_URL }kindeditor/lang/zh_CN.js"></script>
<script type="text/javascript">
  var editor;
  KindEditor.ready(function(K) {
  editor = K.create('#description', {
      width: '780px',
      height: '300px',
      uploadJson : '/ly/upload/kindeditor',
      fileManagerJson : '/ly/upload/kindeditor',
      allowFileManager : true,
      items : [
          'formatblock', 'forecolor', 'hilitecolor', 'bold', 'italic', 'underline', 'removeformat', '|',
          'undo', 'redo', '|', 'code', '|', 'justifyleft', 'justifycenter', 'justifyright',
          'insertorderedlist', 'insertunorderedlist', 'indent', 'outdent', '|',
          'image', 'insertfile', 'table', 'emoticons',
          'anchor', 'link', 'unlink', '|', 'fullscreen', 'source', 'preview', 'about'
      ],
  });
  });
</script>

</%block>
