<%inherit file="appliance_base.html" />

<%block name="main">

<div class="inner-navigator">
  <span><a href="/">${ _("Home") }</a></span>&gt;
  <span><a href="/appliance">${ _("Appliances") }</a></span>&gt;
  <span>${ _("Edit") } ${ appliance.name }</span>
</div>

<div class="main-wrap small-left-right-form">
  <div><a href="${ reverse_url('appliance:view', appliance.id) } ">
    <img class="appliance-logo"
         src="${ appliance.logo_url }"
         alt="Image Picture" /></a></div>

  <form method="POST" enctype="multipart/form-data">
    ${ form.name.label } ${ form.name() }<br />
    ${ form.html_errors( form.name.errors ) }

    ${ form.summary.label } ${ form.summary() }<br />
    ${ form.html_errors( form.summary.errors ) }

    ${ form.catalog.label } ${ form.catalog() }<br />
    ${ form.html_errors( form.catalog.errors ) }

    ${ form.logo.label } ${ form.logo() }<br />
    ${ form.html_errors( form.logo.errors ) }

    ${ form.description.label } ${ form.description() }<br />
    ${ form.html_errors( form.description.errors ) }

    <label>&nbsp;</label><input type="submit" value="${ _('Save') }" class="button" />
  </form>
</div>


<%doc>
<div class="lrform edit-appliance">
  <h2>${_("Edit appliance")}</h2>
  <form method="POST" enctype="multipart/form-data">

    % if ERROR:
    <ol>
      % for e in ERROR:
      <li>${ e }</li>
      % endfor
    </ol>
    % endif

    <div class="item">
      <div class="c1">
        <label for="id_name">${ _("Name") }</label>
      </div>
      <div class="c2">
        <input id="id_name" type="text" name="name" maxlength="30" value="${ name }"/>
      </div>
    </div>

    <div class="item">
      <div class="c1">
        <label for="id_summary">${ _("Summary") }</label>
      </div>
      <div class="c2">
        <input id="id_summary" type="text" name="summary" maxlength="128" value="${ summary }"/>
      </div>
    </div>

    <div class="item">
      <div class="c1">
        <label for="id_catalog">${ _("Catalog") }</label>
      </div>
      <div class="c2">
        <select name="catalog" id="id_catalog">
          %for c in catalogs:
          <option value="${ c.id }" 
                  %if c.id == catalog_id:
                  selected="selected"
                  %endif
                  >${ c.name }</option>
          %endfor
        </select>
      </div>
    </div>

    <div class="item">
      <div class="c1">
        <label for="id_logo">${ _("Logo Image") }</label>
      </div>
      <div class="c2">
        <input name="logo" type="file"/>
      </div>
    </div>

    <div class="item">
      <div class="c1">
        <label for="id_description">${_("Description:")}</label>
      </div>
      <div class="c2">
        <textarea id="id_description" name="description">${ description }</textarea>
      </div>
    </div>

    <div class="submit">
      <input type="submit" value="${ _('Submit') }"/>
    </div>

  </form>
</div>
</%doc>


</%block>
