<%inherit file="appliance_base.html"/>

<%block name="main">

<div class="appliance-home c">

  <div class="sidebar">
    <div class="menu">
      <ul>
	<li><a class="${ b2s(cur_catalog == 0) }" href="${ reverse_url('appliance:index') }">${ _("All") }<span> ( ${ appliance_total } )</span></a></li>
        % for c in catalogs:
	% if c.total:
        <li id="catalog${ c.id }"><a class="${ b2s(cur_catalog == c.id) }" href="${ reverse_url('appliance:index') }?c=${ c.id }">${ c.name }<span> ( ${ c.total } )</span></a></li>
	% endif
        % endfor
	% if current_user:
	<li><a href="${ reverse_url('myun:appliance') }">${ _("My Appliances") }</a></li>
	% endif
      </ul>
    </div>
  </div>


  <div class="sidemain c">

    <div class="appliance-list">

      % if not appliances:
      <p>${ _("Have not any appliances yet !") }</p>
      % endif

      <% count = 0 %>
      <div class="c">
	% for app in appliances:
	<div class="appliance">
          <div class="logo">
	    <a href="${ reverse_url('appliance:view', app.id) }"><img src="${ app.logourl }" alt="Appliance Picture" /></a>
          </div>
	  <div class="a-desc">
	    <ul>
	      <li><span class="a-name">${ app.name }</span></li>
	    </ul>
	  </div>
	</div>

	% if count % 5 == 4:
      </div>
      <div class="c">
	% endif
	<% count += 1 %>
	% endfor
      </div>
    </div>

    <div class="clearfix"></div>
    ${ page_html }

  </div>
</div>

</%block>
