<%inherit file="appliance_base.html" />

<%block name="innav">
<li>${ _("Upload Appliance") }</li>
</%block>

<%block name="submain">

<script type="text/javascript" src="${ static_url('third/jquery.uploadProgress.js') }"></script>
<script type="text/javascript" src="${ static_url('third/upload.js') }"></script>

<div class="hero-unit upload-appliance">

  <form id="upload" enctype="multipart/form-data" action="/upload" method="post">${ xsrf_form_html() }
    <input name="upfile" type="file"/>
    <button type="submit" class="btn">${ _('Upload Appliance') }</button>
  </form>

  <div id="uploading" style="display: none;">
    <div class="progress">
      <div class="bar" id="progressbar"></div>
    </div>
    <div id="percents"></div>
  </div>

</div>


<script type="text/javascript">
  Uploading();
</script>

</%block>
