<%inherit file="../forum_base.html"/>

<%block name="subhead">
<link rel="stylesheet" type="text/css" href="${ static_url('markitup/skins/simple/style.css') }" />
<link rel="stylesheet" type="text/css" href="${ static_url('markitup/sets/markdown/style.css') }" />
</%block>

<%block name="submain">

<script type="text/javascript" src="${ static_url('markitup/jquery.markitup.js') }"></script>
<script type="text/javascript" src="${ static_url('markitup/sets/markdown/set.js') }"></script>

<div>
  <form method="POST">${ xsrf_form_html() }
	<fieldset>
	  <legend>${ _("Reply Post") }</legend>
	  <div class="well post-item">
		<p>@ <a href="${ reverse_url('user:view') }?id=${ POST.user_id }">${ POST.user.username }</a></p>
		<div>${ POST.body_html }</div>
	  </div>
	  ${ form.body.label } ${ form.body() }
	  ${ form.html_errors( form.body.errors ) }
	  <br>
	  <button type="submit" class="btn">${ _("Submit") }</button>
	</fieldset>
  </form>
</div>

<script type="text/javascript" >
   mySettings.previewParserPath = "/t/preview?markup_language=markdown&_xsrf=${ xsrf_cookie }";
   $(document).ready(function() {
      $("#body").markItUp(mySettings);
   });
</script>
</%block>
