<%inherit file="admin_base.html" />

<%block name="main">

<div class="inner-navigator">
  <span><a href="/">${ _("Home") }</a></span>&gt;
  <span><a href="/admin">${ _("Admin") }</a></span>&gt;
  <span><a href="/admin/appliance">${ _("Appliances") }</a></span>
</div>



<div class="admin-appliance">

  <div class="sidebar">

    <div class="menu">
      <ul>
        % for c in catalogs:
        <li id="catalog${ c.id }">
          <a 
             % if c.id == cur_catalog:
             class="current"
             % endif
             href="/admin/appliance?c=${ c.id }">${ c.name }</a>
        </li>
        % endfor
      </ul>
    </div>

    <div class="addon">
      <a class="button" href="/admin/appliance/add_catalog">${_("Add Catalog")}</a>
    </div>

  </div>

  <div class="sidemain">
    <table class="list">
      <tbody>
        <tr>
          <td>${ _("Name") }</td>
          <td>${ CATALOG.name }</td>
        </tr>
        <tr>
          <td>${ _("Summary") }</td>
          <td>${ CATALOG.summary }</td>
        </tr>
        <tr>
          <td>${ _("Position") }</td>
          <td>${ CATALOG.position }</td>
        </tr>
        <tr>
          <td>${ _("Created") }</td>
          <td>${ CATALOG.created }</td>
        </tr>
        <tr>
          <td>${ _("Updated") }</td>
          <td>${ CATALOG.updated }</td>
        </tr>
      </tbody>
    </table>

    <div class="description">
      ${ CATALOG.description }
    </div>
  </div>

</div>

</%block>
