<%inherit file="admin_base.html"/>

<%block name="main">

<div class="inner-navigator">
  <span><a href="/">${ _("Home") }</a></span>&gt;
  <span><a href="/admin">${ _("Admin") }</a></span>
</div>


<div class="admin">

  <div class="sidebar">

    <div class="menu">
      <ul>
        <li id="user-manager">
          <a href="">${ _("User") }</a>
        </li>
        <li id="appliance-manager">
          <a href="/admin/appliance">${ _("Appliances") }</a>
        </li>
        <li id="instance-manager">
          <a href="">${ _("Instances") }</a>
        </li>
        <li id="wiki-manager">
          <a href="/admin/wiki">${ _("Wiki") }</a>
        </li>
      </ul>
    </div>
  </div>

  <div class="sidemain">
    <p>LuoYun Admin Management Console</p>
  </div>

</div>

<script type="text/javascript">
</script>

</%block>
