<%inherit file="/myun/instance_base.html" />

<%block name="innav">
<li>${ _("Configure domain") }</li>
</%block>

<%block name="instance">
<div class="iedit-content">

  <h2 class="title">${ _("Configure Domain") }</h2>

  ${ show_error(ERROR) }
  <div class="small-left-right-form c">
    <form method="POST">${ xsrf_form_html() }

      <label for="subdomain">${ _("Subdomain") }</label>
      <input id="subdomain" name="subdomain" type="text" value="${ subdomain }">${ topdomain }<br/>

      <label>&nbsp;</label><input type="submit" value="${ _('Save') }"/>
    </form>
  </div>
</div>
</%block>
