<%inherit file="instance_base.html" />

<%block name="innav">
<li>${ _("Configure Global Password For Instance") }</li>
</%block>

<%block name="submain">
<div>
  <form method="POST">${ xsrf_form_html() }
	<fieldset>
	  <legend>${ _("Configure Global Password For Instance") }</legend>
      ${ form.password.label } ${ form.password() }
      ${ form.html_errors(form.password.errors) }

      ${ form.confirm.label } ${ form.confirm() }
      ${ form.html_errors(form.confirm.errors) }
	  <br>
	  <button type="submit" class="btn">${ _("Submit") }</button>
	</fieldset>
  </form>
</div>
</%block>
