/* Begin home of image */

#lyentry .close-main {
    padding: 30px 0 0 10px;
}

.close-main .hover {
    border: 1px solid #DFE6ED;
}

.appliance {
    float: left;

    margin: 20px 0;
    padding: 10px;
    width: 132px;
    /*height: 180px;*/

    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;

    border: 1px solid transparent;
    _border-color:tomato;
    _filter:chroma(color=tomato);

}

.appliance .appid {
    font-size: 1.6em;
}

.appliance img {
    width: 100px;
    height: 100px;
}

/* End home of image */




/* Start image view */
#image-view {
    margin: 10px;
    padding: 10px;
    border: 1px solid green;
}


#image-desc {
    margin: 10px;
}

#image-desc-logo, #image-desc-detail {
    float: left;
    margin: 20px;
}

#image-about {
    clear: both;
    margin: 10px 10px 0 10px;
}

#image-about-tab {
    width: 300px;
}

#image-about-tab .element {
    padding: 5px 10px;
    border: 1px solid green;
    /*display: table-cell;*/
    display:inline-block;    /* firefox等标准浏览器识别*/
    *display:inline;      /* 只有ie6和ie7识别*/
    zoom:1;               /* 触发ie6和ie7下的haslayout */
    overflow: hidden;
}

#image-about-tab .hover {
    background: blue;
    color: white;
}

#image-about-content {
    border: 1px solid green;
    height: 100px;
}


/* Progress bar */
.bar {
  width: 300px;
}
  
#progress {
  background: #eee;
  border: 1px solid #222;
  margin-top: 20px;
}

#progressbar {
  width: 0px;
  height: 24px;
  background: #333;
}


/* End image view */
