#wiki-main .action {
    text-align: right;
    margin: 10px 30px 10px auto;
}

.catalog-list {
    /*border: 1px solid #DFE6ED;*/
    margin: 10px 5px;
    padding: 10px;
}

.catalog-name {
    padding-bottom: 5px;
    margin-bottom: 10px;
}

.topic-list {
    border: 1px solid #DFE6ED;
    margin: 2px 5px;
    padding: 10px 20px;
}

.topic-list .name {
    float: left;
    width: 400px;
}

.topic-list .description {
    float: right;
}


/* Show Topic */
.topic{
    padding: 30px 50px;
}

.topic-name {
    font-size: 16px;
}

.topic-info {
    margin: 20px 10px 30px;
}

.topic-body h1 {
    margin: 30px 0 15px;
    font-size: 16px;
}

.topic-body h2 {
    margin: 20px 0 10px;
    font-size: 14px;
}

.topic-body ul {
    margin: 10px 30px;
    list-style: circle outside none;
}

#wiki textarea {
    height: 400px !important;
    width: 60% !important;
}