<%inherit file="/admin/admin_base.html" />

<%block name="sidemain">


<div class="main-wrap inner-navigator">
  <span><a href="${ reverse_url('admin:index') }">${ _("Admin") }</a></span>&gt;
  <span><a href="${ reverse_url('admin:group') }">${ _("Group") }</a></span>&gt;
  <span><a href="${ reverse_url('admin:group') }?id=${ group.id }&action=view">${ group.name }</a></span>&gt;
  <span>${ _("Add Users") }</span>
</div>

<div class="main-wrap small-left-right-form">
  <form method="POST">
    ${ form.userlist.label } ${ form.userlist() }<br/>
    ${ form.html_errors(form.userlist.errors) }
    <label>&nbsp;</label><input type="submit" value="${ _('Add Users') }"/>
  </form>
</div>

</%block>
