<%inherit file="/admin/admin_base.html" />

<%block name="innav">
<li><a href="${ reverse_url('admin:group') }">${ _("Group") }</a></li>
<li><a href="${ reverse_url('admin:group') }?id=${ GROUP.id }">${ GROUP.name }</a></li>
<li>${ _("Delete Group") }</li>
</%block>

<%block name="sidemain">

<div class="warning">
  <h3>${ _("Delete Group Failed") }</h3>

  % if GROUP.islocked:
  <p>${ _("This group is locked for safely. If you want to delete it, please manuly modified the islocked flag of auth_group table in backend DB.") }</p>
  % endif

  % if GROUP.users:
  <p>${ _("There are users in group, please delete it first !") }</p>
  <div class="ly-table">
    <table>
      <thead>
	<tr>
	  <th>${ _("ID") }</th>
	  <th>${ _("Name") }</th>
	</tr>
      </thead>
      <tbody>
	% for U in GROUP.users:
	<tr>
	  <td>${ U.id }</td>
	  <td>${ U.username }</td>
	</tr>
	% endfor
      </tbody>
    </table>
  </div>
  % endif

</div>

</%block>
