<%inherit file="/admin/account/base.html" />

<%block name="innav">
<li><a href="${ reverse_url('admin:group') }">${ _("Group") }</a></li>
<li><a href="${ reverse_url('admin:group') }?id=${ GROUP.id }">${ GROUP.name }</a></li>
<li>${ _("delete group failed") }</li>
</%block>

<%block name="main">

% if GROUP.islocked:
<p class="ywarn">${ _("This group is locked for safely. If you want to delete it, please manuly modified the islocked flag of auth_group table in backend DB.") }</p>
% endif

% if GROUP.users:
<p class="ywarn">${ _("There are users in group, please delete it first !") }</p>
<p><a href="${ reverse_url('admin:user') }?gid=${ GROUP.id }" target="_blank">${ _("All users in the group.") }</p>
% endif

</%block>
