<%inherit file="/admin/account/base.html" />

<%block name="subhead">
<link rel="stylesheet" href="${ static_url('third/jquery.multiselect2side/css/jquery.multiselect2side.css') }" />
</%block>

<%block name="innav">
<li><a href="${ reverse_url('admin:group') }">${ _("Group") }</a></li>
<li><a href="${ reverse_url('admin:group') }?id=${ GROUP.id }">${ GROUP.name }</a></li>
<li>${ _("Edit Group") }</li>
</%block>

<%block name="main">

<script type="text/javascript" src="${ static_url('third/jquery.multiselect2side/js/jquery.multiselect2side.js') }"></script>

<div class="small-left-right-form c">
  <form method="POST">${ xsrf_form_html() }
    ${ form.name.label } ${ form.name() }<br/>
    ${ form.html_errors(form.name.errors) }

    ${ form.description.label } ${ form.description() }<br/>
    ${ form.html_errors(form.description.errors) }

    ${ form.perms.label } ${ form.perms() }<br/>
    ${ form.html_errors(form.perms.errors) }

    <label>&nbsp;</label><input type="submit" value="${ _('Save') }"/>
  </form>
</div>

<script type="text/javascript">
  $("#perms").multiselect2side({
    selectedPosition: 'right',
    moveOptions: false,
    labelsx: '${ _("Available") }',
    labeldx: '${ _("Selected") }',
  });
</script>

</%block>
