<%inherit file="/admin/account.html" />

<%block name="innav">
<li><a href="${ reverse_url('admin:group') }">${ _("Group") }</a></li>
</%block>

<%block name="content">

<div class="manage-content">
  <a class="blue-submit" href="${ reverse_url('admin:group') }?action=add">${ _("Create New Group") }</a>
  <a class="red-submit" href="${ reverse_url('admin:user') }?gid=0">${ _("Users Have No Group") }</a>
</div>

<p class="subtitle">${ _("Total Groups: ") } ${ len(GROUP_LIST) }</p>

<div>
  <table class="ly-table">
    <thead>
      <tr>
	<th>${ _("ID") }</th>
	<th>${ _("Name") }</th>
	<th>${ _("Users") }</th>
	<th></th>
      </tr>
    </thead>
    <tbody>
      % for G in GROUP_LIST:
      <tr>
        <td>${ G.id }</td>
        <td><a href="${ reverse_url('admin:group') }?id=${ G.id }" target="_blank">${ G.name }</a></td>
	<td>
	  % if G.users:
	  <a href="${ reverse_url('admin:user') }?gid=${ G.id }" target="_blank">${ len(G.users) }</a>
	  % endif
	</td>

	<td>
	  <a href="${ reverse_url('admin:group') }?id=${ G.id }&action=edit">${ _("Edit") }</a>
	  % if G.islocked:
	  ${ _("locked") }
	  % else:
	  <a href="${ reverse_url('admin:group') }?id=${ G.id }&action=delete">${ _("Delete") }</a>
	  % endif
	  % if G.users:
	  <a href="${ reverse_url('system:sendmail') }?totype=group&idlist=${ G.id }" title="${ _('send a email to all users in this group.') }" target="_blank"><img class="small" src="${ theme_url('img/email.gif') }" /></a>
	  % endif
	</td>
      </tr>
      % endfor
    </tbody>
  </table>
</div>


</%block>
