<%inherit file="/admin/admin_base.html" />

<%block name="innav">
<li><a href="${ reverse_url('admin:group') }">${ _("Group") }</a></li>
<li><a href="${ reverse_url('admin:group') }?id=${ GROUP.id }">${ GROUP.name }</a></li>
<li>${ _("User List") }</li>
</%block>

<%block name="sidemain">

<h2 class="title">${ _("Group User List") }</h2>

<p>${ _("All users in group ") } "${ GROUP.name }"</p>

<div class="admin-group-users ly-table">
  <table>
    <thead>
      <tr>
	<td>${ _("ID") }</td>
	<td>${ _("Name") }</td>
      </tr>
    </thead>
    <tbody>
      % for U in USER_LIST:
      <tr>
	<td>${ U.id }</td>
	<td><a href="${ reverse_url('admin:user') }?id=${ U.id }">${ U.username }</a></td>
      </tr>
      % endfor
    </tbody>
  </table>
</div>

${ PAGE_HTML }
</%block>
