<%inherit file="../forum_base.html"/>

<%block name="subhead">
<link rel="stylesheet" type="text/css" href="${ static_url('markitup/skins/simple/style.css') }" />
<link rel="stylesheet" type="text/css" href="${ static_url('markitup/sets/markdown/style.css') }" />
</%block>

<%block name="submain">

<script type="text/javascript" src="${ static_url('markitup/jquery.markitup.js') }"></script>
<script type="text/javascript" src="${ static_url('markitup/sets/markdown/set.js') }"></script>

<div>
  <form method="POST">${ xsrf_form_html() }
	<fieldset>
	  <legend>${ _("New Forum Topic") }</legend>

% if CATALOG:
<div style="display: none;">
	  ${ form.catalog.label } ${ form.catalog() }
	  ${ form.html_errors( form.catalog.errors ) }
</div>
% else:
	  ${ form.catalog.label } ${ form.catalog() }
	  ${ form.html_errors( form.catalog.errors ) }
% endif

	  ${ form.name.label } ${ form.name() }
	  ${ form.html_errors( form.name.errors ) }

	  ${ form.summary.label } ${ form.summary() }
	  ${ form.html_errors( form.summary.errors ) }

	  ${ form.tag.label } ${ form.tag() }
	  ${ form.html_errors( form.tag.errors ) }

	  ${ form.body.label } ${ form.body() }
	  ${ form.html_errors( form.body.errors ) }

	  <br>
	  <button type="submit" class="btn">${ _("Submit") }</button>
	</fieldset>
  </form>
</div>

<script type="text/javascript" >
   mySettings.previewParserPath = "/t/preview?markup_language=markdown&_xsrf=${ xsrf_cookie }";
   $(document).ready(function() {
      $("#body").markItUp(mySettings);
   });
</script>
</%block>
