<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">

  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link rel="SHORTCUT ICON" href="{{ MEDIA_URL }}images/favicon.ico" />
    <link rel="stylesheet" href="{{ MEDIA_URL }}themes/luoyun.css" />
    {% block head %}{% endblock %}
    <title>{% block title %}{{ title }}{% if title %} - {% endif %}LuoYun{% endblock %}</title>
  </head>
{% load i18n %}
  <body>
    <script type="text/javascript" src="{{ MEDIA_URL }}js/jquery-1.7.min.js"></script>
    <script type="text/javascript" src="{{ MEDIA_URL }}js/luoyun.js"></script>

    <div id="container">

      <div id="header">
        <h2><a href="/">{% trans 'LuoYun - Find your cloud !' %}</a></h2>
        <div id="login">
          {% if user.is_authenticated %}
            Welcome, <span class="user"><a href="">{{ user }}</a></span>
            {% if user.is_staff %}
              <span class="configure"><a href="{% url admin:index %}">Configure</a></span>
            {% endif %}
            <span class="logout"><a href="{% url home:logout %}">Sign Out</a></span>
            {% else %}
            <span class="login"><a href="{% url home:login %}">Sign In</a></span>
            {% endif %}
            <div id="select-language">
              <form action="/i18n/setlang/" method="post">{% csrf_token %}
                <input name="next" type="hidden" value="{{request.path}}" />
                <select name="language">
                  {% for lang in LANGUAGES %}
                  <option value="{{ lang.0 }}" {%ifequal lang.0 request.LANGUAGE_CODE%}selected="selected"{%endifequal%}>{{ lang.1 }}</option>
                  {% endfor %}
                </select>
                <input type="submit" value="Go" />
              </form> 
            </div>
        </div>
        <div id="navigator">
          <span><a href="/">{% trans 'Home' %}</a></span>
          <span><a href="{% url image:index %}">{% trans 'Image' %}</a></span>
          <span><a href="{% url node:index %}">{% trans 'Node' %}</a></span>
          <span><a href="{% url domain:index %}">{% trans 'Domain' %}</a></span>
          <span><a href="{% url job:index %}">{% trans 'Job' %}</a></span>
        </div>
      </div>

      <div id="main" class="clearfix">
        <noscript><p class="nojs">Sorry, your browser does not support JavaScript!</p></noscript>
        {% block main %}{% endblock %}
      </div>

      <div id="footer">
        <span class="copyright">Copyright &copy <a href="http://www.luoyun.com">LuoYun</a></span>
        <span class="about"><a href="/about">About</a></span>
        <span class="contact"><a href="/contact">Contact</a></span>
      </div>
      
    </div>
  </body>
</html>
