<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">

  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link rel="SHORTCUT ICON" href="{{ MEDIA_URL }}images/favicon.ico" />
    <link rel="stylesheet" href="{{ MEDIA_URL }}themes/luoyun.css" />
    {% block head %}{% endblock %}
    <title>{% block title %}{{ title }}{% if title %} - {% endif %}LuoYun{% endblock %}</title>
  </head>
{% load i18n %}
  <body>
    <script type="text/javascript" src="{{ MEDIA_URL }}js/jquery-1.7.min.js"></script>
    <script type="text/javascript" src="{{ MEDIA_URL }}js/luoyun.js"></script>

    <div id="pager">

      <div id="header">
        <div id="welcome-info">
          <a href="/">{% trans "LuoYun - Find your cloud !" %}</a>
        </div>
        <div id="navigator">
          <ul>
            <li><a href="/">{% trans "Home" %}</a></li>
            <li><a href="{% url image:index %}">{% trans "Image" %}</a></li>
            <li><a href="{% url node:index %}">{% trans "Node" %}</a></li>
            <li><a href="{% url domain:index %}">{% trans "Domain" %}</a></li>
            <li><a href="{% url job:index %}">{% trans "Job" %}</a></li>
          </ul>
        </div>
        <div id="select-language">
          <form action="/i18n/setlang/" method="post">{% csrf_token %}
            <input name="next" type="hidden" />
            <select name="language">
              {% for lang in LANGUAGES %}
              <!--<option value="{{ lang.0 }}" {% ifequal lang.0 request.LANGUAGE_CODE %}selected="selected"{% endifequal %}>{{ lang.1 }}</option>-->
              {% ifequal request.LANGUAGE_CODE "en" %}
              <option value="{{ lang.0 }}" {% ifequal lang.0 "zh-cn" %}selected="selected"{% endifequal %}>{{ lang.1 }}</option>
              {% else %}
              <option value="{{ lang.0 }}" {% ifequal lang.0 "en" %}selected="selected"{% endifequal %}>{{ lang.1 }}</option>
              {% endifequal %}
              {% endfor %}
            </select>
            {% ifequal request.LANGUAGE_CODE "en" %}
            <input type="submit" value="选择" />
            {% else %}
            <input type="submit" value="Go" />
            {% endifequal %}
          </form> 
        </div>
      </div>

      <div id="main" class="clearfix">
        <noscript><p class="nojs">{% trans "Sorry, your browser does not support JavaScript!" %}</p></noscript>
        <div id="login">
          {% if user.is_authenticated %}
          {% trans "Welcome, " %}<span class="user"><a href="">{{ user }}</a></span>
          <!--
              {% if user.is_staff %}
              <span class="configure"><a href="{% url admin:index %}">{% trans 'Configure Center' %}</a></span>
              {% endif %}
          -->
          <span class="logout"><a href="{% url home:logout %}">{% trans "Sign Out" %}</a></span>
          {% else %}
          <span class="login"><a href="{% url home:login %}">{% trans "Sign In" %}</a></span>
          {% endif %}
        </div>
        {% block main %}{% endblock %}
      </div>

      <div id="footer">
        <span class="copyright">{% trans "Copyright" %} &copy <a href="http://www.luoyun.com">{% trans "LuoYun Inc." %}</a></span>
        <span class="about"><a href="/about">{% trans "About" %}</a></span>
        <span class="contact"><a href="/contact">{% trans "Contact" %}</a></span>
      </div>
      
    </div>
  </body>
</html>
