<%inherit file="instance_base.html"/>

<%block name="maincenter">

<h2>${ instance.name }</h2>

<p class="summary">
% if instance.summary:
${ instance.summary }
% else:
${ _("This is an instance of LuoYun Cloud platform.") }
% endif
</p>


% if current_user and current_user.id == instance.user_id:
<p class="action">
  <span class="edit"><a class="ly-btn2 small green" href="${ reverse_url('instance:baseinfo:edit', instance.id) }">${ _("Edit") }</a></span>
</p>
% endif

<div class="c"></div>

<h2>${ _("Description") }</h2>
<div id="instance-baseinfo-description" class="markdown">
% if instance.description:
${ instance.description_html }
% else:
${ _("No description.") }
% endif
</div>

</%block>
