<%inherit file="instance_base.html"/>

<%block name="maincenter">

<h2>${ _("Domain Configure") }</h2>

% if ERROR:
<ul>
  % for e in ERROR:
  <li>${ e }</li>
  % endfor
</ul>

% else:

<div class="main-wrap small-left-right-form">
  <form method="POST">

    <label for="subdomain"></label>
    <input id="subdomain" name="subdomain" type="text" value="${ subdomain }">${ topdomain }<br/>

    <label>&nbsp;</label><input type="submit" value="${ _('Save') }"/>
  </form>
</div>

% endif


</%block>
