<%inherit file="/base.html"/>

<%block name="head">
<link rel="stylesheet" href="${ theme_url('instance-index.css') }" />
<link rel="stylesheet" href="${ theme_url('table.css') }" />
<script type="text/javascript" src="${ static_url('js/instance.js') }"></script>
</%block>

<%block name="main">

<div class="ly-description">
  <p>${ _("Public Instances") }
    % if current_user:
    <a href="${ reverse_url('myun:instance') }">${ _("(My Instances)") }</a>
    % endif
  </p>
</div>


<div id="ly-instance-main" class="c">
  <div class="section c">

    % if not INSTANCE_LIST.count():
    <p>${ _("Have not any instance yet !") }</p>
    % endif

    <% count = 0 %>
    % for I in INSTANCE_LIST:

    <ul class="i">
      <li class="i-logo"><a href="${ reverse_url('instance:view', I.id) }"><img src="${ I.logourl }" /></a></li>
      <div class="c"></div>
      <li class="i_name c"><a href="${ reverse_url('instance:view', I.id) }">${ I.name }</a></li>
      <li class="i_user"><span class="t">${ _("Owner") }</span><a href="${ reverse_url('account:view', I.user_id) }">${ I.user.username }</a></li>
      <li class="i_status"><img id="i${ I.id }-is-img" src="${ THEME_URL }icons/InstanceStatus/${ I.status }.png" alt="${ I.status_string }"/></li>
      <li style="display:none;">
	<span id="i${ I.id }-is">${ I.status }</span>
	<span id="i${ I.id }-js">${ I.lastjob_status_id }</span>
      </li>

      <div class="i-logo-hover" style="display:none;">
	<div class="arrowBox">
	  <div calss="arrow"></div>
	</div>
	<h2 class="title">${ I.name }</h2>
	<p class="owner"><span class="t">${ _("Owner") }</span><a href="${ reverse_url('account:view', I.user_id) }">${ I.user.username }</a></p>
	<p class="summary">
	  % if I.summary:
	  ${ I.summary }
	  % else:
	  ${ _("No summary yet !") }
	  % endif
	</p>

	<table>
	  <tbody>
	    <tr>
	      <td>${ _("Status") }</td>
	      <td>${ I.status_string }</td>
	    </tr>
	    <tr>
	      <td>${ _("IP") }</td>
	      <td><span class="i-ip">
		% if I.status in [4, 5]:
		<a href="${ I.home_url(current_user) }" target="_blank">${ I.ip }</a>
		% else:
		${ _("None") }
		% endif
		</span></td>
	    </tr>
	  </tbody>
	</table>

      </div>

      <div class="i-owner-hover" style="display:none;">
      </div>

    </ul>

    % if count % 5 == 4:
    <div class="c"></div>
    % endif
    <% count += 1 %>
    % endfor

    <div class="clearfix"></div>
    ${ page_html }
  </div>

  <div class="aside">

    <div id="create-instance" class="c">
      <a class="ly-btn2 medium blue" 
	 title="${ _('Create a new instance') }" 
	 href="${ reverse_url('instance:create') }">
	${ _("Create New Instance") }</a>
    </div>

    % if current_user:
    <div class="sort-select c">
      <ul class="single-choice">
	<h3>${ _("View") }</h3>
	<li><input type='checkbox' value="all" />${ _("All Public") }</li>
	<li><input type='checkbox' value="self" />${ _("My  Public") }</li>
      </ul>
    </div>
    % endif

    <div class="sort-select c">
      <ul id="order-by-choice">
	<h3>${ _("Selection") }</h3>
	<li><input type='checkbox' value="updated" />${ _("Updated") }</li>
	<li><input type='checkbox' value="created" />${ _("Created") }</li>
##	<li><input type='checkbox' value="username" />${ _("Username") }</li>
      </ul>
    </div>

    <div class="sort-select c">
      <ul id="sort-method-choice">
	<h3>${ _("Order") }</h3>
	<li><input type='checkbox' value="desc" />${ _("Descending") }</li>
	<li><input type='checkbox' value="asc" />${ _("Ascending") }</li>
      </ul>
    </div>

    <div class="sort-select c">
      <ul id="status-choice">
	<h3>${ _("Status") }</h3>
	<li><input type='checkbox' value="running" />${ _("Running") }</li>
	<li><input type='checkbox' value="stoped" />${ _("Stoped") }</li>
	<li><input type='checkbox' value="all" />${ _("All") }</li>
      </ul>
    </div>

    <div class="sort-select c">
      <ul id="pagesize-choice">
	<h3>${ _("PageSize") }</h3>
	<li><input type='checkbox' value="10" />${ _("10") }</li>
	<li><input type='checkbox' value="20" />${ _("20") }</li>
	<li><input type='checkbox' value="50" />${ _("50") }</li>
      </ul>
    </div>

  </div>

</div>

<%
   IDS = "[ %s ]" % ', '.join( [str(I.id) for I in INSTANCE_LIST] )
%>

<script type="text/javascript">
  lyInstanceSort( 'view', '.single-choice input:checkbox', 'all' );
  lyInstanceSort( 'by', '#order-by-choice input:checkbox', 'updated' );
  lyInstanceSort( 'sort', '#sort-method-choice input:checkbox', 'desc' );
  lyInstanceSort( 'status', '#status-choice input:checkbox', 'running' );
  lyInstanceSort( 'sepa', '#pagesize-choice input:checkbox', '50' );

  indexInstanceLogoHover();
</script>

</%block>
