<%inherit file="/base.html"/>

<%block name="head">
<link rel="stylesheet" href="${ theme_url('instance-index.css') }" />
<link rel="stylesheet" href="${ theme_url('table.css') }" />
<script type="text/javascript" src="${ static_url('js/instance.js') }"></script>
</%block>

<%block name="main">

<div class="ly-description">
  <p>${ _("Public Instances") }
    % if current_user:
    <a href="${ reverse_url('myun:instance') }">${ _("(My Instances)") }</a>
    % endif
  </p>
</div>


<div id="ly-instance-main" class="c">
  <div class="section c">

    % if not INSTANCE_LIST.count():
    <p>${ _("Have not any instance yet !") }</p>
    % endif

    <% count = 0 %>
    % for I in INSTANCE_LIST:

    <ul class="i">
      <li class="i-logo"><a href="${ reverse_url('instance:view', I.id) }"><img src="${ I.logourl }" /></a></li>
      <div class="c"></div>
      <li class="i_name c"><a href="${ reverse_url('instance:view', I.id) }">${ I.name }</a></li>
      <li class="i_user"><span class="t">${ _("Owner") }</span><a href="${ reverse_url('account:view', I.user_id) }">${ I.user.username }</a></li>
      <li class="i_status"><img id="i${ I.id }-is-img" src="${ theme_url('icons/InstanceStatus/%s.png' % I.status) }" /></li>
      <li style="display:none;">
	<span id="i${ I.id }-is">${ I.status }</span>
	<span id="i${ I.id }-js">${ I.lastjob_status_id }</span>
      </li>

      <div class="i-logo-hover" style="display:none;">
	<div class="arrowBox">
	  <div calss="arrow"></div>
	</div>
	<h2 class="title">${ I.name }</h2>
	<p class="owner"><span class="t">${ _("Owner") }</span><a href="${ reverse_url('account:view', I.user_id) }">${ I.user.username }</a></p>
	<p class="summary">
	  % if I.summary:
	  ${ I.summary }
	  % else:
	  ${ _("No summary yet !") }
	  % endif
	</p>

	<table>
	  <tbody>
	    <tr>
	      <td>${ _("Status") }</td>
	      <td>${ locale.translate(I.status_string) }</td>
	    </tr>
	    <tr>
	      <td>${ _("IP") }</td>
	      <td><span class="i-ip">
		% if I.status in [4, 5]:
		<a href="${ I.home_url(current_user) }" target="_blank">${ I.ip }</a>
		% else:
		${ _("None") }
		% endif
		</span></td>
	    </tr>
	  </tbody>
	</table>

      </div>

      <div class="i-owner-hover" style="display:none;">
      </div>

    </ul>

    % if count % 5 == 4:
    <div class="c"></div>
    % endif
    <% count += 1 %>
    % endfor

    <div class="clearfix"></div>
    ${ page_html }
  </div>

  <div class="aside">

    <div id="create-instance" class="c">
      <a class="orange-submit" title="${ _('Create a new instance') }" href="${ reverse_url('instance:create') }">${ _("Create New Instance") }</a>
    </div>

    <ul class="select-module">
      <li class="t">${ _("Instance Status") }</li>
      <li><select id="sort-by-status">
	  <option value="all">${ _("All") }</option>
	  <option value="running">${ _("Running") }</option>
	  <option value="stoped">${ _("Stoped") }</option>
	</select>
      </li>
    </ul>

    % if current_user:
    <ul class="select-module">
      <li class="t">${ _("View") }</li>
      <li><select id="sort-by-view">
	  <option value="all">${ _("All Public") }</option>
	  <option value="self">${ _("My Public") }</option>
	</select>
      </li>
    </ul>
    % endif

    <ul class="select-module">
      <li class="t">${ _("Selection") }</li>
      <li><select id="sort-by-what">
	  <option value="updated">${ _("Updated") }</option>
	  <option value="created">${ _("Created") }</option>
	  <option value="user">${ _("User") }</option>
      </select></li>
    </ul>

    <ul class="select-module">
      <li>${ _("Order") }</li>
      <li><select id="sort-order">
	  <option value="1">${ _("Descending") }</option>
	  <option value="0">${ _("Ascending") }</option>
      </select></li>
    </ul>

  </div>

</div>

<script type="text/javascript">
  indexInstanceLogoHover();

  $("#sort-by-status").val("${ STATUS }");
  submit_select_change("#sort-by-status", "${ urlupdate({'status': 'YREPLACEY'}) }");

  $("#sort-by-view").val("${ VIEW }");
  submit_select_change("#sort-by-view", "${ urlupdate({'view': 'YREPLACEY'}) }");

  $("#sort-by-what").val("${ SORTBY }");
  submit_select_change("#sort-by-what", "${ urlupdate({'by': 'YREPLACEY'}) }");

  $("#sort-order").val("${ ORDER }");
  submit_select_change("#sort-order", "${ urlupdate({'order': 'YREPLACEY'}) }");
</script>

</%block>
