<%inherit file="/base.html"/>

<%block name="head">
<link rel="stylesheet" href="${THEME_URL}instance.css" />
<link rel="stylesheet" href="${THEME_URL}button.css" />
<script type="text/javascript" src="${STATIC_URL}js/url.js"></script>
<script type="text/javascript" src="${STATIC_URL}js/instance.js"></script>

</%block>


<%block name="main">

<div class="inner-nav c">
  <ol>
    <li><a class="home" href="/">${ _("Home") }</a></li>
    <li><a href="/instance">${ _("Instances") }</a></li>
    <li><span>${ instance.name }</span></li>
  </ol>
</div>

<div class="island c" id="i-show-main">

  <div id="i-logo">
    <a href="${ reverse_url('instance:view', instance.id) }"><img src="${ instance.logo_url }" alt="Instance Logo" /></a>

    % if instance.status in [4, 5]:
    <div id="i-ip">
      <a href="${ instance.home_url(current_user) }" target="_blank">${ instance.ip }</a>
    </div>
    % endif

  </div>

  <div id="i-center-status">

    <div id="i-center-status-left">
      <img id="i-status-img" src="${ THEME_URL }icons/InstanceStatus/${ instance.status }.png"/>
      <div id="i-action">
	% if current_user and current_user.id == instance.user_id:

	% if instance.can_run:
	<span class="run"><a href="/instance/${ instance.id }/run" title="${ _('Run') }"><img src="${ THEME_URL }img/run-instance.png"/></a></span>
	% else:
	<span class="stop"><a href="/instance/${ instance.id }/stop" title="${ _('Stop') }"><img src="${ THEME_URL }img/shutdown-instance.png"/></a></span>
	% endif

	% endif
      </div>
    </div>

    <div id="i-status">
      <span id="job-status">
	<span id="job-id" style="display:none;"></span>
	<span id="job-status-value"></span>
	<span id="job-status-desc">${ instance.status_string }</span>
	% if JOB_RESULT:
	<span id="job-result">${ JOB_RESULT }</span>
	% endif
      </span> 
      % if instance.status == 245:
      <span class="query"><a href="/instance/${ instance.id }/query">${ _('Query') }</a></span>
      % endif
    </div>


  </div>



  <div id="i-baseinfo">
    <table>
      <tbody>
	% if instance.domain:
        <tr>
          <td class="c1">${ _("Domain") }</td>
          <td class="c2"><a href="${ instance.home_url(current_user) }" target="_blank">${ instance.domain }</a></td>
        </tr>
	% endif
        <tr>
          <td class="c1">${ _("Owner") }</td>
          <td class="c2"><a href="${ reverse_url('account:view', instance.user_id) }">${ instance.user.username }</a></td>
        </tr>
        <tr>
          <td class="c1">${ _("Appliance") }</td>
          <td class="c2"><a href="${ reverse_url('appliance:view', instance.appliance.id) }">${ instance.appliance.name }</a></td>
        </tr>
        <tr>
          <td class="c1">${ _("Create Time") }</td>
          <td class="c2">${ fulltime(instance.created) }</td>
        </tr>
        <tr>
          <td class="c1">${ _("Update Time") }</td>
          <td class="c2">${ fulltime(instance.updated) }</td>
        </tr>
      </tbody>
    </table>
  </div>

</div>

<div class="c"></div>

<div id="i-main" class="ly-box c">
  <div id="inst-sidebar">
    % if current_user and current_user.id == instance.user_id:
    <div id="admin-menu" class="island c">
      <div class="head" id="admin-config-tool"><img src="${ THEME_URL }img/settings.svg"/></div>
      <ul style="display:none;">
        <li><a class="current" href="/instance/${ instance.id }?view=baseinfo">${ _("Baseinfo") }</a></li>
        <li><a href="/instance/${ instance.id }?view=resource">${ _("Resource") }</a></li>
        <li><a href="/instance/${ instance.id }?view=network">${ _("Network") }</a></li>
        <li><a href="/instance/${ instance.id }?view=storage">${ _("Storage") }</a></li>
        <li><a href="/instance/${ instance.id }?view=secret">${ _("Secret") }</a></li>
        <li><a href="/instance/${ instance.id }?view=domain">${ _("Domain") }</a></li>
        <li><a href="/instance/${ instance.id }?view=webssh">${ _("WebSSH") }</a></li>
        <li><a href="/instance/${ instance.id }?view=delete">${ _("Delete") }</a></li>
        <li><a href="/instance/${ instance.id }?view=joblist">${ _("Job List") }</a></li>
      </ul>
    </div>
    % endif
  </div>
  <div id="inst-center">
    % if current_user and instance.ischanged and current_user.id == instance.user_id:
    <div class="ly-warning">${ _("Instance configuration has changed, please restart instance for new settings to be effective!") }</div>
    % endif
    <div id="admin-center" class="min-height-300">
      <%block name="maincenter"/>
    </div>
  </div>
</div>


<script type="text/javascript">
  InstanceControl();
  MenuClick();
  AdminMenuslide();
</script>

</%block>
