<%inherit file="/base.html"/>

<%block name="head">
<link rel="stylesheet" href="${THEME_URL}instance-view.css" />
<link rel="stylesheet" href="${THEME_URL}button.css" />
<script type="text/javascript" src="${ static_url('js/url.js') }"></script>
<script type="text/javascript" src="${ static_url('js/instance.js') }"></script>
<script type="text/javascript" src="${ static_url('js/check-instance-status.js') }"></script>

</%block>


<%block name="main">

<div class="inner-nav c">
  <ol>
    <li><a class="home" href="/">${ _("Home") }</a></li>
    <li><a href="/instance">${ _("Instances") }</a></li>
    <li><span>${ instance.name }</span></li>
  </ol>
</div>

<div class="ly-box c" id="instance-show-main">

  <ul>
    <li class="c1">
      <div id="iview-ilogo">
	<a href="${ reverse_url('instance:view', instance.id) }"><img src="${ instance.logourl }" /></a>
      </div>
    </li>

    <li class="c2">
      <div id="i-current-status">
	<img id="i-is-img" src="${ theme_url('icons/InstanceStatus/%s.png' % instance.status) }"/><span id="i-is-str">${ instance.status_string }</span><span style="display:none;" id="i-is">${ instance.status }</span>
      </div>
      <div id="i-domain">
	% if instance.domain:
	% if instance.is_running:
	<a href="${ instance.home_url(current_user) }" target="_blank">${ instance.domain }</a>
	% else:
	${ instance.domain }
	% endif
	% endif
      </div>
      <div id="i-ip">
	% if instance.work_ip:
	<a href="${ instance.home_url(current_user) }" target="_blank"><span id="lyinst-ip">${ instance.work_ip }</span></a>
	% endif
      </div>
    </li>
    
    <li class="c3">
      <table>
	<tbody>
          <tr>
            <td class="c1">${ _("Owner") }</td>
            <td class="c2"><a href="${ reverse_url('account:view', instance.user_id) }">${ instance.user.username }</a></td>
          </tr>
          <tr>
            <td class="c1">${ _("Appliance") }</td>
            <td class="c2"><a href="${ reverse_url('appliance:view', instance.appliance.id) }">${ instance.appliance.name }</a></td>
          </tr>
          <tr>
            <td class="c1">${ _("Create Time") }</td>
            <td class="c2">${ ftime(instance.created) }</td>
          </tr>
          <tr>
            <td class="c1">${ _("Update Time") }</td>
            <td class="c2">${ ftime(instance.updated)}</td>
          </tr>
	</tbody>
      </table>
    </li>
  </ul>
</div>

<div id="instance-status-show" class="island c">
  <ul>
    <li id="iview-inst-control-btn">
      % if (current_user and current_user.id == instance.user_id) or has_permission('admin'):
      % if instance.can_run:
      <a href="${ reverse_url('instance:control', instance.id) }?action=run"><img src="${ theme_url('img/run-instance.png') }"/></a>
      % elif instance.need_query:
      <a href="${ reverse_url('instance:control', instance.id) }?action=query"><img src="${ theme_url('img/query-instance.png') }"/></a>
      % else:
      <a href="${ reverse_url('instance:control', instance.id) }?action=stop"><img src="${ theme_url('img/stop-instance.png') }"/></a>
      % endif
      % endif
    </li>
    <li id="iview-inst-control-result" class="right">
      <span id="iview-task-result"></span>
      <span id="iview-task-lastjob">
	##	  ${ _("Recent Action") }
	##	  <span id="i-lastjob-id">${ instance.lastjob_id }</span> :
	<img class="little-status-img" id="i-js-img" src="${ theme_url('icons/JobStatus/%s' % instance.lastjob_imgurl) }" />
	<span id="i-js-str">${ instance.job_status_string }</span>
	<span id="i-js">${ instance.lastjob_status_id }</span>
      </span>
    </li>
  </ul>
</div>


<div class="c"></div>

<div id="i-main" class="ly-box c">
  <div id="inst-sidebar">
    % if current_user and current_user.id == instance.user_id:
    <div id="admin-menu" class="island c">
      <div class="head" id="admin-config-tool"><img src="${ THEME_URL }img/settings.png"/></div>
      <ul style="display:none;">
        <li><a class="current" href="/instance/${ instance.id }?view=baseinfo">${ _("Baseinfo") }</a></li>
        <li><a href="/instance/${ instance.id }?view=resource">${ _("Resource") }</a></li>
        <li><a href="/instance/${ instance.id }?view=network">${ _("Network") }</a></li>
        <li><a href="/instance/${ instance.id }?view=storage">${ _("Storage") }</a></li>
        <li><a href="/instance/${ instance.id }?view=secret">${ _("Secret") }</a></li>
        <li><a href="/instance/${ instance.id }?view=domain">${ _("Domain") }</a></li>
        <li><a href="/instance/${ instance.id }?view=webssh">${ _("WebSSH") }</a></li>
        <li><a href="/instance/${ instance.id }?view=delete">${ _("Delete") }</a></li>
        <li><a href="/instance/${ instance.id }?view=joblist">${ _("History") }</a></li>
      </ul>
    </div>
    % endif
  </div>
  <div id="inst-center">
    % if current_user and instance.ischanged and current_user.id == instance.user_id:
    <div class="ly-warning">${ _("Instance configuration has changed, please restart instance for new settings to be effective!") }</div>
    % endif
    <div id="admin-center" class="min-height-300">
      <%block name="maincenter"/>
    </div>
  </div>
</div>


<script type="text/javascript">
  $("html").data("inst_control_url", "${ reverse_url('instance:control', instance.id) }");
  $("html").data("inst_control_imgsrc", "${ theme_url('img/REPLACE-instance.png') }");

  InstanceControl();
  MenuClick();
  AdminMenuslide();
//  $("html").data("watch-instance-list", "[${ instance.id }]");
//  CheckInstanceStatus();
  $("html").data("job-running-img", "${ theme_url('icons/JobStatus/running.gif') }");
  $("html").data("instance-id", "${ instance.id }");
  SingleInstanceStatusUpdate();
</script>

</%block>
