<%inherit file="instance_base.html"/>

<%block name="main">

<div class="inner-navigator">
  <span><a href="/">${ _("Home") }</a></span>&gt;
  <span>${ _("View") } ${ instance.name }</span>
</div>

<div id="view-instance" class="main-wrap clearfix">

  <div class="logo">

    <a href="${ reverse_url('instance:view', instance.id) }"><img class="instance-logo" src="${ instance.logo_url }" alt="Instance Logo" /></a>

    <span class="status"><img src="${ THEME_URL }icons/InstanceStatus/${ instance.status }.png"  alt="Stauts Image"/></span>

    % if instance.status in [4, 5]:
    <span class="ip">
      <a href="${ instance.home_url }" target="_blank">${ instance.ip }</a>
    </span>
    % endif

    <div id="job-status">
      <span id="job-id" style="display:none;"></span>
      <span id="job-status-value"></span>
      <span id="job-status-desc"></span>
    </div>

  </div>

  <div class="base">
    <h2>${ instance.name }</h2>
    % if instance.summary:
    <p>${ instance.summary }</p>
    % endif

    <table>
      <tbody>
        <tr><td>${ _("Owner") }</td><td><a href="${ reverse_url('account:view', instance.user_id) }">${ instance.user.username }</a></td></tr>
        <tr><td>${ _("ID") }</td><td>${ instance.id }</td></tr>
        <tr><td>${ _("Appliance") }</td><td><a href="${ reverse_url('appliance:view', instance.appliance.id) }">${ instance.appliance.name }</a></td></tr>
        <tr><td>${ _("CPU numbers") }</td><td>${ instance.cpus }</td></tr>
        <tr><td>${ _("Memory") }</td><td>${ instance.memory }</td></tr>
        <tr><td>${ _("Create Time") }</td><td>${ fulltime(instance.created) }</tr>
        <tr><td>${ _("Update Time") }</td><td>${ fulltime(instance.updated) }</td></tr>
      </tbody>
    </table>

    <div class="action">
      % if current_user and current_user.id in [instance.user_id, 1]:

      % if instance.can_run:
      <span class="run"><a class="button" href="/instance/${ instance.id }/run">${ _("Run") }</a></span>
      % else:
      <span class="stop"><a class="button" href="/instance/${ instance.id }/stop">${ _("Stop") }</a></span>
      % endif

      % if instance.status == 245:
      <span class="query"><a class="button" href="/instance/${ instance.id }/query">${ _('Query') }</a></span>
      % endif

      <span class="edit"><a class="button" href="/instance/${ instance.id }/edit">${ _("Edit") }</a></span>
      <span class="delete"><a class="button" href="/instance/${ instance.id }/delete">${ _("Delete") }</a></span>
      % endif
    </div>

  </div>

</div>

% if instance.description:
<div class="main-wrap">
  <div class="ly-instance-description">
    ${ instance.description }
  </div>
</div>
% endif

<div class="main-wrap">
  % if JOB_LIST.count():
  <div class="ly-instance-job-list">
    <h2>${ _("Recently Job List") }</h2>
    <table class="list">
      <tbody>
        <tr>
          <th>${ _("Job ID") }</th>
          <th>${ _("User") }</th>
          <th>${ _("Action") }</th>
          <th>${ _("Result") }</th>
          <th>${ _("Start Time") }</th>
          <th>${ _("End Time") }</th>
        </tr>
        % for J in JOB_LIST:
        <tr>
          <td><span class="count">${ J.id }</span></td>
          <td><a href="${ reverse_url('account:view', J.user.id) }">${ J.user.username }</a></td>
          <td>${ J.action_string }</td>
          <td>${ J.status_string }</td>
          <td>${ fulltime(J.started) }</td>
          <td>${ fulltime(J.ended) }</td>
        </tr>
        % endfor
      </tbody>
    </table>

  </div>
  % endif
</div>

<script type="text/javascript">
  InstanceControl();
</script>

</%block>
