/*
body {
    background: url("../img/tiny_grid.png") repeat scroll 0 0 #E9E9E9;
    font: 13px/1.7em 'Open Sans';
}
*/

#main {
    -moz-box-sizing: border-box;
    background: none repeat scroll 0 0 #FFFFFF;
    border-radius: 4px 4px 4px 4px;
    box-shadow: 0 0 3px #C9C9C9;
    clear: both;
    display: block;
/*    float: left;*/
    margin: 10px auto 30px;
    padding: 20px;
    position: relative;

}

.navbar .brand {
    font-size: 16px;
}

#admin-instance-view .view-body {
	border-left: 1px solid #DEDEDE;
	padding-left: 15px;
}

textarea#description {
	height: 500px;
	width: 100%;
}
textarea#summary {
	width: 100%;
	height: 100px;
}

form button {
	margin-top: 20px;
}


/* Start Mulselect Style */
.ms2side__select select {
    height: 460px;
}
.ms2side__select, .ms2side__options {
    float: left;
}
.ms2side__options {
    width: 50px;
    text-align: center;
}
.ms2side__options p {
    border: 1px solid #EAEAEA;
    background-color: #FAFAFA;
    margin: 10px 5px;
    border-radius: 5px;
}
.ms2side__options p:hover {
    cursor: pointer; cursor: hand;
}
/* End Mulselect Style */