#screenshot-management .screenshot-add {
    margin: 30px 0;
    font-weight: bold;
    font-size: 16px;
}
#appliance-thumnails {
}
#appliance-thumnails .carousel {
    padding: 1px;
    border: 1px solid #DEDEDE;
    border-radius: 3px;
    width: 500px;
    height: 380px;
}
#appliance-thumnails img {
    height: 380px;
    width: 500px;
    border-radius: 3px;
}
#appliance-catalog-menu {
    margin: 5px 30px 15px;
}

#appliance-list {
}
#appliance-list .row-fluid {
	margin: 10px 0 30px;
}
#appliance-list .logo {
}
#appliance-list .appliance {
}
#appliance-list .app-left {
    text-align: center;
}
#appliance-list .app-left img {
	width: 100px;
	margin: 0px auto 10px;
}
#appliance-list .app-right {
    padding-top: 5px;
}
#appliance-list .name {
    font-weight: bold;
    font-size: 14px;
    color: #666;
}
#appliance-list a:hover {
    color: #D2543A;
    text-decoration: none;
}
#appliance-list .summary {
    color: #999;
    margin: 10px 0;
}
#appliance-list .appliance .row-fluid {
    margin: 0;
}

#appliance-view > .span8 {
	border-right: 1px solid #DEDEDE;
}


#create-instance-btn {
	margin: 10px 0;
}
#appliance-detail {
/*	margin: 30px 0;*/
}
#appliance-summary .logo {
	width: 120px;
/*	margin: 20px auto;*/
/*	margin: 15px auto 30px;*/
	margin-top: 10px;
}
#appliance-summary h2 {
	margin-bottom: 2px;
}
#appliance-summary .summary {
	padding: 15px 0;
}
#appliance-summary {
	padding: 15px 0 0;
	margin-bottom: 15px;
/*	border-bottom: 1px solid #DEDEDE;*/
}


#appliance-detail .dl-horizontal dt {
	width: 100px;
	text-align: left;
}
#appliance-detail .dl-horizontal dd {
	margin-left: 105px;
}
