#instance-list .instance .row-fluid {
/*    margin: 0;*/
}
#instance-list .the-select {
	padding: 0px 12px;
}
#instance-list .the-select select {
    width: 180px;
}
#instance-list .the-list {
	padding: 15px 0 30px;
}
#instance-list .logo {
	width: 98px;
	margin: 0 auto;
}
#instance-list .name {
	margin: 2px 0;
    font-weight: bold;
}
#instance-list .instance {
	position: relative;
	margin-bottom: 30px;
}
#instance-list .instance .logo {
/*	width: 80px;*/
}
#instance-list .instance .status {
	position: absolute;
	top: -8px;
	left: -3px;
}
#instance-list .summary {
    color: #666;
    margin: 10px 0;
}

#instance-view .name {
	margin-bottom: 2px;
}
#instance-view .logo {
	width: 120px;
	margin: 20px auto;
}
#instance-view .summary {
	margin: 15px 0 20px;
}