#myun-instance-view .view-body {
	border-left: 1px solid #DEDEDE;
	padding-left: 15px;
}

#instance-list .instance {
	border-bottom: 1px solid #DEDEDE;
	padding-bottom: 15px;
	margin-bottom: 20px;
}
#instance-list .name {
	margin: 2px 0;
}
#instance-list .summary {
	margin-bottom: 10px;
}


#main-tabs > li:first-child {
	padding-left: 38px;
}
#main-tab-content {
	padding-left: 42px;
	padding-right: 42px;
}
/*
#my-instance-view .the-head {
	padding: 20px;
	margin-bottom: 30px;
}
#my-instance-view .the-head .logo {
	width: 128px;
	margin-top: 20px;
}
#my-instance-view .the-head dl {
	margin-top: 15px;
	margin-bottom: 0px;
}
#my-instance-view .the-head dt {
	color: #3399CC;
}
*/
#instance-life-control-btn {
	margin: 10px auto;
}
#i-js-img img {
	width: 16px;
	height: 16px;
	margin: -2px 6px 0;
}
#instance-life-control-btn i {
	cursor: pointer; cursor: hand; 
}
#instance-create-form .app-logo {
	width: 136px;
	height: 136px;
}
