.bg {
    background: none repeat scroll 0 0 #FFFFFF;
}

.wrapper {
    -moz-box-sizing: border-box;
    background: none repeat scroll 0 0 #FFFFFF;
    border-radius: 4px 4px 4px 4px;
    box-shadow: 0 0 3px #C9C9C9;
    clear: both;
    display: block;
    margin: 10px 0 30px;
    padding-bottom: 20px;
    position: relative;
    width: 100%;
}

/* Tab style */

#scrollUp {
    background: url("../img/top.png") no-repeat scroll 0 0 transparent;
    bottom: 20px;
    height: 108px;
    right: 38px;
    width: 38px;
}

.doc4 {
	width: 980px;
	margin: 0 auto;
}
.doc4.container-fluid {
/*	padding: 0;*/
}
body {
/*	background-color: #F7F7F7;*/
/*    background: url("../img/mainBg.gif");*/
	background: url("../img/body_bg.jpg");
	padding-top: 58px;
	color: #1A1A1A;
    font: 14px/1.7 "Microsoft Yahei","Helvetica Neue","Luxi Sans","DejaVu Sans",Tahoma,"Hiragino Sans GB",STHeiti !important;
}
#main {
/*	margin-top: 68px;*/
}
#footer {
    margin-top: 70px;
    padding-top: 30px;
    color: #999;
/*    text-align: center;*/
    font-weight: bold;
    padding-bottom: 50px;
    position: relative;
    z-index: 3;

    background: none repeat scroll 0 0 #323232;
}
#footer a {
	color: #FFF;
}

#footer .powered {
	margin-top: 20px;
	padding-top: 20px;
	border-top: 1px solid #444;
}
.site-logo {
	margin: 8px 0;
}

.site-language {
}
select.site-language-select {
	width: auto;
}

#searchbox {
	margin-bottom: 0;
/*	padding-top: 10px;*/
}
#searchbox .control-group {
	margin-bottom: 0;
}

.min-height600 {
    height:auto !important;
    height:600px;
    min-height:600px;
}

.decorate-box {
	margin-bottom: 25px;
	color: #666666;
}
.decorate-box .head {
    background: repeat-x scroll right bottom #FAF9F6;
    border: 1px solid #ECEADB;
    width: 196px;
}
.decorate-box .head h4 {
    color: #996633;
    font: bold 13px/15px Verdana,Arial,sans-serif;
    margin: 7px 10px 8px;
}
.decorate-box .body {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background-color: #F7F7F7;
    border-color: -moz-use-text-color #ECEADB #ECEADB;
    border-image: none;
    border-right: 1px solid #ECEADB;
    border-style: none solid solid;
    border-width: 0 1px 1px;
    font: 11px Verdana,Arial,sans-serif;
    margin-left: 1px;
    width: 194px;
}
.decorate-box .body ul {
    margin: 0;
    padding: 0 10px;
}
.decorate-box .summary {
	padding: 15px 8px;
}

/* Start Markdown Style */
.markdown h1 {
	font-size: 16px;
}
h1 {
	font-size: 22px;
	color: #0C2F68;
	margin: 20px 0 15px;
}
h2 {
    font-size: 18px;
    color: #0C2F68;
}
h3 {
    font-size: 16px;
}

.markdown .row-fluid {
	margin: 60px 0;
}
.markdown .subtitle {
	font-size: 16px;
}
.markdown .count {
    color: #BBBBBB;
    font: italic bold 38px/28px Georgia,Serif;
    margin: 0 10px 0 0;
}
/* End Markdown Style */
.site-article h1 {
	font-size: 16px;
}

/* Start Custom Bootstrap */
.hero-unit {
	background-color: #FCFCFC;
	border: 1px solid #ECEADB;
	padding-bottom: 80px;
}

.thumbnail {
/*	background-color: #FFF;*/
}
/* End Custom Bootstrap */


.admin-pie1 {
	height: 300px;
	border-radius: 5px;
	border: 1px solid #ECEADB;
}

.subnav.affix {
    border-color: #D5D5D5;
    border-radius: 0 0 0 0;
    border-width: 0 0 1px;
    box-shadow: 0 1px 0 #FFFFFF inset, 0 1px 5px rgba(0, 0, 0, 0.1);
    left: 0;
    position: fixed;
    right: 0;
    top: 40px;
    z-index: 1020;
	background-color: #FCFCFC;
}
.subnav.affix .nav {
	margin-bottom: 2px;
}

.kvtable th {
	text-align: left;
	padding-right: 20px;
}


/**
 * Start sidebar menu
 * http://www.oschina.net/p/bootstrap-menu
 */
.sidebar-menu{
	border-right: 1px solid #c4c8cb;
}
.menu-first{
	height:45px;
	line-height:45px;
	background-color: #e9e9e9;
	border-top: 1px solid #efefef;
	border-bottom: 1px solid #e1e1e1;
	padding: 0;
	font-size: 14px;
	font-weight: normal;
	text-align: center;
}
.menu-first:hover{
	text-decoration: none;
	background-color: #d6d4d5;
	border-top: 1px solid #b7b7b7;
	border-bottom: 1px solid #acacac;
}
.menu-second li a{
	background-color: #f6f6f6;
	height:31px;
	line-height:31px;
	border-top: 1px solid #efefef;
	border-bottom: 1px solid #efefef;
	font-size: 12px;
/*	text-align:center;*/
}
.menu-second li a:hover {
	text-decoration: none;
	background-color: #66c3ec;
	border-top: 1px solid #83ceed;
	border-bottom: 1px solid #83ceed;
	border-right: 3px solid #f8881c;
	border-left: 3px solid #66c3ec;
}
.menu-second-selected {
	background-color: #66c3ec;
	height:31px;
	line-height:31px;
	border-top: 1px solid #83ceed;
	border-bottom: 1px solid #83ceed;
	border-right: 3px solid #f8881c;
	border-left: 3px solid #66c3ec;
	text-align:center;
}
/*
.nav-list,.nav-list li a{
	padding: 0px;
	margin: 0px;
}*/
/* End sidebar menu */

/*
.nav-list {
	border: 1px solid #D6D4D5;
}
.nav-list .nav-header {
	background-color: #f6f6f6;
}
*/
#header .navbar-inner {
/*
    background-color: #CCC;
    background-image: linear-gradient(to bottom, #FFFFFF, #CCC);
    background-repeat: repeat-x;
*/
}
#header li {
	line-height: 20px;
}
#header .brand {
	line-height: 20px;
}
.breadcrumb {
	background-color: #FFF;
	padding: 15px 10px;
    border-bottom: 1px solid #DFDCD9;
    margin-bottom: 20px;
	border-radius: 5px 5px 0px 0px;
}

/* Start common style */
.pointer { cursor: pointer; cursor: hand; }
.y-checkarea {
/*	-moz-user-select: none; */
}
.y-check, .y-check-all {
	cursor: pointer; cursor: hand; 
}
a {
	outline:none;
	blr:expression(this.onFocus=this.blur()); /* for IE6, IE7 */
}
a:active {
	outline:none;
	blr:expression(this.onFocus=this.blur());
}
/* End common style */


.ly-item-title {
	border: 1px solid #D9D9D9;
	border-left: 3px solid #529056;
	border-radius: 3px;
	padding: 6px 12px;
	background-color: #F2F2F2;
	font-weight: bold;
}
.ly-item-title a {
	float: right;
}
.ly-item-body {
	margin: 30px 0 50px 0;
}

.ly-box {
	border-radius: 5px;
	border: 1px solid #DFDFDF;
	padding: 5px;
}

.ly-count {
	font: italic bold 28px/22px Georgia,Serif;
	color: #999;
}

.ly-logo-large {
	width: 120px;
	height: 120px;
}

.ly-slider {
	margin: 10px 0;
	width: 200px;
}


/* Start ly notification style */
#ly-notification-large {
/*	padding: 50px 120px 100px;*/
}
.notification-title {
	margin: 30px 0 40px;
	font-size: 22px;
	color: #CC0000;
	border-bottom: 1px solid #EAEAEA;
	margin-bottom: 80px;
	padding-bottom: 20px;
}
.notification-title img {
	width: 48px;
	height: 48px;
}
.notification-body {
	margin: 30px 50px 50px;
}
.notification-help {
	border-top: 1px solid #EAEAEA;
	margin-top: 80px;
	padding-top: 20px;
}
#ly-notification-large .subtitle {
	margin-bottom: 15px;
	font-weight: bold;
	color: #666;
}
/* End ly notification style */

#site-notice-base {
	padding: 50px 80px 100px;
}

