<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<!--[if lt IE 9]>
<script src="/static/third/html5.js?v=0.6"></script>
<![endif]-->
    <link rel="SHORTCUT ICON" href="/static/favicon.ico?v=0.6" />
##	<link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.min.css" rel="stylesheet">
##	<link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.no-icons.min.css" rel="stylesheet">
##	<link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.min.css" rel="stylesheet">
    <link type="text/css" rel="stylesheet" href="/static/third/bootstrap/css/bootstrap.min.css?v=2.3.2" media="screen" />
    <link type="text/css" rel="stylesheet" href="/static/third/bootstrap/css/bootstrap-responsive.min.css?v=2.3.2" />
    <link type="text/css" rel="stylesheet" href="/static/third/font-awesome/css/font-awesome.min.css?v=3.1.0" media="screen" />
    <link type="text/css" rel="stylesheet" href="/static/third/css/jquery-ui-1.10.0.custom.css?v=1.10.0" />
<!--[if IE 7]>
##    <link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome-ie7.min.css" rel="stylesheet">
    <link type="text/css" rel="stylesheet" href="/static/third/font-awesome/css/font-awesome-ie7.min.css?v=3.1.0" />
<![endif]-->
<!--[if lt IE 9]>
    <link type="text/css" rel="stylesheet" type="text/css" href="/static/third/css/jquery.ui.1.10.0.ie.css" />
<![endif]-->
    <link type="text/css" rel="stylesheet" href="${ theme_url('css/site.css') }" />
    <%block name="head"/>
    <title>${ _(title) } - ${ _("LuoYunCloud OpenSource Cloud Platform") }</title>
  </head>

  <body>
##    <script type="text/javascript" src="/static/third/json2.js?v=20101018"></script>
    <script type="text/javascript" src="/static/third/jquery-1.9.1.min.js?v=1.9.1"></script>
    <script type="text/javascript" src="/static/third/jquery-migrate-1.2.1.min.js?v=1.2.1"></script>
    <script type="text/javascript" src="/static/third/bootstrap/js/bootstrap.min.js?v=2.3.2"></script>
##	<script src="http://code.jquery.com/jquery-1.10.1.min.js"></script>
##	<script src="http://code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
##	<script src="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/js/bootstrap.min.js"></script>
	<script type="text/javascript" src="/static/third/jquery-ui-1.10.0.custom.min.js?v=1.10.0"></script>
    <script type="text/javascript" src="${ theme_url('js/site.js') }"></script>

    <div id="header" class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="doc4">
          <a href="/" class="brand">${ _("LYC") }<sup>0.6.3</sup></a>
          <ul role="navigation" class="nav site-menu">
			<li class="active"><a href="/"><i class="icon-home icon-large"></i> ${ _("Home") }</a></li>
			<li><a href="/appliance"><i class="icon-globe icon-large"></i> ${ _("Appliance") }</a></li>
			<li><a href="/instance"><i class="icon-hdd icon-large"></i> ${ _("Instance") }</a></li>
			<li><a href="/myun"><i class="icon-cloud icon-large"></i> ${ _("My LuoYun") }</a></li>
			<li><a href="/forum"><i class="icon-group icon-large"></i> ${ _("Community") }</a></li>
          </ul>

          <ul class="nav pull-right">
			% if current_user:
            <li class="dropdown" id="fat-menu">
              <a data-toggle="dropdown" class="dropdown-toggle" role="button" id="drop2" href="#"><i class="icon-user icon-large"></i> ${ current_user.username }
				%if current_user.notice:
				( ${ current_user.notice } )
				%endif
				<b class="caret"></b></a>
              <ul aria-labelledby="drop2" role="menu" class="dropdown-menu">
				<li role="presentation"><a href="/account" tabindex="-1" role="menuitem"><i class="icon-wrench"></i> ${ _("My Account") }</a></li>
				<li role="presentation"><a href="${ reverse_url('message:inbox') }" tabindex="-1" role="menuitem"><i class="icon-inbox"></i> ${ _("Inbox") }</a></li>
				% if has_permission('admin'):
				<li role="presentation"><a href="/admin" tabindex="-1" role="menuitem"><i class="icon-dashboard"></i> ${ _("Admin Console") }</a></li>
				% endif
				<li role="presentation"><a href="/logout" tabindex="-1" role="menuitem"><i class="icon-download-alt"></i> ${ _("Logout") }</a></li>
              </ul>
            </li>
			% else:
            <li><a href="/login"><i class="icon-user"></i> ${ _("Sign In") }</a></li>
            <li><a href="/register"><i class="icon-cloud-upload"></i> ${ _("Register") }</a></li>
			% endif
          </ul><!-- /pull-right -->
        </div>
      </div>
    </div>

    <div id="main">
	  <%block name="main"/>
    </div>

    <div id="footer">
      <div id="footer-wrap" class="doc4">
		<div class="row-fluid">
		  <div class="span5">
			<h3>${ _("LuoYunCloud") }</h3>
			<p>${ _("LuoYunCloud is a open source software for cloud computing. It can help you to setup your own platform easily.") }</p>
		  </div>
		  <div class="span3">
			<h3>${ _("About US") }</h3>
			<ul>
			  <li><a href="http://www.luoyun.co">${ _("Home") }</a></li>
			  <li><a href="http://www.luoyun.co/about">${ _("About") }</a></li>
			  <li><a href="http://www.luoyun.co/contact">${ _("Contact") }</a></li>
			</ul>
		  </div>
		  <div class="span4 site-language">
			<h3>${ _("Select Your Language") }</h3>
			<select class="site-language-select">
			  % for code in LANGUAGES:
			  <option value="${ code }">${ LANGUAGES[code] }</option>
			  % endfor
			</select>
		  </div>
		</div>

		<div class="powered">
		  <p>${ _("Powered by") }
			<a href="http://www.luoyun.co" target="_blank">${ _("LuoYun") }</a></p>
		</div>
	  </div>
    </div>

	<script type="text/javascript">
      $(function () {
        $.scrollUp({
          scrollText: '',
        });
      });
	  binding_site_language_select( "${ locale.code }" );
	</script>

  </body>
</html>
