<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">

  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link rel="SHORTCUT ICON" href="${ STATIC_URL }favicon.ico" />
    <link rel="stylesheet" href="${ THEME_URL }luoyun.css" />
    <link rel="stylesheet" href="${ STATIC_URL }js/qtip/jquery.qtip.css" />
    <script type="text/javascript" src="${ STATIC_URL }js/jquery-1.7.min.js"></script>
    <script type="text/javascript" src="${ STATIC_URL }js/qtip/jquery.qtip.js"></script>
    <script type="text/javascript" src="${ STATIC_URL }js/luoyun.js"></script>
    <%block name="head"/>
    <title>
% if title:
${ title }
% else:
LuoYun
% endif
</title>
  </head>

  <body>

    <div id="pager">

      <div id="header">
        <div id="header-wrap">
          <div id="logo">
            <a href="/"><img src="${ STATIC_URL }image/logo_white_42.png" /></a>
          </div>
          <div id="navigator">
            <ul>
              <li><a href="/appliance">${ _("Appliance") }</a></li>
              <li><a href="/instance">${ _("Instance") }</a></li>
              % if current_user:
	      <li><a href="${ reverse_url('myun:index') }">${ _("My LuoYun") }</a></li>
	      % endif
              % if has_permission('admin'):
              <li><a href="/admin">${ _("Management") }</a></li>
              % endif
            </ul>
          </div>

          <div id="login">
            %if current_user:
            <span id="my-profile-enter"><a href="${ reverse_url('account:index') }">${ current_user.username }</a></span>
	    <span id="my-message-enter"><a href="${ reverse_url('message:inbox') }">${ _("Inbox") }<span class="inbox-count">${ current_user.profile.notification }</span></a></span>
            <span class="logout"><a href="${ reverse_url('logout') }"><img src="${ THEME_URL }img/logout.svg" alt="${ _('Sign Out') }" /></a></span>
            %else:
            <span class="login"><a href="${ reverse_url('login') }">${ _("Sign In") }</a></span>
            <span class="register"><a href="${ reverse_url('register') }">${ _("Register") }</a></span>
            %endif
          </div>

        </div>
      </div>

      <div id="main" class="luoyun-min-height">
        <%block name="main"/>
        <div id="lyentry">
          <%block name="lyentry"/>
        </div>
      </div>

      <div id="footer">
        <div id="footer-wrap">
          <span id="powered-by"><span class="text">${ _("Powered by") }</span><a href="http://www.luoyun.co" target="_blank">${ _("LuoYun") }</a></span>

          <span id="select-language">
            % if locale.code == 'en_US':
            <img src="${ THEME_URL }img/zh_CN.png" />
            <a href="/i18n/setlang?language=zh_CN&next=${ request.uri }">${ u"\u4e2d\u6587(\u7b80\u4f53)" }</a>
            % else:
            <img src="${ THEME_URL }img/en_US.png" />
            <a href="/i18n/setlang?language=en_US&next=${ request.uri }">English</a>
            % endif
          </span>
        </div>
      </div>

  </div>

  <script type="text/javascript">
    lySetCurrentNavigator();
    $('a.qtiplink').qtip({ style: { classes: 'ui-tooltip-youtube' } })
  </script>

  </body>
</html>
