<%inherit file="index_base.html"/>

<%block name="subsubmain">

% if VOTE_LIST:

<ul class="nav nav-pills">
  <li><a href="?tab=topics">${ _("Newest Topics") }</a></li>
  <li class="active"><a href="?tab=topic_votes">${ _("Votes") }</a></li>
</ul>

<div id="forum-topic-list">
  <table class="table table-striped">
    <tbody>
      % for V in VOTE_LIST:
      <tr>
        <td>${ htime(V.created) }</td>
        <td><a href="${ reverse_url('user:view') }?id=${ V.user_id }">${ V.user.username }</a></td>
        <td>
          % if V.value > 0:
          <i class="icon-thumbs-up"></i> ${ _("ding") }
          % else:
          <i class="icon-thumbs-down"></i> ${ _("cai") }
          % endif
        </td>
        <td><a href="${ reverse_url('user:view') }?id=${ V.topic.user_id }">${ V.topic.user.username }</a></td>
        <td><a href="${ reverse_url('forum:topic:view') }?id=${ V.topic_id }">${ V.topic.name }</a></td>
      </tr>
      % endfor
    </tbody>
  </table>
  ${ page_html }
</div>

% else:
<div class="hero-unit">${ _("No votes yet.") }</div>
% endif

<script type="text/javascript">
  just_active_myself('.index-tabs .tab-topics');
</script>
</%block>
