## coding: utf-8
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">

  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link rel="SHORTCUT ICON" href="${ STATIC_URL }favicon.ico" />
    <link rel="stylesheet" href="${ THEME_URL }luoyun.css" />
    <link rel="stylesheet" href="${ STATIC_URL }js/qtip/jquery.qtip.css" />
    <script type="text/javascript" src="${ STATIC_URL }js/jquery-1.7.min.js"></script>
    <script type="text/javascript" src="${ STATIC_URL }js/qtip/jquery.qtip.js"></script>
    <script type="text/javascript" src="${ STATIC_URL }js/luoyun.js"></script>
    <%block name="head"/>
    <title>
% if title:
${ title }
% else:
LuoYun
% endif
</title>
  </head>

  <body>
<%doc>
    <noscript><p class="nojs">${ _("Sorry, your browser does not support JavaScript!") }</p></noscript>
</%doc>

    <div id="pager">

      <div id="header">
        <div id="header-wrapper">
          <div id="logo">
            <a href="/"><img src="${ STATIC_URL }image/logo.png" /></a>
          </div>
          <div id="welcome-info">
            ${ _("LuoYun") }
          </div>
          <div id="navigator">
            <ul>
              <li><a href="/">${ _("Home") }</a></li>
              <li><a href="/appliance">${ _("Appliances") }</a></li>
##              <li><a href="/instance">${ _("Instances") }</a></li>
              <li><a href="/wiki">${ _("Wiki") }</a></li>
##              <li><a href="/system">${ _("System Status") }</a></li>
              % if current_user and current_user.id == 1:
##              <li><a href="/admin">${ _("Administration") }</a></li>
              % endif
            </ul>
          </div>

          <div id="login">
            %if current_user:
            %if current_user.id == 1:
            <span><a href="/admin">${ _("Management") }</a></span>
            %endif
            <span class="user"><a href="/account/profile">${ current_user.username }</a></span>
            <span class="logout"><a href="/account/logout">${ _("Sign Out") }</a></span>
            %else:
            <span class="login"><a href="/account/login">${ _("Sign In") }</a></span>
            <span class="register"><a href="/account/register">${ _("Register") }</a></span>
            %endif
          </div>


          <div id="select-language">
            <form action="/i18n/setlang" method="post">
              <select name="language" style="display: none;">
                % for lang in LANGUAGES:
                <option value="${ lang[0] }"
                        % if lang[0] != locale.code:
                        selected="selected"
                        % endif
                        >${ lang[1] }</option>
                % endfor
              </select>
              <input type="submit" value=
                     % if locale.code == 'zh_CN':
                     "English"
                     % else:
                     "简体中文"
                     % endif
                     />
            </form>
          </div>
        </div>
      </div>

      <div id="main">
        <%block name="main"/>
        <div id="lyentry">
          <%block name="lyentry"/>
        </div>
      </div>

      <div id="footer">
        <span class="copyright">${ _("Copyright") } &copy <a href="http://www.luoyun.co">${ _("LuoYun Inc.") }</a></span>
        <span class="about"><a href="/about">${ _("About") }</a></span>
        <span class="contact"><a href="/contact">${ _("Contact") }</a></span>
        <span class="request_time">${ request.request_time() }</span>
      </div>

  </div>

  <script type="text/javascript">
    lySetCurrentNavigator();
    $('a.qtiplink').qtip({ style: { classes: 'ui-tooltip-youtube' } })
  </script>

  </body>
</html>
