<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>${ _("LuoYunCloud Notice") }</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  </head>
  <body style="margin: 0; padding: 0;">
    <table border="0" cellpadding="0" cellspacing="0" width="100%">
      <tr>
        <td style="padding: 10px 0 30px 0;">
          <table align="center" border="0" cellpadding="0" cellspacing="0" width="600">
            <tr>
              <td bgcolor="#294e7a" style="padding: 30px 30px 20px 30px; color: #FFF; font-size: 20px; font-weight: bold; font-family: Arial, sans-serif; border-radius: 8px 8px 0 0; border-bottom: 4px solid #4fb0dd;">
                ${ _("LuoYunCloud Community") }
              </td>
            </tr>
            <tr>
              <td bgcolor="#ffffff" style="padding: 30px 30px 20px 30px; border-left: 1px solid #ccc; border-right: 1px solid #ccc;">
                <table border="0" cellpadding="0" cellspacing="0" width="100%">
                  <tr>
                    <td style="color: #00105f; font-family: Arial, sans-serif; font-size: 18px; padding-bottom: 10px; border-bottom: 1px dotted #ccc; margin-bottom: 20px;">
                      % if subject:
                      ${ subject }
                      % else:
                      ${ _("LuoYunCloud System Notice") }
                      % endif
                    </td>
                  </tr>
                  <tr>
                    <td style="padding: 10px 0 10px 0; color: #153643; font-family: Arial, sans-serif; font-size: 16px; line-height: 20px;">
                      ${ _("Hi, ") } ${ username }
                    </td>
                  </tr>
                  <tr>
                    <td style="padding: 10px 0 10px 0; color: #153643; font-family: Arial, sans-serif; font-size: 16px; line-height: 20px;">
                      ${ BODY_HTML }
                    </td>
                  </tr>
                </table>
              </td>
            </tr>
            <tr>
              <td style="padding: 0px 30px 30px 30px; border-radius: 0 0 2px 2px; border-left: 1px solid #ccc; border-right: 1px solid #ccc; border-bottom: 8px solid #d1d1d1;">
                <table border="0" cellpadding="0" cellspacing="0" width="100%">
                  <tr><td style="padding: 0px 0 10px 0; color: #153643; font-family: Arial, sans-serif; font-size: 14px;">${ _("All the best,") }</td></tr>
                  <tr><td style="color: #153643; font-family: Arial, sans-serif; font-size: 14px;">${ _("LuoYunCloud Support Team") }</td></tr>
                  <tr>
                    <td style="padding: 20px 0 20px 0; color: #666; font-family: Arial, sans-serif; font-size: 14px;" width="60%">
                      <table border="0" cellpadding="0" cellspacing="0">
                        <tbody>
                          <tr>
                            <td style="text-align: right; padding: 2px 10px 2px 0; font-weight: bold; font-size: 14px; color: #666;">${ _("Phone") }</td>
                            <td style="color: #666">022-58389682</td>
                          </tr>
                          <tr>
                            <td style="text-align: right; padding: 2px 10px 2px 0; font-weight: bold; font-size: 14px; color: #666;">${ _("Email") }</td>
                            <td><a href="mailto:contact@luoyun.co">contact@luoyun.co</a></td>
                          </tr>
                          <tr>
                            <td style="text-align: right; padding: 2px 10px 2px 0; font-weight: bold; font-size: 14px; color: #666;">${ _("Website") }</td>
                            <td><a href="http://www.luoyun.co">www.luoyun.co</a></td>
                          </tr>
                        </tbody>
                      </table>
                    </td>
                  </tr>
                  <tr>
                    <td style="color: #666; font-family: Arial, sans-serif; font-size: 14px;" width="55%">
                      <span style="font-size: 16px;">&reg;</span> <a href="http://www.luoyun.co">LuoYun.CO</a> 2013<br/>
                    </td>
                    <td align="right" width="45%">
                      <table border="0" cellpadding="0" cellspacing="0">
                        <tr>
                          <td style="font-family: Arial, sans-serif; font-size: 12px; font-weight: bold;">
                            ${ _("Visit ") } <a href="http://www.luoyun.co/" style="color: #666;">${ _("Our Home") }</a>
                          </td>
                        </tr>
                      </table>
                    </td>
                  </tr>
                </table>
              </td>
            </tr>
          </table>
        </td>
      </tr>
    </table>
  </body>
</html>
