<%inherit file="../admin_base.html"/>

<%block name="subhead">
<link rel="stylesheet" href="${ theme_url('css/admin-network.css') }" />
</%block>

<%block name="main">

<div class="subnav">
  <div class="container">
    <ul class="nav nav-pills">
      <li><a href="${ reverse_url('admin:network') }">${ _("Network") }</a></li>
      <li><a href="${ reverse_url('admin:network:ippool') }">${ _("IP") }</a></li>
      <li><a href="${ reverse_url('admin:network:gateway') }">${ _("Gateway") }</a></li>
      <li><a href="${ reverse_url('admin:network:portmapping') }">${ _("Port Mapping") }</a></li>
    </ul>
  </div>
</div>

<ul class="breadcrumb">
  <li><a href="/admin"><i class="icon-home"></i> ${ _("Admin") }</a> <span class="divider">/</span></li>
  <li><a href="${ reverse_url('admin:network') }">${ _("Network") }</a> <span class="divider">/</span></li>
  <%block name="innav"/>
</ul>

<%block name="submain"/>
</%block>
