<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">

  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link rel="SHORTCUT ICON" href="${ static_url('favicon.ico') }" />
    <link rel="stylesheet" href="${ theme_url('common.css') }" />
    <link rel="stylesheet" href="${ theme_url('button.css') }" />
    <link rel="stylesheet" href="${ theme_url('table.css') }" />
    <link rel="stylesheet" href="${ theme_url('admin-main.css') }" />
    <script type="text/javascript" src="${ static_url('js/json2.js') }"></script>
    <script type="text/javascript" src="${ static_url('js/jquery-1.7.min.js') }"></script>
    <script type="text/javascript" src="${ static_url('js/jquery-ui/js/jquery-ui-1.9.1.custom.min.js') }"></script>
    <script type="text/javascript" src="${ static_url('js/luoyun.js') }"></script>
    <link rel="stylesheet" href="${ static_url('js/jquery-ui/css/redmond/jquery-ui-1.9.1.custom.min.css') }" />

    <script type="text/javascript" src="${ static_url('js/admin.js') }"></script>
    <link rel="stylesheet" href="${ static_url('js/jquery.multiselect2side/css/jquery.multiselect2side.css') }" />
    <script type="text/javascript" src="${ static_url('js/jquery.multiselect2side/js/jquery.multiselect2side.js') }"></script>
    <script type="text/javascript" src="${ static_url('js/jquery.blockUI.js') }"></script>

    <link rel="stylesheet" href="${ static_url('js/notify/ui.notify.css') }" />
    <script type="text/javascript" src="${ static_url('js/notify/jquery.notify.js') }"></script>
    <script>
      $(function() {
          $( document ).tooltip({track: true, items: "img[alt], a[title], input[title], div[title], span[title]"});
      });
    </script>
    <%block name="subhead" />

    <title>
% if title:
${ title } -
% endif
${ _("LuoYunCloud Admin Console") }
</title>
  </head>

  <body>

    <div id="pager">

      <div id="header">
        <div id="logo">
          <a href="/"><img src="${ static_url('image/logo_white_42.png') }" /></a>
	  <ul class="vmenu hide" style="display:none;">
	    <li><a href="/">${ _("Home") }</a></li>
	    <li><a href="/appliance">${ _("Appliance") }</a></li>
	    <li><a href="/instance">${ _("Instance") }</a></li>
	    <li><a href="/myun">${ _("My LuoYun") }</a></li>
	    <li><a href="/wiki">${ _("FAQ") }</a></li>
	    <li><a href="/admin">${ _("Admin") }</a></li>
	  </ul>
        </div>
        <div id="admin-menu">
          <ul class="hmenu">
	    <li><a class="current" href="/admin">${ _("Admin") }</a></li>
            <li><a class="account-entry" href="${ reverse_url('admin:user') }">${ _("Account") }</a></li>
            <li><a class="appliance-entry" href="${ reverse_url('admin:appliance') }">${ _("Appliance") }</a></li>
            <li><a class="instance-entry" href="${ reverse_url('admin:instance') }">${ _("Instance") }</a></li>
            <li><a class="node-entry" href="${ reverse_url('admin:node') }">${ _("Node") }</a></li>
            <li><a class="system-entry" href="${ reverse_url('system') }">${ _("System") }</a></li>
          </ul>
        </div>

	<div id="right-menu">
	  <ul class="hmenu">
	    <li><a href="${ reverse_url('account:index') }">${ current_user.username }</a></li>
	    <li><a href="${ reverse_url('message:inbox') }">${ _("Inbox") }<span class="inbox-count">${ current_user.profile.notification }</span></a></li>
	    <li><a id="logout" href="${ reverse_url('logout') }" title="${ _('Logout') }"><img src="${ theme_url('img/logout.png') }" alt="${ _('Sign Out') }" /></a></li>
	  </ul>
	</div>

      </div>

      <div id="submenu"><%block name="submenu"/></div>

      <div id="main" class="luoyun-min-height">
	<div class="inner-nav">
	  <ol>
	    <li><a class="home" href="/">${ _("Home") }</a></li>
	    <li><a href="${ reverse_url('admin:index') }">${ _("Admin") }</a></li>
	    <%block name="innav"/>
	  </ol>
	</div>
	<div id="ly-admin"><%block name="content"/></div>
      </div>

      <div id="footer">
        <div id="footer-wrap">
          <span id="powered-by"><span class="text">${ _("Powered by") }</span><a href="http://www.luoyun.co" target="_blank">${ _("LuoYun") }</a></span>

          <span id="select-language">
            % if locale.code == 'en_US':
            <img src="${ theme_url('img/zh_CN.png') }" />
            <a href="/i18n/setlang?language=zh_CN&next=${ request.uri }">${ u"\u4e2d\u6587(\u7b80\u4f53)" }</a>
            % else:
            <img src="${ theme_url('img/en_US.png') }" />
            <a href="/i18n/setlang?language=en_US&next=${ request.uri }">English</a>
            % endif
          </span>
        </div>
      </div>

    </div>

    <div id="gotop" style="display: none;">${ _("Go TOP") }</div>

  <script type="text/javascript">
//    lySetCurrentNavigator();
//    BackTop('gotop');
    setCurrent();
    showHide( "#logo" );
  </script>

  </body>
</html>
