<%inherit file="admin_base.html"/>

<%block name="sidemain">

<p>LuoYun Admin Management Console</p>

<div class="info-list">

  <table class="kvlist">
    <tbody>
      <tr>
        <td class="c1">${ _("Appliance") }</td>
        <td class="c2">${ TOTAL_APPLIANCE }</td>
      </tr>
      <tr>
        <td class="c1">${ _("Instance") }</td>
        <td class="c2">${ RUNNING_INSTANCE }/${ TOTAL_INSTANCE }</td>
      </tr>
      <tr>
        <td class="c1">${ _("CPUs") }</td>
        <td class="c2">${ TOTAL_CPU }</td>
      </tr>
      <tr>
        <td class="c1">${ _("Memory(MB)") }</td>
        <td class="c2">${ USED_MEMORY }/${ TOTAL_MEMORY }</td>
      </tr>
    </tbody>
  </table>

</div>


</%block>
