<%inherit file="admin_base.html" />

<%block name="main">

<div class="main-wrap">
  <div class="inner-navigator">
    <span><a href="/">${ _("Home") }</a></span>&gt;
    <span><a href="/admin">${ _("Admin") }</a></span>&gt;
    <span><a href="/admin/user">${ _("User") }</a></span>
  </div>
</div>



<div class="main-wrap admin-user-list">
  <table>
    <tbody>
      % for U in USER_LIST:
      <tr>
        <td><span class="count">${ U.id }</span></td>
        <td><a href="/account/${ U.id }">${ U.username }</a></td>
        <td><a href="/account/${ U.id }/reset_password">${ _("reset password") }</a></td>
      </tr>
      % endfor
    </tbody>
  </table>
</div>


<div class="main-wrap">
  <p>
    <a class="button" href="/account/create">${ _("Create Account") }</a>
  <p>
</div>

</%block>
