<%inherit file="instance_base.html"/>

<%block name="lymain">

<div class="lyform">
  <form action="/instance/add" method="POST">

    <div class="form-header">
      <h1>${_("Create a new instance")}</h1>
      <p>${_("This the common func")}</p>
    </div>

    <div class="form-element">
      <label for="id_appliance">${_("Appliance catalog:")}</label>
      <select name="appliance" id="id_appliance">
        %for a in appliances:
        <option value="${ a.id }" 
%if a.id == appliance:
selected="selected"
%endif
>${ a.name }</option>
        %endfor
      </select>
      %if appliance_error:
      <div class="field-error">${ appliance_error }</div>
      %endif
    </div>

    <div class="form-element">
      <label for="id_name">${_("Instance Name:")}</label>
      <input id="id_name" type="text" name="name" maxlength="30" value="${ name }"/>
      %if name_error:
      <div class="field-error">${ name_error }</div>
      %endif
    </div>

    %if submit_error:
    <div class="submit-error">{{ submit_error }}</div>
    %endif

    <div class="form-footer">
      <button type="submit">${_("Submit")}</button>
    </div>
  </form>
</div>


</%block>
