<%inherit file="instance_base.html" />

<%block name="main">

<div class="inner-navigator">
  <span><a href="/">${ _("Home") }</a></span>&gt;
  <span><a href="/instance/${ instance.id }">${ instance.name }</a></span>&gt;
  <span>${ _("Edit ") }</span>
</div>


<div class="lrform edit-instance">
  <h2>${_("Edit Instance")}</h2>
  <form method="POST">

    % if ERROR:
    <ol>
      % for e in ERROR:
      <li>${ e }</li>
      % endfor
    </ol>
    % endif

    <div class="item">
      <div class="c1">
        <label for="id_name">${_("Instance Name:")}</label>
        </div>
      <div class="c2">
        <input id="id_name" type="text" name="name" maxlength="30" value="${ instance.name }"/>
      </div>
    </div>

    <div class="item">
      <div class="c1">
        <label for="id_cpus">${_("Cpu Number:")}</label>
      </div>
      <div class="c2">
        <input id="id_cpus" type="text" name="cpus" value="${ instance.cpus }"/>
      </div>
    </div>

    <div class="item">
      <div class="c1">
        <label for="id_memory">${_("Memory:")}</label>
      </div>
      <div class="c2">
        <input id="id_memory" type="text" name="memory" value="${ instance.memory }"/>
      </div>
    </div>

    <div class="submit">
      <input type="submit" value="${ _('Submit') }"/>
    </div>
  </form>
</div>

<script type="text/javascript">
  %if addmethod:
  lyImageDefaultSelectUploadFile(${ addmethod });
  %endif

  lyImageSelectUploadFile();
</script>

</%block>
