<%inherit file="instance_base.html"/>

<%block name="lymain">

<%
   for i in instances:
       if i.appliance and i.appliance.logoname:
           i.logourl = '%s%s/%s' % (APPLIANCE_TOP_URL, i.appliance.id, i.appliance.logoname)
       else:
           i.logourl = '%simg/appliance.png' % THEME_URL

   inst_total = len(instances)
%>

<div id="image-main" class="clearfix">

  <div class="sidebar float-left">

    <div class="menu">
      <span class="normal current" id="c0">${ _("All") } (${ inst_total })</span>
    </div>

  </div>

  <div class="close-main float-right">
    % for inst in instances:
    <div class="instance">
      <div class="logo">
        <a href="/instance/${inst.id}"><img src="${inst.logourl}"  alt="Instance Picture" /></a>
        <span class="status"><img src="${ THEME_URL }icons/InstanceStatus/${ inst.status }.png"  alt="Stauts Image"/></span>
      </div>
      <div class="description">
        <span class="instid">${ inst.id }</span>
        <span class="instname">${ inst.name }</span>
% if inst.ip:
        <span class="instip">${ inst.ip }</span>
% endif
      </div>
    </div>
    % endfor
  </div>
</div>

</%block>
