<div class="instance-base-info" style="display: none;">
  <h2><a href="/instance/${ instance.id }">${ instance.name }</a></h2>

  % if instance.summary:
  <p>${instance.summary}</p>
  % endif

  <ul>
    <li>${ _("CPU numbers:") }${ instance.cpus }</li>
    <li>${ _("Memory:") }${ instance.memory }</li>
  </ul>

  <div class="status">
  </div>

  <div class="action">
    % if current_user and current_user.id == instance.user_id:

    % if isrunning(instance.status):
    <span class="stop"><a class="small-button" href="/instance/${ instance.id }/stop">${ _("Stop") }</a></span>
    % else:
    <span class="run"><a class="small-button" href="/instance/${ instance.id }/run">${ _("Run") }</a></span>
    % endif

    <span class="edit"><a class="small-button" href="/instance/${ instance.id }/edit">${ _("Edit") }</a></span>
    <span class="delete"><a class="small-button" href="/instance/${ instance.id }/delete">${ _("Delete") }</a></span>
    % endif
  </div>

</div>
