<%inherit file="instance_base.html"/>

<%block name="main">

<div class="inner-navigator">
  <span><a href="/">${ _("Home") }</a></span>&gt;
  <span>${ _("View") } ${ instance.name }</span>
</div>

<div id="view-instance" class="clearfix">

  <div class="logo">

    <a href="/instance/${instance.id}"><img class="instance-logo" src="${ instance_logo_url(instance.logo) }" alt="Instance Picture" /></a>

    <span class="status"><img src="${ THEME_URL }icons/InstanceStatus/${ instance.status }.png"  alt="Stauts Image"/></span>

    % if instance.status in [4, 5]:
    <span class="ip">
      <a href="/proxy?host=${ instance.ip }&port=8080">${ instance.ip }</a>
    </span>
    % endif

    <div id="job-status">
      <span id="job-id"></span>
      <span id="job-status-value"></span>
      <span id="job-status-desc"></span>
    </div>

  </div>

  <div class="base">
    <h2>${instance.name}</h2>
    % if instance.summary:
    <p>${instance.summary}</p>
    % endif

    <table>
      <tbody>
        <tr><td>${ _("ID") }</td><td>${ instance.id }</td></tr>
        <tr><td>${ _("Appliance") }</td><td><a href="/appliance/${ instance.appliance.id }">${ instance.appliance.name }</a></td></tr>
        <tr><td>${ _("CPU numbers") }</td><td>${ instance.cpus }</td></tr>
        <tr><td>${ _("Memory") }</td><td>${ instance.memory }</td></tr>
        <tr><td>${ _("Create Time") }</td><td>${ fulltime(instance.created) }</tr>
        <tr><td>${ _("Update Time") }</td><td>${ fulltime(instance.updated) }</td></tr>
      </tbody>
    </table>

<%doc>
    <ul>
      <li><a href="/instance/${ instance.id }/config">${ _("Virtual Machine Configure") }</a></li>
      <li><a href="/instance/${ instance.id }/libvirtd_conf">${ _("Libvirtd Configure") }</a></li>
      <li><a href="/instance/${ instance.id }/osmanager_conf">${ _("Osmanager Configure") }</a></li>
    </ul>
</%doc>

    <div class="action">
      % if current_user and current_user.id in [instance .user_id, 1]:

      % if instance.status in [0, 1, 2, 9, 245, 255]:
      <span class="run"><a class="button" href="/instance/${ instance.id }/run">${ _("Run") }</a></span>
      % else:
      <span class="stop"><a class="button" href="/instance/${ instance.id }/stop">${ _("Stop") }</a></span>
      % endif

      % if instance.status == 245:
      <span class="query"><a class="button" href="/instance/${ instance.id }/query">${ _('Query') }</a></span>
      % endif

      <span class="edit"><a class="button" href="/instance/${ instance.id }/edit">${ _("Edit") }</a></span>
      <span class="delete"><a class="button" href="/instance/${ instance.id }/delete">${ _("Delete") }</a></span>
      % endif
    </div>

  </div>


  <div class="description">
    % if instance.description:
    ${ instance.description }
    % endif
  </div>

</div>

<script type="text/javascript">
  InstanceControl();
</script>

</%block>
