<%inherit file="/base.html"/>

<%block name="head">
<link rel="stylesheet" href="${ theme_url('message.css') }" />
</%block>

<%block name="main">
<div id="message-center" class="luoyun-min-height c">

  <div id="message-center-sidebar" class="min-height-600">

    <div id="message-home-sidemenu" class="action">
      <ul>
        <li><a id="my-inbox-item" href="${ reverse_url('message:inbox') }">${ _("Inbox") }</a></li>
        <li><a id="my-outbox-item" href="${ reverse_url('message:outbox') }">${ _("Outbox") }</a></li>
      </ul>
    </div>

    <div class="new c"><a class="blue-submit" href="${ reverse_url('message:new') }">${ _("New") }</a></div>
  </div>

  <div id="message-center-sidemain">
    <%block name="sidemain"/>
  </div>

</div>

<script type="text/javascript">
  lyMenuSetCurrentEntry2( "#message-home-sidemenu a" );
</script>
</%block>
