<%inherit file="message_base.html" />

<%block name="sidemain">

<div class="c">
  % if messages:
  <div class="outbox-list message-list">
    <table>
      <thead>
	<tr>
          <th>${ _("Send To") }</th>
          <th>${ _("Subject") }</th>
	</tr>
      </thead>
      <tbody>
	% for M in messages:
	<tr>
          <td class="to">
	    <div class="user">
	      <a class="user-avatar" href="${ reverse_url('account:view', M.receiver_id) }" target="_blank"><img src="${ M.receiver.avatar_url }" alt="${ M.receiver.username }" /></a>
	      <a class="username" href="${ reverse_url('account:view', M.receiver_id) }">${ M.receiver.username }</a>
	    </div>
	  </td>
          <td>
	    <div class="subject"><a href="${ reverse_url('message:outbox:view', M.id) }">${ M.subject }</a></div>
            <div class="datetime">${ fulltime(M.created) }</div>
	  </td>
	</tr>
	% endfor
      </tbody>
    </table>
    % else:
    <p class="ly-large-center">${ _("You have not sent any message before !") }</p>
    % endif
  </div>
</div>

</%block>
