<%inherit file="message_base.html" />

<%block name="sidemain">


<div class="ly-view-message">
  <table class="baseinfo">
    <tbody>
      <tr>
	<td>${ _("Sender") }</td>
	<td class="sender"><a href="${ reverse_url('account:view', M.sender_id) }" target="_blank">${ M.sender.username }</a></td>
      </tr>
      <tr>
	<td>${ _("Send time") }</td>
	<td class="sendtime">${ ftime(M.text.sendtime) } (${ htime(M.text.sendtime) })</td>
      </tr>
      <tr>
	<td>${ _("Subject") }</td>
	<td class="subject">${ M.text.subject }</td>
      </tr>
    </tbody>
  </table>
  <div class="body">${ M.text.body }</div>
</div>

<div class="ly-send-message">

  <div class="full-tbform">
    <form method="POST" action="${ reverse_url('message:reply', M.id) }">${ xsrf_form_html() }
      <p>
	<textarea name="text" id="text"></textarea>
      </p>
      <input class="blue-submit" type="submit" value="${ _('Submit') }" class="button" />
    </form>
  </div>

</div>

<script charset="utf-8" src="${ static_url('kindeditor/kindeditor.js') }"></script>
<script charset="utf-8" src="${ static_url('kindeditor/lang/zh_CN.js') }"></script>
<script>
  var editor;
  KindEditor.ready(function(K) {
  editor = K.create('#text', {
    uploadJson : '/ly/upload/kindeditor',
    fileManagerJson : '/ly/upload/kindeditor',
    allowFileManager : true,
    items : [
        'formatblock', 'forecolor', 'hilitecolor', 'bold', 'italic', 'underline', 'removeformat', '|',
        'undo', 'redo', '|', 'code', '|', 
        'insertorderedlist', 'insertunorderedlist',  '|',
        'image', 'insertfile', 'table', 'emoticons',
        'link', 'unlink', '|', 'fullscreen', 'source', 'preview', 'about'
    ],
  });
  });
</script>


</%block>
