<%inherit file="message_base.html" />

<%block name="head">
<link rel="stylesheet" type="text/css" href="${ static_url('markitup/skins/simple/style.css') }" />
<link rel="stylesheet" type="text/css" href="${ static_url('markitup/sets/markdown/style.css') }" />
</%block>

<%block name="sidemain">

<div class="ly-send-message">

  <div class="full-tbform">
    <form method="POST">${ xsrf_form_html() }
	  ${ form.to.label } ${ form.to() }
	  ${ form.html_errors( form.to.errors ) }

	  ${ form.subject.label } ${ form.subject() }
	  ${ form.html_errors( form.subject.errors ) }

	  ${ form.text.label } ${ form.text() }
	  ${ form.html_errors( form.text.errors ) }

	  <button type="submit" class="btn">${ _("Submit") }</button>
    </form>
  </div>

</div>

<script type="text/javascript" src="${ static_url('markitup/jquery.markitup.js') }"></script>
<script type="text/javascript" src="${ static_url('markitup/sets/markdown/set.js') }"></script>

<script type="text/javascript" >
   mySettings.previewParserPath = "/t/preview?markup_language=markdown&_xsrf=${ xsrf_cookie }";
   $(document).ready(function() {
      $("#text").markItUp(mySettings);
   });
</script>

</%block>
