<%inherit file="message_base.html" />

<%block name="sidemain">

<div class="ly-send-message">

  <div class="full-tbform">
    <form method="POST">${ xsrf_form_html() }
      <p>
	${ form.to.label }
	${ form.to() }
	${ form.html_errors( form.to.errors ) }
      </p>

      <p>
	${ form.subject.label }
	${ form.subject() }
	${ form.html_errors( form.subject.errors ) }
      </p>

      <p>
	${ form.text.label }
	${ form.text() }
	${ form.html_errors( form.text.errors ) }
      </p>

      <input class="blue-submit" type="submit" value="${ _('Submit') }" class="button" />
    </form>
  </div>

</div>

<script charset="utf-8" src="${ static_url('kindeditor/kindeditor.js') }"></script>
<script charset="utf-8" src="${ static_url('kindeditor/lang/zh_CN.js') }"></script>
<script>
  var editor;
  KindEditor.ready(function(K) {
  editor = K.create('#text', {
    uploadJson : '/ly/upload/kindeditor',
    fileManagerJson : '/ly/upload/kindeditor',
    allowFileManager : true,
    items : [
        'formatblock', 'forecolor', 'hilitecolor', 'bold', 'italic', 'underline', 'removeformat', '|',
        'undo', 'redo', '|', 'code', '|', 
        'insertorderedlist', 'insertunorderedlist', '|',
        'image', 'insertfile', 'table', 'emoticons',
        'link', 'unlink', '|', 'fullscreen', 'source', 'preview', 'about'
    ],
  });
  });
</script>


</%block>
