<%inherit file="job_base.html"/>

<%block name="lymain">

<div class="main-wrap">
  <div class="inner-navigator">
    <span><a href="/">${ _("Home") }</a></span>&gt;
    <span><a href="/admin">${ _("Admin") }</a></span>&gt;
    <span><a href="/job">${ _("Jobs") }</a></span>
  </div>
</div>

<div class="main-wrap">
  % if JOB_LIST:
  <h2>${ _("Job List") }</h2>
  <table class="list">
    <thead>
      <tr>
        <td>${ _("ID") }</td>
        <td>${ _("User") }</td>
        <td>${ _("Status") }</td>
        <td>${ _("Completed") }</td>
        <td>${ _("Target Type") }</td>
        <td>${ _("Target ID") }</td>
        <td>${ _("Action") }</td>
      </tr>
    </thead>
    <tbody>
      % for j in JOB_LIST:
      <tr>
        <td>${ j.id }</td>
        <td>${ j.user.username }</td>
        <td><img src="${ THEME_URL }icons/JobStatus/${ j.status }.png"  alt="${ job_status(j.status) }"/></td>
        <td>${ fulltime(j.ended) }</td>
        <td>${ j.target_type }</td>
        <td>${ j.target_id }</td>
        <td>${ j.action_str }</td>
      </tr>
      % endfor
    </tbody>
  </table>
  ${ page_html }

  % else:
  <div class="first-warning">
    <p>Have not found any jobs.</p>
  </div>
  % endif

</div>

<script type="text/javascript">
  nodeListUpdater.poll();
</script>

</%block>
