{% extends "node/node_base.html" %}

{% block lymain %}

<div id="node-main">
  {% if nodes %}
  <table>
    <thead>
      <tr>
        <td>Hostname</td>
        <td>IP</td>
        <td>Port</td>
        <td>Status</td>
        <td>Max Memory (KB)</td>
        <td>Free Memory (KB)</td>
        <td>Action</td>
      </tr>
    </thead>
    <tbody>
      {% for n in nodes %}
      <tr>
        <td>{{ n }}</td>
        <td><a href="{% url node:view n.id %}">{{ n.ip }}</a></td>
        <td>{{ n.port }}</td>
        <td><img src="{{ MEDIA_URL }}themes/icons/NodeStatus/{{ n.status }}.png"  alt="{{ n.get_status_display }}"/></td>
        <td>{{ n.max_memory }}</td>
        <td>{{ n.free_memory }}</td>
        <td><a href="{% url node:update n.id %}">update</a></td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
  {% else %}
  <div class="first-warning">
    <p>Have not found any nodes. Please register first!</p>
  </div>
  {% endif %}
</div>

{% endblock %}
