{% if nodes %}
<table>
  <thead>
    <tr>
      <td>IP</td>
      <td>Port</td>
      <td>Status</td>
      <td>Max Memory (KB)</td>
      <td>Free Memory (KB)</td>
      <td>Updated</td>
      <td>Action</td>
    </tr>
  </thead>
  <tbody>
    {% for n in nodes %}
    <tr>
      <td><a href="{% url node:view n.id %}">{{ n.ip }}</a></td>
      <td>{{ n.port }}</td>
      <td><img src="{{ MEDIA_URL }}themes/icons/NodeStatus/{{ n.status }}.png"  alt="{{ n.get_status_display }}"/></td>
      <td>{{ n.max_memory }}</td>
      <td>{{ n.free_memory }}</td>
      <td>{{ n.updated|date:"Y-m-d H:i:s" }}</td>
      <td><a href="{% url node:update n.id %}">update</a></td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% else %}
<p>Have not found any nodes. Please register first!</p>
{% endif %}
