<%inherit file="/admin/node.html"/>

<%block name="main">

<div class="main-wrap">
  <div class="inner-navigator">
    <a href="${ reverse_url('admin:index') }">${ _("Admin") }</a>&gt;
    <a href="${ reverse_url('admin:node') }">${ _("Nodes") }</a>&gt;
    <a href="${ reverse_url('admin:node') }?id=${ NODE.id }&action=view">${ NODE.hostname }</a>&gt;
    <span>${ _("Instances") }</span>
  </div>
</div>

% if INSTANCE_LIST:
<div class="main-wrap">
  <h2>${ _("Instance List") }</h2>
  <table class="list">
    <thead>
      <th>${ _("ID") }</th>
      <th>${ _("Name") }</th>
      <th>${ _("Status") }</th>
      <th>${ _("IP") }</th>
    </thead>
    <tbody>
      % for I in INSTANCE_LIST:
      <tr>
        <td>${ I.id }</td>
        <td><a href="/instance/${ I.id }">${ I.name }</a></td>
        <td>${ locale.translate(I.status_string) }</td>
        <td><a href="${ I.home_url(current_user) }">${ I.ip }</a></td>
      </tr>
      % endfor
    </tbody>
  </table>
</div>
% endif

</%block>
