<%inherit file="/admin/node.html"/>

<%block name="innav">
<li><a href="${ reverse_url('admin:node') }">${ _("Node") }</a></li>
<li><a href="${ reverse_url('admin:node') }?id=${ NODE.id }">${ NODE.hostname }</a></li>
</%block>


<%block name="content">

<p class="manage-content"><a href="${ reverse_url('node:edit', NODE.id) }">${ _("Edit") }</a></p>

<div>
  <table class="table table-striped table-bordered">
    <tbody>
      <tr>
        <td>${ _("ID") }</td>
        <td>${ NODE.id }</td>
      </tr>
      <tr>
        <td>${ _("Hostname") }</td>
        <td>${ NODE.hostname }</td>
      </tr>
        <td>${ _("Key") }</td>
        <td>${ NODE.key }</td>
      <tr>
        <td>${ _("IP") }</td>
        <td>${ NODE.ip }</td>
      </tr>
      <tr>
        <td>${ _("Arch") }</td>
        <td>${ NODE.arch }</td>
      </tr>
      <tr>
        <td>${ _("CPU Model") }</td>
        <td>${ NODE.cpu_model }</td>
      </tr>
      <tr>
        <td>${ _("CPU Mhz") }</td>
        <td>${ NODE.cpu_mhz }</td>
      </tr>
      <tr>
        <td>${ _("Status") }</td>
        <td>${ NODE.status }</td>
      </tr>
      <tr>
        <td>${ _("Isenable") }</td>
        <td>${ NODE.isenable }</td>
      </tr>
      <tr>
        <td>${ _("Memory") }</td>
        <td>${ NODE.memory_human }</td>
      </tr>
      <tr>
        <td>${ _("CPUS") }</td>
        <td>${ NODE.cpus }</td>
      </tr>
      <tr>
        <td>${ _("VMemory") }</td>
        <td>${ NODE.vmemory_human }</td>
      </tr>
      <tr>
        <td>${ _("VCPUS") }</td>
        <td>${ NODE.vcpus }</td>
      </tr>
      <tr>
        <td>${ _("Created") }</td>
        <td>${ NODE.created }</td>
      </tr>
      <tr>
        <td>${ _("Updated") }</td>
        <td>${ NODE.updated }</td>
      </tr>
      <tr>
	<td>${ _("Instances") }</td>
        <td>
	  % if len(NODE.instances):
	  <a href="${ reverse_url('admin:instance') }?node=${ NODE.id }" target="_blank">${ len(NODE.instances) }</a>
	  % endif
	</td>
      </tr>
    </tbody>
  </table>
</div>

</%block>
