{% extends "domain/domain_base.html" %}
{% load i18n %}

{% block lymain %}

<div id="domain-main" class="clearfix">
  <div class="sidebar float-left">
    <div class="add-button"><a href="{% url domain:add %}">Create</a></div>

    <div class="menu">
      <span class="normal current" id="c0">{% trans "All" %} ({{ total }})</span>
      {% for c, n in catalogs %}
      <span class="normal" id="c{{ c.id }}">{{ c.name }} ({{ n }})</span>
      {% endfor %}
    </div>
    <div class="addon">
      <span><a href="{% url domain:add_catalog %}">{% trans "Add Catalog" %}</a></span>
    </div>
  </div>

  <div class="close-main float-left">
    {% for d in domains %}
    <div class="domain clearfix">

      <div class="left">
        <div class="logo">
          <a href="{% url domain:view d.id %}"><img src="{{ d.image.logo_uri }}"  alt="Image Picture" /></a>
        </div>
        <div class="status">
          <img src="{{ MEDIA_URL }}themes/icons/DomainStatus/{{ d.status }}.png"  alt="{{ d.get_status_display }}"/>
        </div>
      </div>

      <div class="right">
        <div class="desc">
          <h2>{{ d.id }} - {{ d.name }}</h2>
          <p>upload by {{ d.user }}</p>
        </div>
        <div class="action">
          <span><a href="{% url domain:edit d.id %}"><img src="/media/img/action_config.png" alt="Edit" /></a></span>
          <span><a href="{% url domain:delete d.id %}"><img src="/media/img/action_delete.png" alt="Delete" /></a></span>
          <span><a href="{% url domain:start d.id %}"><img src="/media/img/action_start.png" alt="Start" /></a></span>
          <span><a href="{% url domain:stop d.id %}"><img src="/media/img/action_stop.png" alt="Stop" /></a></span>
        </div>
      </div>

    </div>
    {% endfor %}

    {% if not images %}
    <div class="first-warning">
      <p>Have not found any domains. Please <a href="{% url domain:add %}">create</a> first!</p>
    </div>
    {% endif %}

  </div>
</div>

<script type="text/javascript">
  lyDomainMenuElementSwitch();
  lyHover("#lyentry .sidebar .menu .normal");
</script>

{% endblock %}
