{% if domains %}

{% for d in domains %}
<div class="domain clearfix">

  <div class="left">
    <div class="logo">
      <a href="{% url domain:view d.id %}"><img src="{{ d.image.logo_uri }}"  alt="Image Picture" /></a>
    </div>
    <div class="status">
      <img src="{{ MEDIA_URL }}themes/icons/DomainStatus/{{ d.status }}.png"  alt="{{ d.get_status_display }}"/>
    </div>
  </div>

  <div class="right">
    <div class="desc">
      <h2>{{ d.id }} - {{ d.name }}</h2>
      <p>upload by {{ d.user }}</p>
    </div>
    <div class="action">
      <span><a href="{% url domain:edit d.id %}"><img src="/media/img/action_config.png" alt="Edit" /></a></span>
      <span><a href="{% url domain:delete d.id %}"><img src="/media/img/action_delete.png" alt="Delete" /></a></span>
      <span><a href="{% url domain:start d.id %}"><img src="/media/img/action_start.png" alt="Start" /></a></span>
      <span><a href="{% url domain:stop d.id %}"><img src="/media/img/action_stop.png" alt="Stop" /></a></span>
    </div>
  </div>

</div>
{% endfor %}

{% else %}

<div style="height: 360px;">
  <p>None domains have found in "{{ catalog }}"</p>
</div>

{% endif %}
