<%inherit file="wiki_base.html"/>

<%block name="main">

<div class="lrform edit-topic">
  <h2>${ _("Edit") } ${ topic.name }</h2>
  <form action="" method="post">

    % if ERROR:
    <ol>
      % for e in ERROR:
      <li>${ e }</li>
      % endfor
    </ol>
    % endif

    <div class="item">
      <div class="c1">
        <label for="id_name">${_("* Name:")}</label>
      </div>
      <div class="c2">
        <input id="id_name" type="text" name="name" maxlength="60" value="${ topic.name }"/>
      </div>
    </div>
    
    <div class="item">
      <div class="c1">
        <label for="id_catalog">${_("Image catalog:")}</label>
      </div>
      <div class="c2">
        <select name="catalog" id="id_catalog">
          % for c in catalogs:
          <option value="${ c.id }" 
                  % if c.id == topic.catalog_id:
                  selected="selected"
                  % endif
                  >${ c.name }</option>

          % endfor
        </select>
      </div>
    </div>

    <div class="item">
      <div class="c1">
        <label for="id_body">${_("Description:")}</label>
      </div>
      <div class="c2">
        <textarea id="id_body" name="body">${ topic.body }</textarea>
      </div>
    </div>

    <div class="submit">
      <input type="submit" value="${ _('Update Topic') }"/>
    </div>

  </form>
</div>

</%block>
