<%inherit file="wiki_base.html"/>

<%block name="main">

<div class="main-wrap large-left-right-form">
  <form method="POST">
    ${ form.name.label } ${ form.name() }<br/>
    ${ form.html_errors( form.name.errors ) }

    ${ form.catalog.label } ${ form.catalog() }<br/>
    ${ form.html_errors( form.catalog.errors ) }

    ${ form.body.label } ${ form.body() }<br/>
    ${ form.html_errors( form.body.errors ) }

    <label>&nbsp;</label><input type="submit" value="${ _('Publish') }" class="button" />
  </form>
</div>

</%block>
