<%inherit file="wiki_base.html"/>

<%block name="main">

<div class="large-tbform c">
  <form method="POST">${ xsrf_form_html() }
    ${ form.name.label } ${ form.name() }<br/>
    ${ form.html_errors( form.name.errors ) }

    ${ form.catalog.label } ${ form.catalog() }<br/>
    ${ form.html_errors( form.catalog.errors ) }

    ${ form.body.label } ${ form.body() }<br/>
    ${ form.html_errors( form.body.errors ) }

    <label>&nbsp;</label><input type="submit" value="${ _('Publish') }" class="button" />
  </form>
</div>

<script charset="utf-8" src="${ STATIC_URL }kindeditor/kindeditor.js"></script>
<script charset="utf-8" src="${ STATIC_URL }kindeditor/lang/zh_CN.js"></script>
<script type="text/javascript">
  var editor;
  KindEditor.ready(function(K) {
    editor = K.create('#body', {
      width: '90%',
      height: '300px',
      uploadJson : '/ly/upload/kindeditor',
      fileManagerJson : '/ly/upload/kindeditor',
      allowFileManager : true,
      items : [
          'formatblock', 'forecolor', 'hilitecolor', 'bold', 'italic', 'underline', 'removeformat', '|',
          'undo', 'redo', '|', 'code', '|', 'justifyleft', 'justifycenter', 'justifyright',
          'insertorderedlist', 'insertunorderedlist', 'indent', 'outdent', '|',
          'image', 'insertfile', 'table', 'emoticons',
          'anchor', 'link', 'unlink', '|', 'fullscreen', 'source', 'preview', 'about'
      ],
    });
  });
</script>

</%block>
