<%inherit file="wiki_base.html"/>

<%block name="main">

<div id="wiki-main">
  % if has_permission('admin'):
  <div class="action clearfix">
    <a id="add-topic" class="blue-submit" href="${ reverse_url('wiki:new') }" title="${ _('Post a new topic') }" target="_blank">${ _("New Topic") }</a>
  </div>
  % endif

  % if catalogs:

  % for c in catalogs:
  <div class="catalog c">

    <h2>${ c.name }</h2>

    % for t in c.topics:
    <div class="item c">
      <div class="name">
        <a href="${ reverse_url('wiki:view', t.id) }">${ t.name }</a>
      </div>
      <div class="description">
        <span class="datetime">${ ftime(t.updated) }</span>
        ${ _("by") }
        <span class="user"><a href="${ reverse_url('account:view', t.user_id) }">${ t.user.username }</a></span>
        ${ _("update") }
      </div>
    </div>
    % endfor

  </div>
  % endfor

  % else:
  <div class="first-warning">
    <p>Have not found any topics !</p>
  </div>
  % endif
</div>

</%block>
