<%inherit file="wiki_base.html"/>

<%block name="main">

<ul class="breadcrumb">
  <li><a href="/"><i class="icon-home"></i> ${ _("Home") }</a> <span class="divider">/</span></li>
  <li><a href="/wiki">${ _("FAQ") }</a> <span class="divider">/</span></li>
  <li>${ topic.name }</li>
</ul>


<div class="c">
  <div class="view-topic">
    <div class="title">
      <h2>${ topic.name }</h2>
    </div>
    <div class="info">
      <span>${ ftime(topic.updated) } updated by ${ topic.user.username }</span>
      % if current_user and current_user.id == topic.user_id or has_permission('admin'):
      <a class="btn btn-mini" href="/wiki/topic/${ topic.id }/edit">${ _("Edit") }</a>
      <a class="btn btn-danger btn-mini" href="/wiki/topic/${ topic.id }/delete">${ _("Delete") }</a>
      % endif
    </div>
    <div class="body markdown">
      ${ topic.body_html }
    </div>
  </div>
</div>

</%block>
