<%inherit file="account_base.html" />

<%block name="lyentry">

%if current_user:
<table>
  <thead>
    <tr>
      <th>Key</th>
      <th>Value</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Username</td>
      <td>${current_user.username}</td>
    </tr>
    <tr>
      <td>ID</td>
      <td>${current_user.id}</td>
    </tr>
    <tr>
      <td>Date Joined</td>
      <td>${current_user.date_joined}</td>
    </tr>
    <tr>
      <td>Last Login</td>
      <td>${current_user.last_login}</td>
    </tr>
    <tr>
      <td>Email</td>
      <td>${current_user.prefs.email}</td>
    </tr>
    <tr>
      <td>Locale</td>
      <td>${current_user.prefs.locale}</td>
    </tr>
    <tr>
      <td>First Name</td>
      <td>${current_user.prefs.first_name}</td>
    </tr>
    <tr>
      <td>Last Name</td>
      <td>${current_user.prefs.last_name}</td>
    </tr>
  </tbody>
</table>
%else:
<p>Anonymous user does not have profile !</p>
%endif

</%block>
