<%inherit file="/admin/admin_base.html" />

<%block name="innav">
<li><a href="${ reverse_url('admin:domain') }">${ _("Domain") }</a></li>
<li>${ _("Configure Site Domain") }</li>
</%block>

<%block name="main">

<div>
  <form method="POST">${ xsrf_form_html() }
	<fieldset>
	  <legend>${ _("Configure Site Domain") }</legend>
      ${ form.topdomain.label } ${ form.topdomain() }
      ${ form.html_errors(form.topdomain.errors) }

      ${ form.prefix.label } ${ form.prefix() }
      ${ form.html_errors(form.prefix.errors) }

      ${ form.suffix.label } ${ form.suffix() }
      ${ form.html_errors(form.suffix.errors) }
	  <br>
	  <button type="submit" class="btn">${ _("Submit") }</button>
	</fieldset>
  </form>
</div>

</%block>
