<%inherit file="wiki_base.html"/>

<%block name="lymain">

<div class="lyform">
  <form action="" method="post">

    <div class="form-element">
      <label for="id_name">${_("* Name:")}</label>
      <input id="id_name" type="text" name="name" maxlength="30" value="${ name }"/>
      ${ name_error }
    </div>

    <div class="form-element">
      <label for="id_summary">${_("Summary:")}</label>
      <input id="id_summary" type="text" name="summary" maxlength="128" value="${ summary }"/>
      ${ summary_error }
    </div>

    <div class="form-element">
      <label for="id_description">${_("Description:")}</label>
      <textarea id="id_description" name="description">${ description }</textarea>
    </div>

    <div class="form-footer">
      <input type="submit" value="${ _('Add Catalog') }"/>
      ${ submit_error }
    </div>
  </form>
</div>

</%block>
