<%inherit file="wiki_base.html"/>

<%block name="lymain">

<div id="wiki-main">
  % if current_user:
  <div class="action">
    <a href="/wiki/catalog/add">${ _("Add Catalog") }</a>
    <a href="/wiki/topic/add">${ _("New Topic") }</a>
  </div>
  % endif

  % if catalogs:

  % for c in catalogs:
  <div class="catalog-list">
    <div class="catalog-name">
      <h2>${ c.name }</h2>
    </div>
    % for t in c.topics:
    <div class="topic-list clearfix">
      <div class="name">
        <a href="/wiki/topic/${ t.id }">${ t.name }</a>
      </div>
      <div class="description">
        <span class="updated">${ fulltime(t.updated) }</span>
        ${ _("by") }
        <span class="user"><a href="/account/${ t.user_id }">${ t.user.username }</a></span>
        ${ _("update") }
      </div>
    </div>
    % endfor
  </div>
  % endfor

  % else:
  <div class="first-warning">
    <p>Have not found any topics !</p>
  </div>
  % endif
</div>

</%block>
