{% extends "job/job_base.html" %}

{% block lymain %}

{% if jobs %}
<table>
  <thead>
    <tr>
      <td>ID</td>
      <td>User</td>
      <td>Status</td>
      <td>Created</td>
      <td>Started</td>
      <td>Ended</td>
      <td>Target Type</td>
      <td>Target ID</td>
      <td>Action</td>
    </tr>
  </thead>
  <tbody>
    {% for j in jobs %}
    <tr>
      <td>{{ j.id }}</td>
      <td>{{ j.user }}</td>
      <td><img src="{{ MEDIA_URL }}themes/icons/JobStatus/{{ j.status }}.png"  alt="{{ j.get_status_display }}"/></td>
      <td>{{ j.created|date:"Y-m-d H:i" }}</td>
      <td>{{ j.started|date:"Y-m-d H:i" }}</td>
      <td>{{ j.ended|date:"Y-m-d H:i" }}</td>
      <td>{{ j.get_target_type_display }}</td>
      <td>{{ j.target_id }}</td>
      <td>{{ j.get_action_display }}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% else %}
<div class="first-warning">
  <p>Have not found any jobs !</p>
</div>
{% endif %}

{% endblock %}
