<%inherit file="/admin/admin_base.html" />

<%block name="content">

<div class="main-wrap">
  <div class="inner-navigator">
    <span><a href="${ reverse_url('admin:index') }">${ _("Admin") }</a></span>&gt;
    <span><a href="${ reverse_url('admin:wiki') }">${ _("Wiki") }</a></span>
  </div>
</div>

<div class="main-wrap">
  <span><a class="button" href="${ reverse_url('admin:wiki') }?action=add_catalog">${ _("Create New Catalog") }</a></span>
  <span><a class="button" href="${ reverse_url('admin:wiki') }?action=topics">${ _("All topics") }</a></span>
</div>

<div class="main-wrap">
  <table class="list">
    <tbody>
      % for C in catalogs:
      <tr>
        <td>${ C.id }</td>
        <td><a href="${ reverse_url('admin:wiki') }?action=topics&catalog=${ C.id }">${ C.name }</a></td>
        <td><a href="${ reverse_url('admin:wiki') }?action=edit_catalog&catalog=${ C.id }"><img src="${ THEME_URL }img/edit.png" title="${ _('Edit') }"/></a></td>
      </tr>
      % endfor
    </tbody>
  </table>
</div>


</%block>
